NodeRed/flows.json
[{"id":"80e7fcae.e60348","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9fe9cc56.678888","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9bd243c4.fa1ac","type":"tab","label":"Controles de persiana","disabled":false,"info":""},{"id":"6f26701.f6c739","type":"tab","label":"SQL_Temp","disabled":false,"info":""},{"id":"ccc70095.e8d18","type":"tab","label":"Control de servidor","disabled":false,"info":""},{"id":"f3d60e61.2dd1f8","type":"tab","label":"Calefacción","disabled":false,"info":""},{"id":"ebd810a2.dbd2d","type":"tab","label":"persiana de comedor","disabled":false,"info":""},{"id":"71668925.bf44a8","type":"tab","label":"Persiana estudio","disabled":false,"info":""},{"id":"40d33270.e937bc","type":"tab","label":"persiana habitacion","disabled":false,"info":""},{"id":"e59a737e.21011","type":"tab","label":"Test","disabled":false,"info":""},{"id":"f0ddc17c.4ba93","type":"tab","label":"Test - Subflow","disabled":false,"info":""},{"id":"fa9b3c4d.e0031","type":"subflow","name":"Control-Persiana","info":"Dispone de Salida para Conectar a MQTT\n## Variables de entorno\n * MQTT_ON = True / False\n * MQTT_Topic = Topic de MQTT al que enviar mensajes\n * move_timer = Tiempo que tarda la Persiana en subir y bajar\n \n## Imput\n * Dipone de una entrada donde se puede conectar alexa a o botones para control\n *  * Alexa: https://alexa-node-red.bm.hardill.me.uk/docs\n *  *  Botones:\n *  *  *  true - Levanta al 100%\n *  *  *  false - Baja al 100%\n *  *  *  ","category":"","in":[{"x":60,"y":80,"wires":[{"id":"2afb7067.454ce"},{"id":"6a9e4975.0534a8"},{"id":"77b5206f.108d3"}]}],"out":[{"x":1160,"y":40,"wires":[{"id":"b27682da.71eec","port":0}]},{"x":1060,"y":1180,"wires":[{"id":"7092d534.1f47dc","port":0}]},{"x":1060,"y":1280,"wires":[{"id":"1c8dee.e60ce212","port":0},{"id":"811f1386.ec439","port":0},{"id":"ca4b9c61.aa042","port":0}]}],"env":[{"name":"move_time","type":"num","value":"30"},{"name":"MQTT_Topic","type":"str","value":"persia/per4/order"},{"name":"MQTT_ON","type":"bool","value":"true"}],"color":"#F3B567","inputLabels":["Alexa"],"outputLabels":["MQTT Messages","Persiana %","Internal process ON"]},{"id":"cc03406e.951f78","type":"mqtt-broker","z":"","name":"Local_echao","broker":"192.168.3.181","port":"1883","clientid":"server","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Hola!","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f9f94cb8.ee3658","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e17c708f.551c6","type":"ui_group","z":"","name":"Interna","tab":"f9f94cb8.ee3658","order":3,"disp":true,"width":"7","collapse":true},{"id":"f360b055.14aa98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006d8f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Persia - Node-RED ","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bdcba475.3f451","type":"ui_group","z":"","name":"Externa","tab":"f9f94cb8.ee3658","order":4,"disp":true,"width":7,"collapse":true},{"id":"24ec8664.0046ea","type":"ui_group","z":"","name":"Config","tab":"f9f94cb8.ee3658","order":2,"disp":true,"width":"4","collapse":true},{"id":"dad8f1be.6eabc","type":"ui_tab","z":"","name":"Graficas","icon":"dashboard","disabled":false,"hidden":false},{"id":"92bf5dd4.6916f8","type":"ui_group","z":"","name":"Humedad","tab":"dad8f1be.6eabc","disp":true,"width":8,"collapse":false},{"id":"e0fcee29.3d10c8","type":"ui_group","z":"","name":"Temperatura","tab":"dad8f1be.6eabc","disp":true,"width":8,"collapse":false},{"id":"75e718cb.2a237","type":"ui_group","z":"","name":"persiana","tab":"f9f94cb8.ee3658","order":1,"disp":true,"width":"3","collapse":true},{"id":"4cab9f17.1e3dc","type":"MySQLdatabase","z":"","name":"temperaturas","host":"192.168.3.181","port":"3306","db":"temperaturas","tz":""},{"id":"7e1201e0.3a026","type":"ui_group","z":"","name":"Default","tab":"fa118f4f.d2b13","disp":true,"width":"6"},{"id":"fa118f4f.d2b13","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"6952beb0.4ab72","type":"ui_spacer","name":"spacer","group":"75e718cb.2a237","order":2,"width":1,"height":1},{"id":"e960a910.106c2","type":"ui_spacer","name":"spacer","group":"75e718cb.2a237","order":8,"width":1,"height":1},{"id":"2e8ab469.04b3f4","type":"ui_spacer","name":"spacer","group":"e17c708f.551c6","order":2,"width":1,"height":1},{"id":"6b338de8.80376c","type":"ui_spacer","name":"spacer","group":"e17c708f.551c6","order":4,"width":1,"height":1},{"id":"67ab695a.408fa8","type":"ui_spacer","name":"spacer","group":"bdcba475.3f451","order":2,"width":1,"height":1},{"id":"4469c745.a9d228","type":"ui_spacer","name":"spacer","group":"bdcba475.3f451","order":4,"width":1,"height":1},{"id":"1b64051d.e0c82b","type":"ui_group","z":"","name":"Default","tab":"3b3fa94a.563c0e","order":3,"disp":true,"width":"6","collapse":false},{"id":"1cc2ab22.16574d","type":"mqtt-broker","z":"","name":"paul_broker","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77e7a084.a7421","type":"ui_group","z":"","name":"Remote relay","tab":"fd47a978.e5bf58","disp":true,"width":"4","collapse":false},{"id":"fd47a978.e5bf58","type":"ui_tab","z":"","name":"ESP devices","icon":"dashboard","order":10,"disabled":true,"hidden":false},{"id":"ebaa9ce8.097a38","type":"ui_group","z":"","name":"GAUGE INPUT SELECTOR","tab":"e4cdd3fd.dd9878","disp":true,"width":8,"collapse":false},{"id":"e4cdd3fd.dd9878","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"a3c74eb.0c015b","type":"ui_group","z":"","name":"GAUGE INPUT SELECTOR","tab":"2494fb34.68893c","disp":true,"width":8,"collapse":false},{"id":"2494fb34.68893c","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"1b2482ce.9d5025","type":"ui_group","z":"","name":"Test tab","tab":"664331d.2a3b6d","disp":true,"width":"6","collapse":false},{"id":"b84209ee.f4b318","type":"mqtt-broker","z":"","name":"Homey MQTT","broker":"192.168.1.22","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"664331d.2a3b6d","type":"ui_tab","z":"","name":"Testing","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2db3afb4.5d879","type":"ui_group","z":"","name":"Default","tab":"128abede.c17501","disp":true,"width":"6","collapse":false},{"id":"128abede.c17501","type":"ui_tab","z":"","name":"ButtonBug","icon":"dashboard","disabled":false,"hidden":false},{"id":"45adb211.c11d1c","type":"alexa-home-conf","z":"","username":"_echao_"},{"id":"7aed12ff.27dd4c","type":"alexa-smart-home-v3-conf","z":"","username":"echao","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk"},{"id":"65deacaa.c1e404","type":"alexa-home-conf","z":"","username":"_echao_"},{"id":"d02bbcae.80504","type":"alexa-home-conf","z":"","username":"echao"},{"id":"60a199.33c71668","type":"ui_group","z":"","name":"Server Status","tab":"f9f94cb8.ee3658","order":5,"disp":true,"width":"7","collapse":true},{"id":"d027ab97.3a492","type":"websocket-listener","z":"","path":"/socket","wholemsg":"false"},{"id":"4bd0059.bd202fc","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":4,"width":1,"height":1},{"id":"7fc759d4.08fef8","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":6,"width":1,"height":1},{"id":"aa09b2de.49e648","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":8,"width":1,"height":1},{"id":"7c1131c4.1d1a6","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":10,"width":1,"height":1},{"id":"272cec9b.0db39c","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":2,"width":1,"height":1},{"id":"2beb25b8.54de42","type":"ui_group","z":"","name":"Calefaccion","tab":"f9f94cb8.ee3658","order":6,"disp":true,"width":"7","collapse":true},{"id":"6cef0b3c.fc1fa4","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92d9eace.31b468","type":"mqtt in","z":"80e7fcae.e60348","name":"","topic":"persia/log","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":80,"y":100,"wires":[["810353fa.0006c"]]},{"id":"800599d8.6d94d8","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"","pretty":false,"x":430,"y":100,"wires":[["c56dd76c.1494a8","91ec9cf1.0bf7c"]]},{"id":"3154f2d2.dc045e","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":240,"wires":[["be9b2768.bdf06","accdcd79.dbfd"]]},{"id":"be9b2768.bdf06","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"e17c708f.551c6","order":3,"width":3,"height":3,"gtype":"gage","title":"Humedad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#0056d6","#00fa00","#ca3838"],"seg1":"40","seg2":"60","x":940,"y":240,"wires":[]},{"id":"e16c0157.66084","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"e17c708f.551c6","order":1,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#0432ff","#00b500","#ca3838"],"seg1":"19","seg2":"25","x":950,"y":480,"wires":[]},{"id":"43152bff.4dc4cc","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":480,"wires":[["e16c0157.66084","5fde254b.6a8ea4"]]},{"id":"311eee27.47d47a","type":"switch","z":"80e7fcae.e60348","name":"Interno","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"termo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["3154f2d2.dc045e","43152bff.4dc4cc","cb8acef8.b24c9"]]},{"id":"4ef218c9.ffca7","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":640,"wires":[["fe598516.9f46f","957272f.3a6511"]]},{"id":"fe598516.9f46f","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"bdcba475.3f451","order":3,"width":3,"height":3,"gtype":"gage","title":"Humedad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#0056d6","#00fa00","#ca3838"],"seg1":"40","seg2":"60","x":940,"y":640,"wires":[]},{"id":"d951d1be.68b338","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"bdcba475.3f451","order":1,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#0432ff","#00b500","#ca3838"],"seg1":"19","seg2":"25","x":950,"y":860,"wires":[]},{"id":"60702cb1.fa1b94","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":860,"wires":[["d951d1be.68b338","deada7a5.2107a"]]},{"id":"8d3c8632.16bb88","type":"switch","z":"80e7fcae.e60348","name":"Externo","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"per2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":620,"wires":[["4ef218c9.ffca7","60702cb1.fa1b94","4181e94f.d75d18"]]},{"id":"2020d36.2d67aac","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"e0fcee29.3d10c8","order":2,"width":4,"height":4,"label":"T-Externa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"2","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1180,"y":900,"wires":[[]]},{"id":"b9f15ddd.ec8668","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"e0fcee29.3d10c8","order":1,"width":4,"height":4,"label":"T-Interna","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":540,"wires":[[]]},{"id":"c1a0a94a.eafd1","type":"ui_toast","z":"80e7fcae.e60348","position":"bottom right","displayTime":"8","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1170,"y":60,"wires":[]},{"id":"c56dd76c.1494a8","type":"switch","z":"80e7fcae.e60348","name":"pop-up connecting","property":"payload.staus","propertyType":"msg","rules":[{"t":"eq","v":"connecting","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":60,"wires":[["652e8840.b1a618"]]},{"id":"652e8840.b1a618","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"str","pretty":false,"x":850,"y":60,"wires":[["c1a0a94a.eafd1"]]},{"id":"99e024d5.4f13e","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"92bf5dd4.6916f8","order":1,"width":"4","height":"4","label":"H-Interna","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":280,"wires":[[]]},{"id":"d14a6faa.eb77c8","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"92bf5dd4.6916f8","order":2,"width":"4","height":"4","label":"H-Externa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":680,"wires":[[]]},{"id":"91ec9cf1.0bf7c","type":"switch","z":"80e7fcae.e60348","name":"pop-up alive","property":"payload.staus","propertyType":"msg","rules":[{"t":"eq","v":"alive","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":120,"wires":[["7c1a2c46.daf224"]]},{"id":"7c1a2c46.daf224","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"str","pretty":false,"x":850,"y":120,"wires":[["f1ef9018.90abd8"]]},{"id":"f1ef9018.90abd8","type":"ui_toast","z":"80e7fcae.e60348","position":"bottom right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1170,"y":120,"wires":[]},{"id":"5fde254b.6a8ea4","type":"rbe","z":"80e7fcae.e60348","name":"Filtro de banda 0,45","func":"deadbandEq","gap":"0.45","start":"","inout":"out","property":"payload","x":980,"y":540,"wires":[["b9f15ddd.ec8668","42e32504.f63874","bac50edd.b150e"]]},{"id":"deada7a5.2107a","type":"rbe","z":"80e7fcae.e60348","name":"Filtro de banda 0,45","func":"deadbandEq","gap":"0.45","start":"","inout":"out","property":"payload","x":980,"y":900,"wires":[["2020d36.2d67aac","65a2736b.2ca8cc","4d51e19d.8f1f88"]]},{"id":"3126297a.d3bfce","type":"ui_switch","z":"9fe9cc56.678888","name":"","label":"Auto - Externo","tooltip":"","group":"24ec8664.0046ea","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"persia/per2/mode","style":"","onvalue":"{\"mode\":\"auto\",\"time\": 20000}","onvalueType":"json","onicon":"fa-power-off","oncolor":"green","offvalue":"{\"mode\":\"standard\",\"time\": 20000}","offvalueType":"json","officon":"fa-power-off","offcolor":"red","x":400,"y":180,"wires":[["8918d538.a95e8"]]},{"id":"8918d538.a95e8","type":"mqtt out","z":"9fe9cc56.678888","name":"MQTT - Retain payload","topic":"","qos":"2","retain":"true","broker":"cc03406e.951f78","x":830,"y":160,"wires":[]},{"id":"148d71d4.8a502e","type":"ui_switch","z":"9fe9cc56.678888","name":"","label":"Auto - Interior","tooltip":"","group":"24ec8664.0046ea","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"persia/termo/mode","style":"","onvalue":"{\"mode\":\"auto\",\"time\": 20000}","onvalueType":"json","onicon":"fa-power-off","oncolor":"green","offvalue":"{\"mode\":\"standard\",\"time\":20000}","offvalueType":"json","officon":"fa-power-off","offcolor":"red","x":400,"y":120,"wires":[["8918d538.a95e8"]]},{"id":"292b8cc6.4f5734","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"24ec8664.0046ea","order":5,"width":2,"height":1,"passthru":false,"label":"GetInfo","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-rss fa-x2","payload":"{\"order\":\"getInfo\"}","payloadType":"json","topic":"persia/general","x":380,"y":240,"wires":[["8918d538.a95e8"]]},{"id":"957272f.3a6511","type":"rbe","z":"80e7fcae.e60348","name":"Filtro 0.9","func":"deadbandEq","gap":"0.9","start":"","inout":"out","property":"payload","x":940,"y":680,"wires":[["d14a6faa.eb77c8","66d50a46.b8c254","e64d7026.56855"]]},{"id":"accdcd79.dbfd","type":"rbe","z":"80e7fcae.e60348","name":"Filtro 0.9","func":"deadbandEq","gap":"0.9","start":"","inout":"out","property":"payload","x":940,"y":280,"wires":[["99e024d5.4f13e","6ee2c9a6.bc00d8","c2f96f0a.a4806"]]},{"id":"fd3ea00.b91286","type":"mqtt in","z":"80e7fcae.e60348","name":"","topic":"persia/temp","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":90,"y":340,"wires":[["b67a30b5.5acff8"]]},{"id":"b67a30b5.5acff8","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"","pretty":false,"x":250,"y":340,"wires":[["311eee27.47d47a","8d3c8632.16bb88"]]},{"id":"e678538.eba13b","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.disp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":980,"wires":[["9c98716c.0b63f"]]},{"id":"4eb24659.c0c95","type":"ui_led","z":"80e7fcae.e60348","group":"24ec8664.0046ea","order":3,"width":1,"height":1,"label":"I","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1050,"y":1040,"wires":[]},{"id":"9c98716c.0b63f","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1040,"wires":[["4eb24659.c0c95","2de83212.5291e6"]]},{"id":"2de83212.5291e6","type":"timeouttrigger","z":"80e7fcae.e60348","ontimeouttype":"str","ontimeoutval":"false","duration":"25","units":"s","name":"","x":910,"y":1080,"wires":[["4eb24659.c0c95","6619ef96.627b18"]]},{"id":"bdf62c04.c8b72","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.disp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1160,"wires":[["3b9c98d0.26fa7"]]},{"id":"f83fc919.9d6b","type":"ui_led","z":"80e7fcae.e60348","group":"24ec8664.0046ea","order":4,"width":1,"height":1,"label":"E","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1050,"y":1220,"wires":[]},{"id":"3b9c98d0.26fa7","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1220,"wires":[["f83fc919.9d6b","9e312430.265dc8"]]},{"id":"9e312430.265dc8","type":"timeouttrigger","z":"80e7fcae.e60348","ontimeouttype":"str","ontimeoutval":"false","duration":"25","units":"s","name":"","x":910,"y":1260,"wires":[["f83fc919.9d6b","887e27fa.9f2ab"]]},{"id":"cb8acef8.b24c9","type":"link out","z":"80e7fcae.e60348","name":"Interno","links":["6d2c26de.cac058","18fcaa4d.3c5296"],"x":595,"y":200,"wires":[]},{"id":"4181e94f.d75d18","type":"link out","z":"80e7fcae.e60348","name":"Externo","links":["7ce91e6b.697eb"],"x":615,"y":580,"wires":[]},{"id":"6d2c26de.cac058","type":"link in","z":"80e7fcae.e60348","name":"","links":["cb8acef8.b24c9"],"x":275,"y":980,"wires":[["e678538.eba13b"]]},{"id":"7ce91e6b.697eb","type":"link in","z":"80e7fcae.e60348","name":"","links":["4181e94f.d75d18"],"x":275,"y":1160,"wires":[["bdf62c04.c8b72"]]},{"id":"2213ef3c.716398","type":"link out","z":"80e7fcae.e60348","name":"Int-Trigger-off","links":["5f06a566.cf81fc"],"x":1215,"y":1100,"wires":[]},{"id":"2bbe45ea.65e9f2","type":"link out","z":"80e7fcae.e60348","name":"Ext-Trigger-off","links":["6cf9283c.f1bb78"],"x":1235,"y":1300,"wires":[]},{"id":"5f06a566.cf81fc","type":"link in","z":"80e7fcae.e60348","name":"","links":["2213ef3c.716398"],"x":615,"y":360,"wires":[["a4c43b2f.9f1978"]]},{"id":"a4c43b2f.9f1978","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["e16c0157.66084","be9b2768.bdf06"]]},{"id":"6619ef96.627b18","type":"switch","z":"80e7fcae.e60348","name":"True / false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1100,"wires":[[],["2213ef3c.716398"]]},{"id":"6cf9283c.f1bb78","type":"link in","z":"80e7fcae.e60348","name":"","links":["2bbe45ea.65e9f2"],"x":615,"y":760,"wires":[["4921bf53.6d4128"]]},{"id":"4921bf53.6d4128","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":760,"wires":[["fe598516.9f46f","d951d1be.68b338"]]},{"id":"887e27fa.9f2ab","type":"switch","z":"80e7fcae.e60348","name":"True / false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1300,"wires":[[],["2bbe45ea.65e9f2"]]},{"id":"76f49e7.0dc616","type":"comment","z":"80e7fcae.e60348","name":"","info":"Comprobar que recibo Temp cada 25 segundos para encender y apagar led","x":300,"y":920,"wires":[]},{"id":"9f4ab366.beaaa","type":"comment","z":"80e7fcae.e60348","name":"","info":"Si no mandan datos, pongo los relojes a 0","x":740,"y":720,"wires":[]},{"id":"91998572.096718","type":"comment","z":"80e7fcae.e60348","name":"","info":"Si no mandan datos, pongo los relojes a 0","x":740,"y":320,"wires":[]},{"id":"c6f76027.41e2a8","type":"comment","z":"80e7fcae.e60348","name":"","info":"Comprobar que recibo Temp cada 25 segundos para encender y apagar led","x":300,"y":1100,"wires":[]},{"id":"810353fa.0006c","type":"delay","z":"80e7fcae.e60348","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":100,"wires":[["800599d8.6d94d8"]]},{"id":"758d4dd2.615cdc","type":"comment","z":"9fe9cc56.678888","name":"Botones Control","info":"","x":200,"y":60,"wires":[]},{"id":"6ee2c9a6.bc00d8","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":360,"wires":[]},{"id":"42e32504.f63874","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":480,"wires":[]},{"id":"66d50a46.b8c254","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":740,"wires":[]},{"id":"65a2736b.2ca8cc","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":820,"wires":[]},{"id":"c95b30d6.9880a8","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"","pretty":false,"x":250,"y":120,"wires":[["148d71d4.8a502e"]]},{"id":"3f02deb8.cfe0ba","type":"mqtt in","z":"9fe9cc56.678888","name":"","topic":"persia/termo/mode","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":90,"y":120,"wires":[["c95b30d6.9880a8"]]},{"id":"6a91ba02.8c4e94","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"","pretty":false,"x":250,"y":180,"wires":[["3126297a.d3bfce"]]},{"id":"c7240786.62402","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":4,"width":1,"height":1,"passthru":false,"label":"2","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-up fa-2x","payload":"{\"order\":\"up\"}","payloadType":"json","topic":"persia/per2/order","x":370,"y":540,"wires":[["63a17f94.e7c008","d7c8039d.1edc8"]]},{"id":"63a17f94.e7c008","type":"timeouttrigger","z":"9fe9cc56.678888","ontimeouttype":"str","ontimeoutval":"{\"order\":\"stop\"}","duration":"30","units":"s","name":"","x":530,"y":600,"wires":[["afa38489.758a68"]]},{"id":"d7c8039d.1edc8","type":"mqtt out","z":"9fe9cc56.678888","name":"","topic":"persia/per2/order","qos":"","retain":"","broker":"cc03406e.951f78","x":990,"y":600,"wires":[]},{"id":"afa38489.758a68","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":600,"wires":[["d7c8039d.1edc8"]]},{"id":"7968e9d.b523718","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":6,"width":1,"height":1,"passthru":false,"label":"2","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-down fa-2x","payload":"{\"order\":\"down\"}","payloadType":"json","topic":"persia/per2/order","x":370,"y":660,"wires":[["d7c8039d.1edc8","63a17f94.e7c008"]]},{"id":"97dcdd6d.2bd338","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":1,"width":1,"height":1,"passthru":false,"label":"1","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-up fa-2x","payload":"{\"order\":\"up\"}","payloadType":"json","topic":"persia/per1/order","x":370,"y":340,"wires":[["ff8c3161.5c247","846e045c.8d56f"]]},{"id":"ff8c3161.5c247","type":"timeouttrigger","z":"9fe9cc56.678888","ontimeouttype":"str","ontimeoutval":"{\"order\":\"stop\"}","duration":"30","units":"s","name":"","x":530,"y":400,"wires":[["a150fa1a.eda8b8"]]},{"id":"846e045c.8d56f","type":"mqtt out","z":"9fe9cc56.678888","name":"","topic":"persia/per1/order","qos":"","retain":"","broker":"cc03406e.951f78","x":990,"y":400,"wires":[]},{"id":"a150fa1a.eda8b8","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":400,"wires":[["846e045c.8d56f"]]},{"id":"7b6d8dbe.5d9f2c","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":3,"width":1,"height":1,"passthru":false,"label":"1","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-down fa-2x","payload":"{\"order\":\"down\"}","payloadType":"json","topic":"persia/per1/order","x":370,"y":460,"wires":[["846e045c.8d56f","ff8c3161.5c247"]]},{"id":"9b0190ea.a3f4","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":7,"width":1,"height":1,"passthru":false,"label":"3","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-up fa-2x","payload":"{\"order\":\"up\"}","payloadType":"json","topic":"persia/per3/order","x":370,"y":760,"wires":[["ac096909.030e58","9cd3aa3e.79fae8"]]},{"id":"ac096909.030e58","type":"timeouttrigger","z":"9fe9cc56.678888","ontimeouttype":"str","ontimeoutval":"{\"order\":\"stop\"}","duration":"30","units":"s","name":"","x":530,"y":820,"wires":[["224eb61a.fe41f2"]]},{"id":"9cd3aa3e.79fae8","type":"mqtt out","z":"9fe9cc56.678888","name":"","topic":"persia/per3/order","qos":"2","retain":"","broker":"cc03406e.951f78","x":990,"y":800,"wires":[]},{"id":"224eb61a.fe41f2","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":820,"wires":[["9cd3aa3e.79fae8"]]},{"id":"a6c7cdf0.a792a","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":9,"width":1,"height":1,"passthru":false,"label":"3","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-down fa-2x","payload":"{\"order\":\"down\"}","payloadType":"json","topic":"persia/per3/order","x":370,"y":880,"wires":[["9cd3aa3e.79fae8","ac096909.030e58"]]},{"id":"241b9f21.f063f8","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":5,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"red","bgcolor":"#FFFFFF","icon":"fa-stop-circle fa-2x","payload":"{\"order\":\"stop\"}","payloadType":"json","topic":"persia/per3/order","x":750,"y":660,"wires":[["9cd3aa3e.79fae8","d7c8039d.1edc8","846e045c.8d56f"]]},{"id":"8474599f.d7ab2","type":"comment","z":"9fe9cc56.678888","name":"Botones Persianas","info":"","x":390,"y":300,"wires":[]},{"id":"4715a99d.e76258","type":"mqtt in","z":"9fe9cc56.678888","name":"","topic":"persia/per2/mode","qos":"1","datatype":"auto","broker":"cc03406e.951f78","x":90,"y":180,"wires":[["6a91ba02.8c4e94"]]},{"id":"170011d6.654cd6","type":"ui_switch","z":"9bd243c4.fa1ac","name":"","label":"switch","tooltip":"","group":"77e7a084.a7421","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-power-off","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"red","x":210,"y":360,"wires":[["bfc4519e.261868","27c0a9bc.6b80d6"]]},{"id":"baa4e3ac.4f0bc","type":"ui_switch","z":"9bd243c4.fa1ac","name":"","label":"switch","tooltip":"","group":"77e7a084.a7421","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-power-off","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"red","x":170,"y":180,"wires":[["e3f000d6.186118","273186d5.e93bc2"]]},{"id":"e3f000d6.186118","type":"ui_led","z":"9bd243c4.fa1ac","group":"77e7a084.a7421","order":8,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":330,"y":80,"wires":[]},{"id":"af484fcd.1176e8","type":"change","z":"9bd243c4.fa1ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":200,"wires":[["ed44b40e.ff162"]]},{"id":"273186d5.e93bc2","type":"switch","z":"9bd243c4.fa1ac","name":"True / false","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":200,"wires":[["af484fcd.1176e8"]]},{"id":"bfc4519e.261868","type":"ui_led","z":"9bd243c4.fa1ac","group":"77e7a084.a7421","order":8,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":370,"y":280,"wires":[]},{"id":"ed44b40e.ff162","type":"link out","z":"9bd243c4.fa1ac","name":"off-1","links":["f5856e2a.bf4b1","c81a5b33.fbd6b8","818f5a7a.68de2"],"x":675,"y":200,"wires":[]},{"id":"fdaa9b0.36c6868","type":"change","z":"9bd243c4.fa1ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":460,"wires":[["398a3892.e1b78"]]},{"id":"27c0a9bc.6b80d6","type":"switch","z":"9bd243c4.fa1ac","name":"True / false","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":460,"wires":[["fdaa9b0.36c6868"]]},{"id":"398a3892.e1b78","type":"link out","z":"9bd243c4.fa1ac","name":"b2","links":["1fdfe38e.bc000c","818f5a7a.68de2"],"x":755,"y":460,"wires":[]},{"id":"1fdfe38e.bc000c","type":"link in","z":"9bd243c4.fa1ac","name":"","links":["398a3892.e1b78","e6b137c5.ae7d"],"x":55,"y":80,"wires":[["e3f000d6.186118","baa4e3ac.4f0bc"]]},{"id":"c81a5b33.fbd6b8","type":"link in","z":"9bd243c4.fa1ac","name":"","links":["e6b137c5.ae7d","ed44b40e.ff162"],"x":75,"y":280,"wires":[["bfc4519e.261868","170011d6.654cd6"]]},{"id":"8dfe5664.627d08","type":"ui_switch","z":"9bd243c4.fa1ac","name":"","label":"switch","tooltip":"","group":"77e7a084.a7421","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-power-off","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"red","x":170,"y":580,"wires":[["3b8206e8.f8a192","356a0364.40129c"]]},{"id":"3b8206e8.f8a192","type":"ui_led","z":"9bd243c4.fa1ac","group":"77e7a084.a7421","order":8,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":310,"y":540,"wires":[]},{"id":"fa057bfe.38547","type":"change","z":"9bd243c4.fa1ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":620,"wires":[["e6b137c5.ae7d"]]},{"id":"356a0364.40129c","type":"switch","z":"9bd243c4.fa1ac","name":"True / false","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":620,"wires":[["fa057bfe.38547"]]},{"id":"e6b137c5.ae7d","type":"link out","z":"9bd243c4.fa1ac","name":"off-3","links":["c81a5b33.fbd6b8","1fdfe38e.bc000c"],"x":715,"y":620,"wires":[]},{"id":"818f5a7a.68de2","type":"link in","z":"9bd243c4.fa1ac","name":"","links":["398a3892.e1b78","ed44b40e.ff162"],"x":75,"y":540,"wires":[["3b8206e8.f8a192","8dfe5664.627d08"]]},{"id":"22e784c8.f09d5c","type":"mysql","z":"6f26701.f6c739","d":true,"mydb":"4cab9f17.1e3dc","name":"","x":870,"y":280,"wires":[["c42aed8b.177c2"]]},{"id":"c42aed8b.177c2","type":"debug","z":"6f26701.f6c739","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"fe07c2bc.1f5638","type":"inject","z":"6f26701.f6c739","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from tempera","payload":"","payloadType":"str","x":200,"y":80,"wires":[["22e784c8.f09d5c"]]},{"id":"3b8cc3e.c9fe3bc","type":"inject","z":"6f26701.f6c739","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO `tempera`( `temp_int`, `hume_int`, `temp_out`, `hume_out`) VALUES (\"22\",\"60.5\",\"15.5\",\"70.5\")","payload":"","payloadType":"str","x":150,"y":140,"wires":[["22e784c8.f09d5c"]]},{"id":"bac50edd.b150e","type":"link out","z":"80e7fcae.e60348","name":"temp_int","links":["470bcc2b.20ead4"],"x":1200,"y":600,"wires":[]},{"id":"c2f96f0a.a4806","type":"link out","z":"80e7fcae.e60348","name":"hume_int","links":["5a5b112f.77977"],"x":1200,"y":420,"wires":[]},{"id":"e64d7026.56855","type":"link out","z":"80e7fcae.e60348","name":"hume_ext","links":["5b5ff363.5b4c7c"],"x":1235,"y":780,"wires":[]},{"id":"4d51e19d.8f1f88","type":"link out","z":"80e7fcae.e60348","name":"temp_out","links":["a409c06c.4c885"],"x":1180,"y":940,"wires":[]},{"id":"470bcc2b.20ead4","type":"link in","z":"6f26701.f6c739","name":"","links":["bac50edd.b150e"],"x":95,"y":260,"wires":[["9e1df719.ae1ad8"]]},{"id":"58e17682.ec9578","type":"debug","z":"6f26701.f6c739","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":500,"wires":[]},{"id":"1e23572f.0c4699","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `temp_int`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":260,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"9e1df719.ae1ad8","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":260,"wires":[["1e23572f.0c4699"]]},{"id":"5a5b112f.77977","type":"link in","z":"6f26701.f6c739","name":"","links":["c2f96f0a.a4806"],"x":95,"y":340,"wires":[["fbfc2c73.e56418"]]},{"id":"ca40153.6317f68","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `hume_int`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":340,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"fbfc2c73.e56418","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":340,"wires":[["ca40153.6317f68"]]},{"id":"a409c06c.4c885","type":"link in","z":"6f26701.f6c739","name":"","links":["4d51e19d.8f1f88"],"x":95,"y":440,"wires":[["15bccc56.f7ecec"]]},{"id":"d0332a15.807","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `temp_out`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":440,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"15bccc56.f7ecec","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":440,"wires":[["d0332a15.807"]]},{"id":"5b5ff363.5b4c7c","type":"link in","z":"6f26701.f6c739","name":"","links":["e64d7026.56855"],"x":95,"y":500,"wires":[["dcb63db5.f8a3e8"]]},{"id":"b9adc8f7.a82f2","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `hume_out`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":500,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"dcb63db5.f8a3e8","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":500,"wires":[["b9adc8f7.a82f2"]]},{"id":"fa48ecee.6ecca","type":"alexa-home","z":"f3d60e61.2dd1f8","conf":"45adb211.c11d1c","device":"100074","acknoledge":false,"name":"calefacción","topic":"","x":70,"y":40,"wires":[["66614344.de9284","7d16323e.5f56cc"]],"info":"https://alexa-node-red.bm.hardill.me.uk/docs"},{"id":"66614344.de9284","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":210,"y":200,"wires":[["36cefbd3.a6638c"],["e0fc3e7.6937b4"],["68d864b4.7177f4"],["33287194.4085ce"],["820884ed.8ba2c"],["62d98263.88643c"]]},{"id":"56999b3d.568334","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/calefaccion","qos":"","retain":"","broker":"cc03406e.951f78","x":970,"y":120,"wires":[]},{"id":"36cefbd3.a6638c","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion - ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"on\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":120,"wires":[["e09e5867.c95ec8","c6f15747.847d88","63db398e.11cda8"]]},{"id":"68d864b4.7177f4","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion - OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["e09e5867.c95ec8","a281ebef.37dbc8","c6f15747.847d88"]]},{"id":"d2ffc55.cdb19b8","type":"alexa-home-resp","z":"f3d60e61.2dd1f8","x":1220,"y":60,"wires":[]},{"id":"d2698afc.ed878","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":60,"wires":[["d2ffc55.cdb19b8"]]},{"id":"3d99a0ef.9cdd08","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":500,"wires":[["a23c9705.c1fce"]]},{"id":"33287194.4085ce","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion -setTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"targetTemperature\":{\"value\":24}}","tot":"json"},{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["e09e5867.c95ec8","f72adcdb.ac9d1"]]},{"id":"50b587c9.845bd","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":650,"y":500,"wires":[["ff92baaa.cf2318"]]},{"id":"ff92baaa.cf2318","type":"function","z":"f3d60e61.2dd1f8","name":"ASCII to String","func":"msg.payload = msg.payload.toString()\nreturn msg","outputs":1,"noerr":0,"x":860,"y":500,"wires":[["3d99a0ef.9cdd08","4a79f5be.68fed4"]]},{"id":"820884ed.8ba2c","type":"function","z":"f3d60e61.2dd1f8","name":"hlocalTemp","func":"msg.payload = \"hlocalTemp\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":500,"wires":[["50b587c9.845bd"]]},{"id":"a23c9705.c1fce","type":"link out","z":"f3d60e61.2dd1f8","name":"Alexa-out","links":["6b4d1f6f.e0182"],"x":1215,"y":500,"wires":[]},{"id":"6b4d1f6f.e0182","type":"link in","z":"f3d60e61.2dd1f8","name":"Alexa-out","links":["14c46a14.cf7666","a23c9705.c1fce","e09e5867.c95ec8","c5d5bb93.813cf8","a492f08e.756cb"],"x":815,"y":60,"wires":[["d2698afc.ed878"]]},{"id":"e09e5867.c95ec8","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":735,"y":200,"wires":[]},{"id":"e0fc3e7.6937b4","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion -decreTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"decre\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["e09e5867.c95ec8","c6f15747.847d88"]]},{"id":"f72adcdb.ac9d1","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-Temp","func":"msg.payload = \"hStay,\"+msg.extra.targetTemperature.value;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["89d4212b.820c","4a79f5be.68fed4"]]},{"id":"89d4212b.820c","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":1050,"y":380,"wires":[["790f814b.cfcff"]]},{"id":"790f814b.cfcff","type":"function","z":"f3d60e61.2dd1f8","name":"ASCII to String","func":"msg.payload = msg.payload.toString()\nreturn msg","outputs":1,"noerr":0,"x":1300,"y":380,"wires":[["614b003e.bb154"]]},{"id":"a281ebef.37dbc8","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-OFF","func":"msg.payload = \"hOff,5\";\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["89d4212b.820c"]]},{"id":"b79fdd4e.357d7","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-Sube 1 temp actual","func":"msg.payload = \"hRaise,1\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["69dcd264.d2bb3c"]]},{"id":"7d16323e.5f56cc","type":"debug","z":"f3d60e61.2dd1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":40,"wires":[]},{"id":"62d98263.88643c","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion -setTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"targetTemperature\":{\"value\":24}}","tot":"json"},{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":580,"wires":[["b79fdd4e.357d7","f9bb68f5.fe3db8"]]},{"id":"14c46a14.cf7666","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":1515,"y":700,"wires":[]},{"id":"69dcd264.d2bb3c","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":1050,"y":580,"wires":[["790f814b.cfcff"]]},{"id":"d1775f.167ac8a","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":700,"wires":[["151604ed.3e4e9b"]]},{"id":"2b6246ee.1ea0ea","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":830,"y":700,"wires":[["a8229307.7b4c3"]]},{"id":"a8229307.7b4c3","type":"function","z":"f3d60e61.2dd1f8","name":"ASCII to String","func":"msg.payload = msg.payload.toString()\nreturn msg","outputs":1,"noerr":0,"x":1060,"y":700,"wires":[["d1775f.167ac8a"]]},{"id":"f9bb68f5.fe3db8","type":"function","z":"f3d60e61.2dd1f8","name":"hlocalTemp","func":"msg.payload = \"hlocalTemp\"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":700,"wires":[["2b6246ee.1ea0ea"]]},{"id":"151604ed.3e4e9b","type":"function","z":"f3d60e61.2dd1f8","name":"Suma","func":"var i = parseInt(msg.extra.temperatureReading.value);\ni = i +1;\n\nmsg.extra.targetTemperature.value = i.toString();\nreturn msg","outputs":1,"noerr":0,"x":1410,"y":700,"wires":[["14c46a14.cf7666","3e860f73.79c08"]]},{"id":"c6f15747.847d88","type":"link out","z":"f3d60e61.2dd1f8","name":"mqtt","links":["68c5c419.a1b3f4"],"x":735,"y":120,"wires":[]},{"id":"68c5c419.a1b3f4","type":"link in","z":"f3d60e61.2dd1f8","name":"","links":["c6f15747.847d88","4a79f5be.68fed4","44922194.426228","97c5fd39.7b0048","4103b6d8.3783e8"],"x":815,"y":120,"wires":[["56999b3d.568334"]]},{"id":"4a79f5be.68fed4","type":"link out","z":"f3d60e61.2dd1f8","name":"mqtt","links":["68c5c419.a1b3f4"],"x":1015,"y":440,"wires":[]},{"id":"63db398e.11cda8","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-21.5","func":"msg.payload = \"hStay,21.5\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["89d4212b.820c"]]},{"id":"3e860f73.79c08","type":"function","z":"f3d60e61.2dd1f8","name":"ASCII to String 2","func":"msg.payload = msg.extra.targetTemperature.value\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":640,"wires":[["4103b6d8.3783e8"]]},{"id":"4103b6d8.3783e8","type":"link out","z":"f3d60e61.2dd1f8","name":"mqtt","links":["68c5c419.a1b3f4"],"x":1415,"y":640,"wires":[]},{"id":"7d1f67fd.26abe8","type":"comment","z":"f3d60e61.2dd1f8","name":"","info":"Comprobar que recibo Temp cada 25 segundos para encender y apagar led","x":940,"y":180,"wires":[]},{"id":"fe4670fb.01fee","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1320,"y":560,"wires":[]},{"id":"1681904f.b38dc","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1320,"y":380,"wires":[]},{"id":"d8235e89.ca801","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1320,"y":740,"wires":[]},{"id":"f9c93c6e.dd625","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1300,"y":940,"wires":[]},{"id":"685c25e9.0b067c","type":"ssh-client","z":"ccc70095.e8d18","d":true,"debug":false,"ssh":"","hostname":"192.168.3.151","name":"servidor","x":520,"y":440,"wires":[[]]},{"id":"8babaf97.76475","type":"function","z":"ccc70095.e8d18","name":"Sudo Shutdown -r","func":"msg.payload = \"sudo /sbin/shutdown -r now\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["685c25e9.0b067c"]]},{"id":"9dbaa87d.2e50d8","type":"inject","z":"ccc70095.e8d18","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":440,"wires":[["8babaf97.76475"]]},{"id":"54b39485.f07cec","type":"function","z":"ccc70095.e8d18","name":"RPI-server","func":"msg.payload = \"server,1\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["77856d7d.a0e4b4"]]},{"id":"77856d7d.a0e4b4","type":"tcp request","z":"ccc70095.e8d18","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":470,"y":500,"wires":[[]]},{"id":"b8bc7737.5c8218","type":"inject","z":"ccc70095.e8d18","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":500,"wires":[["54b39485.f07cec"]]},{"id":"7df6a766.21be88","type":"comment","z":"ccc70095.e8d18","name":"","info":"Sirve para poder apagar el server.\nEl primero conectando directamente por ssh\nEl segundo manda el comando server al Servidor python de Rpi","x":77.14285278320312,"y":390,"wires":[]},{"id":"5f419ecf.4ce1e","type":"ui_led","z":"ccc70095.e8d18","group":"60a199.33c71668","order":1,"width":"4","height":"1","label":"Estado de Server","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"str"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":570,"y":100,"wires":[]},{"id":"c5a4468a.7c2f3","type":"tcp in","z":"ccc70095.e8d18","name":"","server":"server","host":"","port":"1881","datamode":"stream","datatype":"buffer","newline":"","topic":"payload","base64":false,"x":100,"y":100,"wires":[["a09cb5f4.215cb8","1983e55d.3c2d53","1fe763fd.6df044"]]},{"id":"612492e7.a0821c","type":"inject","z":"ccc70095.e8d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":180,"wires":[["a09cb5f4.215cb8","1fe763fd.6df044"]]},{"id":"a09cb5f4.215cb8","type":"timeouttrigger","z":"ccc70095.e8d18","ontimeouttype":"bool","ontimeoutval":"false","duration":"4","units":"s","name":"","x":310,"y":160,"wires":[["5f419ecf.4ce1e"]]},{"id":"d6870f1b.da06e","type":"comment","z":"ccc70095.e8d18","name":"","info":"Control de estado de encendido del server","x":100,"y":40,"wires":[]},{"id":"1454438a.d58284","type":"switch","z":"ccc70095.e8d18","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"core_1","vt":"str"},{"t":"eq","v":"core_2","vt":"str"},{"t":"eq","v":"core_3","vt":"str"},{"t":"eq","v":"core_4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":850,"y":260,"wires":[["14e96d43.812503"],["6ea32bc1.5e4a2c"],["fbfb53eb.1be5c"],["f40731b3.4e592"]]},{"id":"1983e55d.3c2d53","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = \"true\";\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["5f419ecf.4ce1e"]]},{"id":"1fe763fd.6df044","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.toString();\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["20ef86bf.1c515a"]]},{"id":"20ef86bf.1c515a","type":"json","z":"ccc70095.e8d18","name":"","property":"payload","action":"","pretty":false,"x":550,"y":260,"wires":[["d5e1fddb.b426c8"]]},{"id":"d5e1fddb.b426c8","type":"split","z":"ccc70095.e8d18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":260,"wires":[["1454438a.d58284","98c329f6.2b0fc"]]},{"id":"1ee0a562.b6651b","type":"ui_gauge","z":"ccc70095.e8d18","name":"","group":"60a199.33c71668","order":3,"width":"3","height":"3","gtype":"gage","title":"CPU-1","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":180,"wires":[]},{"id":"14e96d43.812503","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":180,"wires":[["1ee0a562.b6651b"]]},{"id":"894036cf.c84a1","type":"ui_gauge","z":"ccc70095.e8d18","name":"","group":"60a199.33c71668","order":5,"width":"3","height":"3","gtype":"gage","title":"CPU-2","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":240,"wires":[]},{"id":"6ea32bc1.5e4a2c","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":240,"wires":[["894036cf.c84a1"]]},{"id":"fc0eee9e.2f9988","type":"ui_gauge","z":"ccc70095.e8d18","name":"","group":"60a199.33c71668","order":7,"width":"3","height":"3","gtype":"gage","title":"CPU-3","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":300,"wires":[]},{"id":"fbfb53eb.1be5c","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":300,"wires":[["fc0eee9e.2f9988"]]},{"id":"966bb08c.a0ce38","type":"ui_gauge","z":"ccc70095.e8d18","name":"","group":"60a199.33c71668","order":9,"width":"3","height":"3","gtype":"gage","title":"CPU-4","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":360,"wires":[]},{"id":"f40731b3.4e592","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":360,"wires":[["966bb08c.a0ce38"]]},{"id":"98c329f6.2b0fc","type":"timeouttrigger","z":"ccc70095.e8d18","ontimeouttype":"num","ontimeoutval":"0","duration":"4","units":"s","name":"","x":930,"y":440,"wires":[["e1b74c19.e4b6c"]]},{"id":"ca29897e.c22a58","type":"comment","z":"ccc70095.e8d18","name":"","info":"Resetear los contadores\n","x":760,"y":520,"wires":[]},{"id":"b3fd2056.6cacf","type":"alexa-home","z":"e59a737e.21011","d":true,"conf":"45adb211.c11d1c","device":"117695","acknoledge":true,"name":"tiesto","topic":"","x":50,"y":80,"wires":[["7f872ad3.50c184","60fef18c.5e6ff","80f0958d.f35e78"]]},{"id":"3d08b338.5d5394","type":"link out","z":"e59a737e.21011","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","ce3aa69f.577798"],"x":495,"y":140,"wires":[]},{"id":"b0a4069f.e7c36","type":"switch","z":"e59a737e.21011","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":280,"wires":[["c4b34bd6.66d4a8","6f2d0dde.d1c0d4"],["6cc93a02.936f4c","3ae95a77.c55746"],["c6c82b52.e2db9"],["6f2d0dde.d1c0d4","3ae95a77.c55746"]]},{"id":"ce3aa69f.577798","type":"link in","z":"e59a737e.21011","name":"decision total","links":["3d08b338.5d5394","50cfc388.12c9ac","9a88808a.fbde7","e012e4db.0b9148","bc66257.4cb83d8"],"x":595,"y":280,"wires":[["b0a4069f.e7c36"]]},{"id":"c4b34bd6.66d4a8","type":"change","z":"e59a737e.21011","name":"Sube","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"up\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[["e96bd5d1.71e87"]]},{"id":"c6c82b52.e2db9","type":"change","z":"e59a737e.21011","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["e96bd5d1.71e87"]]},{"id":"518373e7.8074d4","type":"json","z":"e59a737e.21011","name":"","property":"payload","action":"obj","pretty":false,"x":1030,"y":200,"wires":[["e96bd5d1.71e87"]]},{"id":"7f872ad3.50c184","type":"debug","z":"e59a737e.21011","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":40,"wires":[]},{"id":"ca05c44e.4fe048","type":"mqtt out","z":"e59a737e.21011","name":"persia/per4/order","topic":"persia/per4/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":1030,"y":40,"wires":[]},{"id":"7341996a.970eb","type":"link in","z":"e59a737e.21011","name":"persia/per3/order","links":["f97f049f.6324e8","e96bd5d1.71e87","bc8b16c.adea4e8","82e6e3e8.82011"],"x":895,"y":40,"wires":[["ca05c44e.4fe048","3e90903b.82c6e"]]},{"id":"e96bd5d1.71e87","type":"link out","z":"e59a737e.21011","name":"","links":["7341996a.970eb"],"x":1155,"y":280,"wires":[]},{"id":"3e90903b.82c6e","type":"debug","z":"e59a737e.21011","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":100,"wires":[]},{"id":"6cc93a02.936f4c","type":"change","z":"e59a737e.21011","name":"baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["e96bd5d1.71e87"]]},{"id":"97a4b7b5.0b7fd","type":"switch","z":"e59a737e.21011","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":80,"wires":[["c53b8282.59af78"],["a90da169.c39168"],["bad5a179.369168"]]},{"id":"629451d4.3758e8","type":"range","z":"e59a737e.21011","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":350,"y":720,"wires":[["ddcd0cb6.31c7f8"]]},{"id":"57556822.9078c","type":"mytimeout","z":"e59a737e.21011","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":770,"y":680,"wires":[["9a88808a.fbde7","c1222911.64f7c8"],[]]},{"id":"ddcd0cb6.31c7f8","type":"template","z":"e59a737e.21011","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":520,"y":720,"wires":[["57556822.9078c"]]},{"id":"a10f3a7b.c3bce8","type":"change","z":"e59a737e.21011","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":640,"wires":[["9a88808a.fbde7"]]},{"id":"9a88808a.fbde7","type":"link out","z":"e59a737e.21011","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","ce3aa69f.577798"],"x":975,"y":640,"wires":[]},{"id":"45940d50.f2278c","type":"range","z":"e59a737e.21011","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":350,"y":880,"wires":[["c09c00b2.c760c8"]]},{"id":"7cbf3fd4.5b48b8","type":"mytimeout","z":"e59a737e.21011","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":850,"y":840,"wires":[["e012e4db.0b9148","187d9b83.653ef4"],[]]},{"id":"e010b90e.906d38","type":"template","z":"e59a737e.21011","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":660,"y":880,"wires":[["7cbf3fd4.5b48b8"]]},{"id":"4880f8e7.f1df28","type":"change","z":"e59a737e.21011","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":800,"wires":[["e012e4db.0b9148"]]},{"id":"e012e4db.0b9148","type":"link out","z":"e59a737e.21011","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","ce3aa69f.577798"],"x":975,"y":800,"wires":[]},{"id":"c09c00b2.c760c8","type":"function","z":"e59a737e.21011","name":"","func":"var i = parseInt(msg.payload);\ni = i * -1;\n\nmsg.payload = i.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":880,"wires":[["e010b90e.906d38"]]},{"id":"35f8074a.310628","type":"comment","z":"e59a737e.21011","name":"Incremento","info":"Rama para el incremento del 25%\n\nSube persiana","x":90,"y":620,"wires":[]},{"id":"c373695d.460558","type":"comment","z":"e59a737e.21011","name":"Decremento","info":"Rama para el Decremento del 25%.\n\nBaja persiana","x":90,"y":800,"wires":[]},{"id":"a90da169.c39168","type":"link out","z":"e59a737e.21011","name":"Incrementa out","links":["d66fbb5a.8bd71"],"x":815,"y":80,"wires":[]},{"id":"d66fbb5a.8bd71","type":"link in","z":"e59a737e.21011","name":"Incrementa-in","links":["a90da169.c39168","bc66257.4cb83d8","64db0954.c5dcf8","14cb21e1.03989e"],"x":135,"y":660,"wires":[["629451d4.3758e8","40c71113.bb60b","7b2b3d6c.4ba924"]]},{"id":"ed07a6db.efafc","type":"link in","z":"e59a737e.21011","name":"Decrementa in","links":["bad5a179.369168","bc66257.4cb83d8","dd883385.cecc1"],"x":135,"y":840,"wires":[["45940d50.f2278c","a6e82fd7.88829","f33ed957.5948b8"]]},{"id":"bad5a179.369168","type":"link out","z":"e59a737e.21011","name":"Incrementa out","links":["ed07a6db.efafc"],"x":815,"y":120,"wires":[]},{"id":"c53b8282.59af78","type":"link out","z":"e59a737e.21011","name":"% out","links":["23c729df.967e0e","1484be72.3a7422","ba51858e.f6de38"],"x":815,"y":40,"wires":[]},{"id":"6f2d0dde.d1c0d4","type":"mytimeout","z":"e59a737e.21011","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":870,"y":200,"wires":[["518373e7.8074d4","21579468.756fcc"],[]]},{"id":"3ae95a77.c55746","type":"mytimeout","z":"e59a737e.21011","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":890,"y":340,"wires":[["e96bd5d1.71e87","8692f19b.06f17"],[]]},{"id":"e1b74c19.e4b6c","type":"switch","z":"ccc70095.e8d18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":440,"wires":[["1ee0a562.b6651b","894036cf.c84a1","fc0eee9e.2f9988","966bb08c.a0ce38"]]},{"id":"b9d4780d.55fa68","type":"change","z":"e59a737e.21011","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["bc66257.4cb83d8"]]},{"id":"40c71113.bb60b","type":"switch","z":"e59a737e.21011","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":660,"wires":[["a10f3a7b.c3bce8"],["57556822.9078c"]]},{"id":"a6e82fd7.88829","type":"switch","z":"e59a737e.21011","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":820,"wires":[["4880f8e7.f1df28"],["7cbf3fd4.5b48b8"]]},{"id":"5fc82345.067c5c","type":"change","z":"e59a737e.21011","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["bc8b16c.adea4e8"]]},{"id":"bc8b16c.adea4e8","type":"link out","z":"e59a737e.21011","name":"","links":["7341996a.970eb"],"x":495,"y":180,"wires":[]},{"id":"d3d39c07.1ac6d","type":"link in","z":"e59a737e.21011","name":"Reset","links":["80f0958d.f35e78","187d9b83.653ef4","c1222911.64f7c8"],"x":235,"y":180,"wires":[["b9d4780d.55fa68","5fc82345.067c5c"]]},{"id":"60fef18c.5e6ff","type":"delay","z":"e59a737e.21011","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["97a4b7b5.0b7fd","3d08b338.5d5394"]]},{"id":"bc66257.4cb83d8","type":"link out","z":"e59a737e.21011","name":"reset OUT","links":["23c729df.967e0e","ce3aa69f.577798","d66fbb5a.8bd71","ed07a6db.efafc","1484be72.3a7422","ba51858e.f6de38"],"x":495,"y":220,"wires":[]},{"id":"80f0958d.f35e78","type":"link out","z":"e59a737e.21011","name":"","links":["d3d39c07.1ac6d"],"x":235,"y":140,"wires":[]},{"id":"8095957.8ed1868","type":"comment","z":"e59a737e.21011","name":"reset - previo","info":"Reseteo todos los contadores y espero 1 segundo para mandar la nueva orden","x":390,"y":40,"wires":[]},{"id":"72ade994.9f9e08","type":"comment","z":"e59a737e.21011","name":"Selector Principal","info":"Aquí se seleccionan todas las ordenes y se envían a MQTT","x":680,"y":220,"wires":[]},{"id":"4d1abad9.4df554","type":"alexa-home","z":"40d33270.e937bc","conf":"45adb211.c11d1c","device":"117622","acknoledge":true,"name":"persiana","topic":"","x":60,"y":80,"wires":[["6631a12f.d4793","1b743c30.edfd44","b58a488e.16bbe8"]]},{"id":"7ac8d705.72d318","type":"range","z":"40d33270.e937bc","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":370,"y":620,"wires":[["d69e18f7.bfd738"]]},{"id":"d79da3c0.c80e3","type":"mytimeout","z":"40d33270.e937bc","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":750,"y":640,"wires":[["d4a79142.19451"],[]]},{"id":"d69e18f7.bfd738","type":"template","z":"40d33270.e937bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":560,"y":620,"wires":[["d79da3c0.c80e3"]]},{"id":"82493707.12cfc8","type":"change","z":"40d33270.e937bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":540,"wires":[["d4a79142.19451"]]},{"id":"af727bf7.9b8a18","type":"link out","z":"40d33270.e937bc","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","8fc58801.e73f28"],"x":495,"y":140,"wires":[]},{"id":"200c361b.4ecc7a","type":"switch","z":"40d33270.e937bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":730,"y":280,"wires":[["411041de.723fc","b1d7663d.ede818"],["64e7c12a.0e0f1","f4febe14.c1bf"],["67bae553.76dcfc"],["b1d7663d.ede818","f4febe14.c1bf"]]},{"id":"8fc58801.e73f28","type":"link in","z":"40d33270.e937bc","name":"decision total","links":["af727bf7.9b8a18","d4a79142.19451","ae4e2adb.db8198","b0973d63.876e8","e8182e29.8bde6"],"x":635,"y":280,"wires":[["200c361b.4ecc7a"]]},{"id":"411041de.723fc","type":"change","z":"40d33270.e937bc","name":"Sube","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"up\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":260,"wires":[["611a2af.a47e4d4"]]},{"id":"67bae553.76dcfc","type":"change","z":"40d33270.e937bc","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["611a2af.a47e4d4"]]},{"id":"13ebb86b.6e3398","type":"json","z":"40d33270.e937bc","name":"","property":"payload","action":"obj","pretty":false,"x":1070,"y":200,"wires":[["611a2af.a47e4d4"]]},{"id":"d4a79142.19451","type":"link out","z":"40d33270.e937bc","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","8fc58801.e73f28"],"x":955,"y":540,"wires":[]},{"id":"7d5b2f74.b1706","type":"change","z":"40d33270.e937bc","name":"Baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["8e9746e5.88cab8"]]},{"id":"6404699c.8d0228","type":"comment","z":"40d33270.e937bc","name":"","info":"Baja completamente la persiana cuando recibe la orden de porcentaje","x":60,"y":500,"wires":[]},{"id":"c28cf7b7.e4eed8","type":"comment","z":"40d33270.e937bc","name":"","info":"Tras la bajada completa, convierte el porcentaje en tiempo y levanta la persiana\n\nPersiana al 20%","x":480,"y":500,"wires":[]},{"id":"33207b2c.1e4c64","type":"delay","z":"40d33270.e937bc","name":"","pauseType":"delay","timeout":"26","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":540,"wires":[["82493707.12cfc8","7ac8d705.72d318"]]},{"id":"6631a12f.d4793","type":"debug","z":"40d33270.e937bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":40,"wires":[]},{"id":"23cf02ee.9a15ee","type":"mqtt out","z":"40d33270.e937bc","name":"persia/per3/order","topic":"persia/per3/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":1030,"y":40,"wires":[]},{"id":"dfd38b34.7a4078","type":"link in","z":"40d33270.e937bc","name":"persia/per3/order","links":["8e9746e5.88cab8","611a2af.a47e4d4","e4a51271.2532"],"x":895,"y":40,"wires":[["23cf02ee.9a15ee","f64f60fd.9d328"]]},{"id":"8e9746e5.88cab8","type":"link out","z":"40d33270.e937bc","name":"","links":["dfd38b34.7a4078"],"x":535,"y":400,"wires":[]},{"id":"611a2af.a47e4d4","type":"link out","z":"40d33270.e937bc","name":"","links":["dfd38b34.7a4078"],"x":1215,"y":280,"wires":[]},{"id":"f64f60fd.9d328","type":"debug","z":"40d33270.e937bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":100,"wires":[]},{"id":"64e7c12a.0e0f1","type":"change","z":"40d33270.e937bc","name":"baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["611a2af.a47e4d4"]]},{"id":"374f4d4c.97fc52","type":"switch","z":"40d33270.e937bc","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":80,"wires":[["e06a17d5.ddf498"],["91e53985.5a83f8"],["77e5b4c4.a3291c"]]},{"id":"606f3c68.2ec474","type":"range","z":"40d33270.e937bc","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":330,"y":840,"wires":[["df6983eb.c41c7"]]},{"id":"4ad7683c.a38dc8","type":"mytimeout","z":"40d33270.e937bc","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":750,"y":800,"wires":[["ae4e2adb.db8198"],[]]},{"id":"df6983eb.c41c7","type":"template","z":"40d33270.e937bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":500,"y":840,"wires":[["4ad7683c.a38dc8"]]},{"id":"1ce32f13.9e3921","type":"change","z":"40d33270.e937bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":760,"wires":[["ae4e2adb.db8198"]]},{"id":"ae4e2adb.db8198","type":"link out","z":"40d33270.e937bc","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","8fc58801.e73f28"],"x":955,"y":760,"wires":[]},{"id":"21ab9d26.ebd782","type":"range","z":"40d33270.e937bc","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":330,"y":1000,"wires":[["5e0e28b5.d03b48"]]},{"id":"85bda415.2aea78","type":"mytimeout","z":"40d33270.e937bc","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":830,"y":960,"wires":[["b0973d63.876e8"],[]]},{"id":"b5050c22.71c96","type":"template","z":"40d33270.e937bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":640,"y":1000,"wires":[["85bda415.2aea78"]]},{"id":"b40e3309.b8f86","type":"change","z":"40d33270.e937bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":920,"wires":[["b0973d63.876e8"]]},{"id":"b0973d63.876e8","type":"link out","z":"40d33270.e937bc","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","8fc58801.e73f28"],"x":955,"y":920,"wires":[]},{"id":"5e0e28b5.d03b48","type":"function","z":"40d33270.e937bc","name":"","func":"var i = parseInt(msg.payload);\ni = i * -1;\n\nmsg.payload = i.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1000,"wires":[["b5050c22.71c96"]]},{"id":"a852628d.edada","type":"comment","z":"40d33270.e937bc","name":"","info":"Rama para el incremento del 25%\n\nSube persiana","x":60,"y":740,"wires":[]},{"id":"de61af59.3cd6a","type":"comment","z":"40d33270.e937bc","name":"","info":"Rama para el Decremento del 25%.\n\nBaja persiana","x":60,"y":920,"wires":[]},{"id":"91e53985.5a83f8","type":"link out","z":"40d33270.e937bc","name":"Incrementa out","links":["68b8b04f.0f4a3"],"x":815,"y":80,"wires":[]},{"id":"68b8b04f.0f4a3","type":"link in","z":"40d33270.e937bc","name":"Incrementa-in","links":["91e53985.5a83f8","e8182e29.8bde6"],"x":115,"y":780,"wires":[["606f3c68.2ec474","6742e7c3.dce178"]]},{"id":"7d508908.9da858","type":"link in","z":"40d33270.e937bc","name":"Decrementa in","links":["77e5b4c4.a3291c","e8182e29.8bde6"],"x":115,"y":960,"wires":[["21ab9d26.ebd782","5e39bced.68d774"]]},{"id":"77e5b4c4.a3291c","type":"link out","z":"40d33270.e937bc","name":"Incrementa out","links":["7d508908.9da858"],"x":815,"y":120,"wires":[]},{"id":"e06a17d5.ddf498","type":"link out","z":"40d33270.e937bc","name":"% out","links":["4f72f9b2.aaafb8"],"x":815,"y":40,"wires":[]},{"id":"4f72f9b2.aaafb8","type":"link in","z":"40d33270.e937bc","name":"% in","links":["e06a17d5.ddf498","e8182e29.8bde6"],"x":75,"y":540,"wires":[["33207b2c.1e4c64","696c4c59.220164","4f18c790.5e24d8","c09ec93a.586428"]]},{"id":"b1d7663d.ede818","type":"mytimeout","z":"40d33270.e937bc","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":910,"y":200,"wires":[["13ebb86b.6e3398"],[]]},{"id":"f4febe14.c1bf","type":"mytimeout","z":"40d33270.e937bc","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":930,"y":340,"wires":[["611a2af.a47e4d4"],[]]},{"id":"696c4c59.220164","type":"mytimeout","z":"40d33270.e937bc","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":290,"y":460,"wires":[["8e9746e5.88cab8"],[]]},{"id":"ef8cfae4.4cfff8","type":"change","z":"40d33270.e937bc","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["e8182e29.8bde6"]]},{"id":"6742e7c3.dce178","type":"switch","z":"40d33270.e937bc","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":780,"wires":[["1ce32f13.9e3921"],["4ad7683c.a38dc8"]]},{"id":"4f18c790.5e24d8","type":"switch","z":"40d33270.e937bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":680,"wires":[["d79da3c0.c80e3"]]},{"id":"5e39bced.68d774","type":"switch","z":"40d33270.e937bc","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":940,"wires":[["b40e3309.b8f86"],["85bda415.2aea78"]]},{"id":"82182b26.f09958","type":"change","z":"40d33270.e937bc","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["e4a51271.2532"]]},{"id":"e4a51271.2532","type":"link out","z":"40d33270.e937bc","name":"","links":["dfd38b34.7a4078"],"x":495,"y":180,"wires":[]},{"id":"e7d59702.e964c8","type":"link in","z":"40d33270.e937bc","name":"Reset","links":["b58a488e.16bbe8"],"x":235,"y":180,"wires":[["ef8cfae4.4cfff8","82182b26.f09958"]]},{"id":"1b743c30.edfd44","type":"delay","z":"40d33270.e937bc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["374f4d4c.97fc52","af727bf7.9b8a18"]]},{"id":"e8182e29.8bde6","type":"link out","z":"40d33270.e937bc","name":"reset OUT","links":["4f72f9b2.aaafb8","8fc58801.e73f28","68b8b04f.0f4a3","7d508908.9da858"],"x":495,"y":220,"wires":[]},{"id":"b58a488e.16bbe8","type":"link out","z":"40d33270.e937bc","name":"","links":["e7d59702.e964c8"],"x":175,"y":120,"wires":[]},{"id":"c09ec93a.586428","type":"switch","z":"40d33270.e937bc","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[["7d5b2f74.b1706"]]},{"id":"e4be0323.70b25","type":"comment","z":"40d33270.e937bc","name":"reset - previo","info":"Reseteo todos los contadores y espero 1 segundo para mandar la nueva orden","x":470,"y":40,"wires":[]},{"id":"a5e22d03.e0083","type":"comment","z":"40d33270.e937bc","name":"Selector Principal","info":"Aquí se seleccionan todas las ordenes y se envían a MQTT","x":720,"y":220,"wires":[]},{"id":"371cda57.039036","type":"alexa-home","z":"71668925.bf44a8","conf":"45adb211.c11d1c","device":"117626","acknoledge":true,"name":"persiana de estudio","topic":"","x":90,"y":80,"wires":[["70d987c2.ac7408","5ceba309.67c4cc","2365289d.31bd08"]]},{"id":"c306b06.928335","type":"range","z":"71668925.bf44a8","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":370,"y":620,"wires":[["6ec1f7f1.264fa8"]]},{"id":"9abb5f43.952ba","type":"mytimeout","z":"71668925.bf44a8","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":750,"y":640,"wires":[["f7447adf.eac198"],[]]},{"id":"6ec1f7f1.264fa8","type":"template","z":"71668925.bf44a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":560,"y":620,"wires":[["9abb5f43.952ba"]]},{"id":"c5c83263.9ff9b","type":"change","z":"71668925.bf44a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":540,"wires":[["f7447adf.eac198"]]},{"id":"46daf7dc.5ff4f8","type":"link out","z":"71668925.bf44a8","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","981c2167.51117"],"x":495,"y":140,"wires":[]},{"id":"6db255dd.d3f19c","type":"switch","z":"71668925.bf44a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":730,"y":280,"wires":[["aa71fff.077c4","530cf400.4621cc"],["261cc06a.9f853","f3874647.677018"],["ce4a62ba.13e09"],["530cf400.4621cc","f3874647.677018"]]},{"id":"981c2167.51117","type":"link in","z":"71668925.bf44a8","name":"decision total","links":["46daf7dc.5ff4f8","f7447adf.eac198","a2b9bb8c.fd9718","2a27bfee.53248","31a42c26.353614"],"x":635,"y":280,"wires":[["6db255dd.d3f19c"]]},{"id":"aa71fff.077c4","type":"change","z":"71668925.bf44a8","name":"Sube","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"up\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":260,"wires":[["9d8c27e6.cd4078"]]},{"id":"ce4a62ba.13e09","type":"change","z":"71668925.bf44a8","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["9d8c27e6.cd4078"]]},{"id":"56ff5724.cd90e8","type":"json","z":"71668925.bf44a8","name":"","property":"payload","action":"obj","pretty":false,"x":1070,"y":200,"wires":[["9d8c27e6.cd4078"]]},{"id":"f7447adf.eac198","type":"link out","z":"71668925.bf44a8","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","981c2167.51117"],"x":955,"y":540,"wires":[]},{"id":"61467f82.98beb","type":"change","z":"71668925.bf44a8","name":"Baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["76c0196.ea111e8"]]},{"id":"6bc711fc.1ef86","type":"comment","z":"71668925.bf44a8","name":"","info":"Baja completamente la persiana cuando recibe la orden de porcentaje","x":60,"y":500,"wires":[]},{"id":"10e5dc35.b88844","type":"comment","z":"71668925.bf44a8","name":"","info":"Tras la bajada completa, convierte el porcentaje en tiempo y levanta la persiana\n\nPersiana al 20%","x":480,"y":500,"wires":[]},{"id":"8132b5f4.9f5898","type":"delay","z":"71668925.bf44a8","name":"","pauseType":"delay","timeout":"26","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":540,"wires":[["c5c83263.9ff9b","c306b06.928335"]]},{"id":"70d987c2.ac7408","type":"debug","z":"71668925.bf44a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"a441aeab.b1873","type":"mqtt out","z":"71668925.bf44a8","name":"persia/per2/order","topic":"persia/per2/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":1030,"y":40,"wires":[]},{"id":"69d5777b.309368","type":"link in","z":"71668925.bf44a8","name":"persia/per3/order","links":["76c0196.ea111e8","9d8c27e6.cd4078","a77564fa.511fc8"],"x":895,"y":40,"wires":[["a441aeab.b1873","8f723e2b.9537d"]]},{"id":"76c0196.ea111e8","type":"link out","z":"71668925.bf44a8","name":"","links":["69d5777b.309368"],"x":535,"y":400,"wires":[]},{"id":"9d8c27e6.cd4078","type":"link out","z":"71668925.bf44a8","name":"","links":["69d5777b.309368"],"x":1215,"y":280,"wires":[]},{"id":"8f723e2b.9537d","type":"debug","z":"71668925.bf44a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":100,"wires":[]},{"id":"261cc06a.9f853","type":"change","z":"71668925.bf44a8","name":"baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["9d8c27e6.cd4078"]]},{"id":"ac58880a.bfed58","type":"switch","z":"71668925.bf44a8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":80,"wires":[["2fe694d6.c0f11c"],["4cfff79.c02de08"],["a99fbe7a.f701e"]]},{"id":"ef9034cb.b8e308","type":"range","z":"71668925.bf44a8","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":330,"y":840,"wires":[["464396a0.888048"]]},{"id":"e634c74c.127fd8","type":"mytimeout","z":"71668925.bf44a8","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":750,"y":800,"wires":[["a2b9bb8c.fd9718"],[]]},{"id":"464396a0.888048","type":"template","z":"71668925.bf44a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":500,"y":840,"wires":[["e634c74c.127fd8"]]},{"id":"22aa3706.97c3b8","type":"change","z":"71668925.bf44a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":760,"wires":[["a2b9bb8c.fd9718"]]},{"id":"a2b9bb8c.fd9718","type":"link out","z":"71668925.bf44a8","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","981c2167.51117"],"x":955,"y":760,"wires":[]},{"id":"2e25cf5d.3de21","type":"range","z":"71668925.bf44a8","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":330,"y":1000,"wires":[["80c958b2.84ebe8"]]},{"id":"573dc5b7.ecb07c","type":"mytimeout","z":"71668925.bf44a8","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":830,"y":960,"wires":[["2a27bfee.53248"],[]]},{"id":"2f7526ad.aaac8a","type":"template","z":"71668925.bf44a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":640,"y":1000,"wires":[["573dc5b7.ecb07c"]]},{"id":"f3ec5117.552ff","type":"change","z":"71668925.bf44a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":920,"wires":[["2a27bfee.53248"]]},{"id":"2a27bfee.53248","type":"link out","z":"71668925.bf44a8","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","981c2167.51117"],"x":955,"y":920,"wires":[]},{"id":"80c958b2.84ebe8","type":"function","z":"71668925.bf44a8","name":"","func":"var i = parseInt(msg.payload);\ni = i * -1;\n\nmsg.payload = i.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1000,"wires":[["2f7526ad.aaac8a"]]},{"id":"6742279b.f1e8f8","type":"comment","z":"71668925.bf44a8","name":"","info":"Rama para el incremento del 25%\n\nSube persiana","x":60,"y":740,"wires":[]},{"id":"dfeffa70.e9fd08","type":"comment","z":"71668925.bf44a8","name":"","info":"Rama para el Decremento del 25%.\n\nBaja persiana","x":60,"y":920,"wires":[]},{"id":"4cfff79.c02de08","type":"link out","z":"71668925.bf44a8","name":"Incrementa out","links":["7aab7943.9b7838"],"x":815,"y":80,"wires":[]},{"id":"7aab7943.9b7838","type":"link in","z":"71668925.bf44a8","name":"Incrementa-in","links":["4cfff79.c02de08","31a42c26.353614"],"x":115,"y":780,"wires":[["ef9034cb.b8e308","c1a21218.24338"]]},{"id":"116f3cdf.059c53","type":"link in","z":"71668925.bf44a8","name":"Decrementa in","links":["a99fbe7a.f701e","31a42c26.353614"],"x":115,"y":960,"wires":[["2e25cf5d.3de21","c82d0f71.dba04"]]},{"id":"a99fbe7a.f701e","type":"link out","z":"71668925.bf44a8","name":"Incrementa out","links":["116f3cdf.059c53"],"x":815,"y":120,"wires":[]},{"id":"2fe694d6.c0f11c","type":"link out","z":"71668925.bf44a8","name":"% out","links":["8326a60b.3c7878"],"x":815,"y":40,"wires":[]},{"id":"8326a60b.3c7878","type":"link in","z":"71668925.bf44a8","name":"% in","links":["2fe694d6.c0f11c","31a42c26.353614"],"x":75,"y":540,"wires":[["8132b5f4.9f5898","77cd11af.161bc","b15ec39b.1168e","40a9e0a5.9131"]]},{"id":"530cf400.4621cc","type":"mytimeout","z":"71668925.bf44a8","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":910,"y":200,"wires":[["56ff5724.cd90e8"],[]]},{"id":"f3874647.677018","type":"mytimeout","z":"71668925.bf44a8","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":930,"y":340,"wires":[["9d8c27e6.cd4078"],[]]},{"id":"77cd11af.161bc","type":"mytimeout","z":"71668925.bf44a8","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":290,"y":460,"wires":[["76c0196.ea111e8"],[]]},{"id":"bd9d8c73.f195b","type":"change","z":"71668925.bf44a8","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["31a42c26.353614"]]},{"id":"c1a21218.24338","type":"switch","z":"71668925.bf44a8","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":780,"wires":[["22aa3706.97c3b8"],["e634c74c.127fd8"]]},{"id":"b15ec39b.1168e","type":"switch","z":"71668925.bf44a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":680,"wires":[["9abb5f43.952ba"]]},{"id":"c82d0f71.dba04","type":"switch","z":"71668925.bf44a8","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":940,"wires":[["f3ec5117.552ff"],["573dc5b7.ecb07c"]]},{"id":"13a44cd6.9bd513","type":"change","z":"71668925.bf44a8","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["a77564fa.511fc8"]]},{"id":"a77564fa.511fc8","type":"link out","z":"71668925.bf44a8","name":"","links":["69d5777b.309368"],"x":495,"y":180,"wires":[]},{"id":"7ffcf396.db06fc","type":"link in","z":"71668925.bf44a8","name":"Reset","links":["2365289d.31bd08"],"x":235,"y":180,"wires":[["bd9d8c73.f195b","13a44cd6.9bd513"]]},{"id":"5ceba309.67c4cc","type":"delay","z":"71668925.bf44a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["ac58880a.bfed58","46daf7dc.5ff4f8"]]},{"id":"31a42c26.353614","type":"link out","z":"71668925.bf44a8","name":"reset OUT","links":["8326a60b.3c7878","981c2167.51117","7aab7943.9b7838","116f3cdf.059c53"],"x":495,"y":220,"wires":[]},{"id":"2365289d.31bd08","type":"link out","z":"71668925.bf44a8","name":"","links":["7ffcf396.db06fc"],"x":235,"y":120,"wires":[]},{"id":"40a9e0a5.9131","type":"switch","z":"71668925.bf44a8","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[["61467f82.98beb"]]},{"id":"635b8a01.cb8c04","type":"comment","z":"71668925.bf44a8","name":"reset - previo","info":"Reseteo todos los contadores y espero 1 segundo para mandar la nueva orden","x":490,"y":40,"wires":[]},{"id":"fe4585bb.71b868","type":"comment","z":"71668925.bf44a8","name":"Selector Principal","info":"Aquí se seleccionan todas las ordenes y se envían a MQTT","x":720,"y":220,"wires":[]},{"id":"a81843a7.fa739","type":"alexa-home","z":"ebd810a2.dbd2d","conf":"45adb211.c11d1c","device":"117629","acknoledge":true,"name":"persiana de comedor","topic":"","x":100,"y":80,"wires":[["9cfce27c.81641","d1c1ff4.90121","1fbeea2b.c701f6"]]},{"id":"1be1846d.cefcac","type":"range","z":"ebd810a2.dbd2d","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":370,"y":620,"wires":[["ac876818.5560a8"]]},{"id":"bb664811.8445f8","type":"mytimeout","z":"ebd810a2.dbd2d","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":750,"y":640,"wires":[["ae4a8180.084c3"],[]]},{"id":"ac876818.5560a8","type":"template","z":"ebd810a2.dbd2d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":560,"y":620,"wires":[["bb664811.8445f8"]]},{"id":"3a2b105c.5a4c","type":"change","z":"ebd810a2.dbd2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":540,"wires":[["ae4a8180.084c3"]]},{"id":"bea25850.5e3438","type":"link out","z":"ebd810a2.dbd2d","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","d7c5fe5a.66dfe"],"x":495,"y":140,"wires":[]},{"id":"44788982.9e8f38","type":"switch","z":"ebd810a2.dbd2d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":730,"y":280,"wires":[["f3581cc1.d6edc","8df28bba.5e4338"],["520889ec.cfedf8","1c814470.ef943c"],["a4463902.134d98"],["8df28bba.5e4338","1c814470.ef943c"]]},{"id":"d7c5fe5a.66dfe","type":"link in","z":"ebd810a2.dbd2d","name":"decision total","links":["bea25850.5e3438","ae4a8180.084c3","9ee6b002.b51f9","c929a395.71ed1","7d190ca.28d28f4"],"x":635,"y":280,"wires":[["44788982.9e8f38"]]},{"id":"f3581cc1.d6edc","type":"change","z":"ebd810a2.dbd2d","name":"Sube","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"up\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":260,"wires":[["35c7b0fc.220a1"]]},{"id":"a4463902.134d98","type":"change","z":"ebd810a2.dbd2d","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["35c7b0fc.220a1"]]},{"id":"b5d7fbc5.de1348","type":"json","z":"ebd810a2.dbd2d","name":"","property":"payload","action":"obj","pretty":false,"x":1070,"y":200,"wires":[["35c7b0fc.220a1"]]},{"id":"ae4a8180.084c3","type":"link out","z":"ebd810a2.dbd2d","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","d7c5fe5a.66dfe"],"x":955,"y":540,"wires":[]},{"id":"3c930e4e.e05f12","type":"change","z":"ebd810a2.dbd2d","name":"Baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["988abd0c.86fb3"]]},{"id":"35364150.a9d7ee","type":"comment","z":"ebd810a2.dbd2d","name":"","info":"Baja completamente la persiana cuando recibe la orden de porcentaje","x":60,"y":500,"wires":[]},{"id":"316c0a72.611746","type":"comment","z":"ebd810a2.dbd2d","name":"","info":"Tras la bajada completa, convierte el porcentaje en tiempo y levanta la persiana\n\nPersiana al 20%","x":480,"y":500,"wires":[]},{"id":"939f892f.f7e0d8","type":"delay","z":"ebd810a2.dbd2d","name":"","pauseType":"delay","timeout":"26","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":540,"wires":[["3a2b105c.5a4c","1be1846d.cefcac"]]},{"id":"9cfce27c.81641","type":"debug","z":"ebd810a2.dbd2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"ce63b182.3356d","type":"mqtt out","z":"ebd810a2.dbd2d","name":"persia/per1/order","topic":"persia/per1/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":1030,"y":40,"wires":[]},{"id":"d0e6c105.22904","type":"link in","z":"ebd810a2.dbd2d","name":"persia/per3/order","links":["988abd0c.86fb3","35c7b0fc.220a1","9a871e15.9139f"],"x":895,"y":40,"wires":[["ce63b182.3356d","91df9079.93b6b"]]},{"id":"988abd0c.86fb3","type":"link out","z":"ebd810a2.dbd2d","name":"","links":["d0e6c105.22904"],"x":535,"y":400,"wires":[]},{"id":"35c7b0fc.220a1","type":"link out","z":"ebd810a2.dbd2d","name":"","links":["d0e6c105.22904"],"x":1215,"y":280,"wires":[]},{"id":"91df9079.93b6b","type":"debug","z":"ebd810a2.dbd2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":100,"wires":[]},{"id":"520889ec.cfedf8","type":"change","z":"ebd810a2.dbd2d","name":"baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["35c7b0fc.220a1"]]},{"id":"1e90c3bb.70e6dc","type":"switch","z":"ebd810a2.dbd2d","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":80,"wires":[["ae1a387a.ff94c8"],["a16f01ef.e96a2"],["9e86aadf.a6d108"]]},{"id":"956d33b4.55522","type":"range","z":"ebd810a2.dbd2d","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":330,"y":840,"wires":[["768ef5b4.6696bc"]]},{"id":"3a0d0364.a7605c","type":"mytimeout","z":"ebd810a2.dbd2d","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":750,"y":800,"wires":[["9ee6b002.b51f9"],[]]},{"id":"768ef5b4.6696bc","type":"template","z":"ebd810a2.dbd2d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":500,"y":840,"wires":[["3a0d0364.a7605c"]]},{"id":"e942094b.9a7178","type":"change","z":"ebd810a2.dbd2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":760,"wires":[["9ee6b002.b51f9"]]},{"id":"9ee6b002.b51f9","type":"link out","z":"ebd810a2.dbd2d","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","d7c5fe5a.66dfe"],"x":955,"y":760,"wires":[]},{"id":"dc856156.67427","type":"range","z":"ebd810a2.dbd2d","minin":"0","maxin":"100","minout":"0","maxout":"30","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":330,"y":1000,"wires":[["4f0db3b4.d6267c"]]},{"id":"41812808.842f78","type":"mytimeout","z":"ebd810a2.dbd2d","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":830,"y":960,"wires":[["c929a395.71ed1"],[]]},{"id":"5f82e985.ae5998","type":"template","z":"ebd810a2.dbd2d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":640,"y":1000,"wires":[["41812808.842f78"]]},{"id":"5c36c085.0de56","type":"change","z":"ebd810a2.dbd2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":920,"wires":[["c929a395.71ed1"]]},{"id":"c929a395.71ed1","type":"link out","z":"ebd810a2.dbd2d","name":"Control_Persia_Ordenador","links":["46bfa94d.a80b3","d7c5fe5a.66dfe"],"x":955,"y":920,"wires":[]},{"id":"4f0db3b4.d6267c","type":"function","z":"ebd810a2.dbd2d","name":"","func":"var i = parseInt(msg.payload);\ni = i * -1;\n\nmsg.payload = i.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1000,"wires":[["5f82e985.ae5998"]]},{"id":"93707c2b.14ed9","type":"comment","z":"ebd810a2.dbd2d","name":"","info":"Rama para el incremento del 25%\n\nSube persiana","x":60,"y":740,"wires":[]},{"id":"c5da3a33.895d28","type":"comment","z":"ebd810a2.dbd2d","name":"","info":"Rama para el Decremento del 25%.\n\nBaja persiana","x":60,"y":920,"wires":[]},{"id":"a16f01ef.e96a2","type":"link out","z":"ebd810a2.dbd2d","name":"Incrementa out","links":["fcee7530.ba0ab8"],"x":815,"y":80,"wires":[]},{"id":"fcee7530.ba0ab8","type":"link in","z":"ebd810a2.dbd2d","name":"Incrementa-in","links":["a16f01ef.e96a2","7d190ca.28d28f4"],"x":115,"y":780,"wires":[["956d33b4.55522","edeffd7e.03bba"]]},{"id":"dca0ca1.88e2f38","type":"link in","z":"ebd810a2.dbd2d","name":"Decrementa in","links":["9e86aadf.a6d108","7d190ca.28d28f4"],"x":115,"y":960,"wires":[["dc856156.67427","224ce0d3.a61a8"]]},{"id":"9e86aadf.a6d108","type":"link out","z":"ebd810a2.dbd2d","name":"Incrementa out","links":["dca0ca1.88e2f38"],"x":815,"y":120,"wires":[]},{"id":"ae1a387a.ff94c8","type":"link out","z":"ebd810a2.dbd2d","name":"% out","links":["ff1e819f.04f83"],"x":815,"y":40,"wires":[]},{"id":"ff1e819f.04f83","type":"link in","z":"ebd810a2.dbd2d","name":"% in","links":["ae1a387a.ff94c8","7d190ca.28d28f4"],"x":75,"y":540,"wires":[["939f892f.f7e0d8","c9985399.6e5cb","a6c70ba3.a87888","90e2ed11.8a549"]]},{"id":"8df28bba.5e4338","type":"mytimeout","z":"ebd810a2.dbd2d","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":910,"y":200,"wires":[["b5d7fbc5.de1348"],[]]},{"id":"1c814470.ef943c","type":"mytimeout","z":"ebd810a2.dbd2d","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":930,"y":340,"wires":[["35c7b0fc.220a1"],[]]},{"id":"c9985399.6e5cb","type":"mytimeout","z":"ebd810a2.dbd2d","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"{\"order\":\"stop\"}","warning":"5","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":290,"y":460,"wires":[["988abd0c.86fb3"],[]]},{"id":"9a8f529f.91d04","type":"change","z":"ebd810a2.dbd2d","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["7d190ca.28d28f4"]]},{"id":"edeffd7e.03bba","type":"switch","z":"ebd810a2.dbd2d","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":780,"wires":[["e942094b.9a7178"],["3a0d0364.a7605c"]]},{"id":"a6c70ba3.a87888","type":"switch","z":"ebd810a2.dbd2d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":680,"wires":[["bb664811.8445f8"]]},{"id":"224ce0d3.a61a8","type":"switch","z":"ebd810a2.dbd2d","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":940,"wires":[["5c36c085.0de56"],["41812808.842f78"]]},{"id":"b25e566d.f9a048","type":"change","z":"ebd810a2.dbd2d","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["9a871e15.9139f"]]},{"id":"9a871e15.9139f","type":"link out","z":"ebd810a2.dbd2d","name":"","links":["d0e6c105.22904"],"x":495,"y":180,"wires":[]},{"id":"6e55ec8d.ab0b84","type":"link in","z":"ebd810a2.dbd2d","name":"Reset","links":["1fbeea2b.c701f6"],"x":235,"y":180,"wires":[["9a8f529f.91d04","b25e566d.f9a048"]]},{"id":"d1c1ff4.90121","type":"delay","z":"ebd810a2.dbd2d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["1e90c3bb.70e6dc","bea25850.5e3438"]]},{"id":"7d190ca.28d28f4","type":"link out","z":"ebd810a2.dbd2d","name":"reset OUT","links":["ff1e819f.04f83","d7c5fe5a.66dfe","fcee7530.ba0ab8","dca0ca1.88e2f38"],"x":495,"y":220,"wires":[]},{"id":"1fbeea2b.c701f6","type":"link out","z":"ebd810a2.dbd2d","name":"","links":["6e55ec8d.ab0b84"],"x":255,"y":120,"wires":[]},{"id":"90e2ed11.8a549","type":"switch","z":"ebd810a2.dbd2d","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[["3c930e4e.e05f12"]]},{"id":"e0ec0adf.7fa8c8","type":"comment","z":"ebd810a2.dbd2d","name":"reset - previo","info":"Reseteo todos los contadores y espero 1 segundo para mandar la nueva orden","x":510,"y":40,"wires":[]},{"id":"d68a734d.32cf","type":"comment","z":"ebd810a2.dbd2d","name":"Selector Principal","info":"Aquí se seleccionan todas las ordenes y se envían a MQTT","x":720,"y":220,"wires":[]},{"id":"614b003e.bb154","type":"debug","z":"f3d60e61.2dd1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":300,"wires":[]},{"id":"16c097ed.4a4d08","type":"function","z":"e59a737e.21011","name":"Local - 100%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=100;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1000,"wires":[["b7f58c85.a07f6"]]},{"id":"f4f8ada0.7d415","type":"function","z":"e59a737e.21011","name":"Local - 0%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=0;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1060,"wires":[["b7f58c85.a07f6"]]},{"id":"b2db7c90.480ef","type":"link in","z":"e59a737e.21011","name":"Local 100%","links":["21579468.756fcc"],"x":335,"y":1000,"wires":[["402e0ee7.4dd13"]]},{"id":"97ce1a1e.ff1dd8","type":"link in","z":"e59a737e.21011","name":"Local 0%","links":["8692f19b.06f17","40d7d76a.7410a8","5504c3ca.dd176c"],"x":335,"y":1060,"wires":[["e88d8305.ce796"]]},{"id":"8692f19b.06f17","type":"link out","z":"e59a737e.21011","name":"","links":["97ce1a1e.ff1dd8"],"x":1155,"y":380,"wires":[]},{"id":"21579468.756fcc","type":"link out","z":"e59a737e.21011","name":"","links":["b2db7c90.480ef"],"x":995,"y":160,"wires":[]},{"id":"74d70f9f.2323f","type":"function","z":"e59a737e.21011","name":"Local Suma","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\n\nlocal.count +=i;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1120,"wires":[["b7f58c85.a07f6"]]},{"id":"9e8fdca9.5cbb5","type":"link in","z":"e59a737e.21011","name":"Local Suma","links":["7b2b3d6c.4ba924"],"x":335,"y":1120,"wires":[["ced9ae16.72a2c"]]},{"id":"f33ed957.5948b8","type":"link out","z":"e59a737e.21011","name":"","links":["288693fe.c6db4c"],"x":275,"y":920,"wires":[]},{"id":"7b2b3d6c.4ba924","type":"link out","z":"e59a737e.21011","name":"","links":["9e8fdca9.5cbb5"],"x":275,"y":760,"wires":[]},{"id":"b7f58c85.a07f6","type":"debug","z":"e59a737e.21011","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1060,"wires":[]},{"id":"402e0ee7.4dd13","type":"switch","z":"e59a737e.21011","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1000,"wires":[["16c097ed.4a4d08"],[]]},{"id":"e88d8305.ce796","type":"switch","z":"e59a737e.21011","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1060,"wires":[["f4f8ada0.7d415"],[]]},{"id":"ced9ae16.72a2c","type":"switch","z":"e59a737e.21011","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1120,"wires":[["74d70f9f.2323f"],[]]},{"id":"187d9b83.653ef4","type":"link out","z":"e59a737e.21011","name":"","links":["d3d39c07.1ac6d"],"x":975,"y":840,"wires":[]},{"id":"c1222911.64f7c8","type":"link out","z":"e59a737e.21011","name":"","links":["d3d39c07.1ac6d"],"x":975,"y":680,"wires":[]},{"id":"fa4720d2.3326","type":"function","z":"e59a737e.21011","name":"Local Resta","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\ni = i * -1;\n\nlocal.count -=i;\n\nif (local.count < 0)//test exists\n{\n  local.count=0;\n}\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1180,"wires":[["b7f58c85.a07f6"]]},{"id":"288693fe.c6db4c","type":"link in","z":"e59a737e.21011","name":"Local Resta","links":["f33ed957.5948b8"],"x":335,"y":1180,"wires":[["5fa65f1b.6f645"]]},{"id":"5fa65f1b.6f645","type":"switch","z":"e59a737e.21011","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1180,"wires":[["fa4720d2.3326"],[]]},{"id":"c158f4c.844c808","type":"inject","z":"e59a737e.21011","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-1","payloadType":"num","x":190,"y":1180,"wires":[["fa4720d2.3326"]]},{"id":"ff3dbad1.a44b58","type":"inject","z":"e59a737e.21011","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":190,"y":1000,"wires":[["16c097ed.4a4d08"]]},{"id":"c8a1a306.f5321","type":"inject","z":"e59a737e.21011","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":1060,"wires":[["f4f8ada0.7d415"]]},{"id":"353f25c4.db03ba","type":"inject","z":"e59a737e.21011","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":1120,"wires":[["74d70f9f.2323f"]]},{"id":"ba51858e.f6de38","type":"link in","z":"e59a737e.21011","name":"% in","links":["bc66257.4cb83d8","c53b8282.59af78"],"x":135,"y":480,"wires":[["42fdb7a1.ca1aa8"]]},{"id":"42fdb7a1.ca1aa8","type":"function","z":"e59a737e.21011","name":"Decision up/down","func":"var local=flow.get('data') || {};\n\n\nif (local.count===undefined)//test exists\n{\n  return [ msg, null, null ];\n}\n\n  msg.demand = msg.payload; \n  msg.initial = local.count;\n\nif (msg.payload > local.count)//test Subir\n{\n  msg.type =\"up\";\n  msg.payload=msg.payload - local.count;\n  if (msg.payload > 100)//test exists\n        {\n            msg.payload=100;\n        }\n\n  return [ null, msg, null ];\n}\n\n\nif (msg.payload < local.count)//test Bajar\n{\n      msg.type =\"down\";\n      msg.payload=local.count - msg.payload;\n      \n      if (msg.payload < 0)//test exists\n            {\n                msg.payload=0;\n            }\n      else {      \n          var i = parseInt(msg.payload);\n          i = i * -1;\n          msg.payload = i;\n       }\n    \n      return [ null, null, msg ];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":270,"y":480,"wires":[["7dfb066.eef95f8","25748760.20f038"],["64db0954.c5dcf8"],["dd883385.cecc1"]]},{"id":"64db0954.c5dcf8","type":"link out","z":"e59a737e.21011","name":"","links":["d66fbb5a.8bd71"],"x":455,"y":540,"wires":[]},{"id":"dd883385.cecc1","type":"link out","z":"e59a737e.21011","name":"","links":["ed07a6db.efafc"],"x":455,"y":580,"wires":[]},{"id":"eb4953b2.99828","type":"change","z":"e59a737e.21011","name":"Baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[["82e6e3e8.82011"]]},{"id":"82e6e3e8.82011","type":"link out","z":"e59a737e.21011","name":"","links":["7341996a.970eb"],"x":1055,"y":460,"wires":[]},{"id":"b7c225bd.237ff8","type":"mytimeout","z":"e59a737e.21011","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":710,"y":500,"wires":[["82e6e3e8.82011","5504c3ca.dd176c","3c6acd25.4201c2"],[]]},{"id":"7dfb066.eef95f8","type":"switch","z":"e59a737e.21011","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":460,"wires":[["eb4953b2.99828"]]},{"id":"5504c3ca.dd176c","type":"link out","z":"e59a737e.21011","name":"","links":["97ce1a1e.ff1dd8"],"x":1055,"y":500,"wires":[]},{"id":"25748760.20f038","type":"change","z":"e59a737e.21011","name":"","rules":[{"t":"set","p":"backup","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["b7c225bd.237ff8"]]},{"id":"3c6acd25.4201c2","type":"change","z":"e59a737e.21011","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"backup","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[["14cb21e1.03989e"]]},{"id":"14cb21e1.03989e","type":"link out","z":"e59a737e.21011","name":"","links":["d66fbb5a.8bd71"],"x":1055,"y":540,"wires":[]},{"id":"55ad19fd.0fd4e8","type":"comment","z":"e59a737e.21011","name":"%Directo","info":"","x":80,"y":440,"wires":[]},{"id":"f2f367b8.27b218","type":"link in","z":"e59a737e.21011","name":"PerTest-button-connector","links":["5d51e94.c255018","e1096328.4cc9e"],"x":75,"y":140,"wires":[["80f0958d.f35e78","7f872ad3.50c184","60fef18c.5e6ff"]]},{"id":"102ccf17.8163b1","type":"comment","z":"e59a737e.21011","name":"Porcentajes","info":"Control de variable de estado de porcentaje de persiana.","x":90,"y":960,"wires":[]},{"id":"86125c3d.2b6c3","type":"link out","z":"fa9b3c4d.e0031","name":"Control_Persia_Ordenador","links":["989eb1ab.13533"],"x":495,"y":140,"wires":[]},{"id":"cbd933b2.d095f","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":280,"wires":[["8c96d5c0.166568","63deb08e.b89d3"],["752a7994.a26658","810d022d.ab013"],["7d523ed3.374f8"],["63deb08e.b89d3","810d022d.ab013"]]},{"id":"989eb1ab.13533","type":"link in","z":"fa9b3c4d.e0031","name":"decision total","links":["86125c3d.2b6c3","fa52b803.f4e088","91ad1bf6.ca80c8","16747088.6b6eaf"],"x":595,"y":280,"wires":[["cbd933b2.d095f"]]},{"id":"8c96d5c0.166568","type":"change","z":"fa9b3c4d.e0031","name":"Sube","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"up\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[["30b1ea54.fc8306"]]},{"id":"7d523ed3.374f8","type":"change","z":"fa9b3c4d.e0031","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["30b1ea54.fc8306"]]},{"id":"b4ed1e8a.9e2d1","type":"json","z":"fa9b3c4d.e0031","name":"","property":"payload","action":"obj","pretty":false,"x":1030,"y":200,"wires":[["30b1ea54.fc8306"]]},{"id":"77b5206f.108d3","type":"debug","z":"fa9b3c4d.e0031","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":40,"wires":[]},{"id":"b27682da.71eec","type":"link in","z":"fa9b3c4d.e0031","name":"persia/per3/order","links":["c89d7483.38f288","5058a9b1.fe5938","30b1ea54.fc8306"],"x":895,"y":40,"wires":[["61cc1390.a0768c"]]},{"id":"30b1ea54.fc8306","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["b27682da.71eec"],"x":1155,"y":280,"wires":[]},{"id":"752a7994.a26658","type":"change","z":"fa9b3c4d.e0031","name":"baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["30b1ea54.fc8306"]]},{"id":"13bf59d2.f6f2d6","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":80,"wires":[["f445fe6d.13fcc"],["ff401842.c44608"],["d0956143.15e68"]]},{"id":"ca4eeb59.eda1b8","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${move_time}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":350,"y":720,"wires":[["9ebd2d0e.11b35"]]},{"id":"d22bf217.e22cb","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":770,"y":680,"wires":[["91ad1bf6.ca80c8","a1aaf6fb.7f1a38"],[]]},{"id":"9ebd2d0e.11b35","type":"template","z":"fa9b3c4d.e0031","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":520,"y":720,"wires":[["d22bf217.e22cb"]]},{"id":"f43e1571.5d99e8","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":640,"wires":[["91ad1bf6.ca80c8"]]},{"id":"91ad1bf6.ca80c8","type":"link out","z":"fa9b3c4d.e0031","name":"Control_Persia_Ordenador","links":["989eb1ab.13533"],"x":975,"y":640,"wires":[]},{"id":"c8433f5b.d7c32","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${move_time}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":350,"y":880,"wires":[["c4b0adf0.a4f1f"]]},{"id":"668c607f.5e43c","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":850,"y":840,"wires":[["16747088.6b6eaf","53981b22.80f064"],[]]},{"id":"7f44b9a3.981f38","type":"template","z":"fa9b3c4d.e0031","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":660,"y":880,"wires":[["668c607f.5e43c"]]},{"id":"2af01267.469e6e","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":800,"wires":[["16747088.6b6eaf"]]},{"id":"16747088.6b6eaf","type":"link out","z":"fa9b3c4d.e0031","name":"Control_Persia_Ordenador","links":["989eb1ab.13533"],"x":975,"y":800,"wires":[]},{"id":"c4b0adf0.a4f1f","type":"function","z":"fa9b3c4d.e0031","name":"","func":"var i = parseInt(msg.payload);\ni = i * -1;\n\nmsg.payload = i.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":880,"wires":[["7f44b9a3.981f38"]]},{"id":"ee528879.3e2628","type":"comment","z":"fa9b3c4d.e0031","name":"Incremento","info":"Rama para el incremento del 25%\n\nSube persiana","x":90,"y":620,"wires":[]},{"id":"30733c35.f1a6a4","type":"comment","z":"fa9b3c4d.e0031","name":"Decremento","info":"Rama para el Decremento del 25%.\n\nBaja persiana","x":90,"y":800,"wires":[]},{"id":"ff401842.c44608","type":"link out","z":"fa9b3c4d.e0031","name":"Incrementa out","links":["63b2bb59.a03e54"],"x":815,"y":80,"wires":[]},{"id":"63b2bb59.a03e54","type":"link in","z":"fa9b3c4d.e0031","name":"Incrementa-in","links":["fa52b803.f4e088","ff401842.c44608","2aee56b3.d7091a","f5de4fff.0afaf"],"x":135,"y":660,"wires":[["ca4eeb59.eda1b8","805bc423.e4fe68","da9fc3be.d4c69"]]},{"id":"1254df1e.3a0fe1","type":"link in","z":"fa9b3c4d.e0031","name":"Decrementa in","links":["fa52b803.f4e088","d0956143.15e68","29648235.bb2f9e"],"x":135,"y":840,"wires":[["c8433f5b.d7c32","9db1f41a.7f0548","3bd7906d.b0b47"]]},{"id":"d0956143.15e68","type":"link out","z":"fa9b3c4d.e0031","name":"Incrementa out","links":["1254df1e.3a0fe1"],"x":815,"y":120,"wires":[]},{"id":"f445fe6d.13fcc","type":"link out","z":"fa9b3c4d.e0031","name":"% out","links":["2510bc9f.9188f4"],"x":815,"y":40,"wires":[]},{"id":"63deb08e.b89d3","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":870,"y":200,"wires":[["b4ed1e8a.9e2d1","583a91e.7b94b7"],[]]},{"id":"810d022d.ab013","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":890,"y":340,"wires":[["30b1ea54.fc8306","66356958.6786f8"],[]]},{"id":"10e423e5.5edbec","type":"change","z":"fa9b3c4d.e0031","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["fa52b803.f4e088"]]},{"id":"805bc423.e4fe68","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":660,"wires":[["f43e1571.5d99e8","b058471b.a644f8"],["d22bf217.e22cb"]]},{"id":"9db1f41a.7f0548","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":820,"wires":[["2af01267.469e6e","bf701251.cdbf3"],["668c607f.5e43c"]]},{"id":"14ac0c13.77b9e4","type":"change","z":"fa9b3c4d.e0031","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["c89d7483.38f288"]]},{"id":"c89d7483.38f288","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["b27682da.71eec"],"x":495,"y":180,"wires":[]},{"id":"d15e2c1b.0d171","type":"link in","z":"fa9b3c4d.e0031","name":"Reset","links":["6a9e4975.0534a8","a1aaf6fb.7f1a38","53981b22.80f064"],"x":235,"y":180,"wires":[["10e423e5.5edbec","14ac0c13.77b9e4"]]},{"id":"2afb7067.454ce","type":"delay","z":"fa9b3c4d.e0031","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["13bf59d2.f6f2d6","86125c3d.2b6c3"]]},{"id":"fa52b803.f4e088","type":"link out","z":"fa9b3c4d.e0031","name":"reset OUT","links":["989eb1ab.13533","2510bc9f.9188f4","63b2bb59.a03e54","1254df1e.3a0fe1"],"x":495,"y":220,"wires":[]},{"id":"6a9e4975.0534a8","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["d15e2c1b.0d171"],"x":235,"y":140,"wires":[]},{"id":"8324c228.4dd19","type":"comment","z":"fa9b3c4d.e0031","name":"reset - previo","info":"Reseteo todos los contadores y espero 1 segundo para mandar la nueva orden","x":390,"y":40,"wires":[]},{"id":"f674de3f.a5ce4","type":"comment","z":"fa9b3c4d.e0031","name":"Selector Principal","info":"Aquí se seleccionan todas las ordenes y se envían a MQTT","x":680,"y":220,"wires":[]},{"id":"368f4488.8834cc","type":"function","z":"fa9b3c4d.e0031","name":"Local - 100%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=100;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1000,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"2ecca3dd.3fe57c","type":"function","z":"fa9b3c4d.e0031","name":"Local - 0%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=0;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1060,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"20a5d872.abc028","type":"link in","z":"fa9b3c4d.e0031","name":"Local 100%","links":["583a91e.7b94b7"],"x":335,"y":1000,"wires":[["658bd69e.83f128"]]},{"id":"ed7609c6.517498","type":"link in","z":"fa9b3c4d.e0031","name":"Local 0%","links":["66356958.6786f8","ebd10f25.1d563"],"x":335,"y":1060,"wires":[["4cd0dfb2.2b296"]]},{"id":"66356958.6786f8","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ed7609c6.517498"],"x":1075,"y":380,"wires":[]},{"id":"583a91e.7b94b7","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["20a5d872.abc028"],"x":995,"y":160,"wires":[]},{"id":"33be32a0.ddc82e","type":"function","z":"fa9b3c4d.e0031","name":"Local Suma","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\n\nlocal.count +=i;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1120,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"3e1fe211.06a58e","type":"link in","z":"fa9b3c4d.e0031","name":"Local Suma","links":["da9fc3be.d4c69"],"x":335,"y":1120,"wires":[["8fa2e14e.6456d"]]},{"id":"3bd7906d.b0b47","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ff7deb41.674b08"],"x":275,"y":920,"wires":[]},{"id":"da9fc3be.d4c69","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["3e1fe211.06a58e"],"x":275,"y":760,"wires":[]},{"id":"f1e0be21.5f5a","type":"debug","z":"fa9b3c4d.e0031","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1060,"wires":[]},{"id":"658bd69e.83f128","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1000,"wires":[["368f4488.8834cc"],[]]},{"id":"4cd0dfb2.2b296","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1060,"wires":[["2ecca3dd.3fe57c"],[]]},{"id":"8fa2e14e.6456d","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1120,"wires":[["33be32a0.ddc82e"],[]]},{"id":"53981b22.80f064","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["d15e2c1b.0d171"],"x":975,"y":840,"wires":[]},{"id":"a1aaf6fb.7f1a38","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["d15e2c1b.0d171"],"x":975,"y":680,"wires":[]},{"id":"fe645618.af2188","type":"function","z":"fa9b3c4d.e0031","name":"Local Resta","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\ni = i * -1;\n\nlocal.count -=i;\n\nif (local.count < 0)//test exists\n{\n  local.count=0;\n}\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1180,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"ff7deb41.674b08","type":"link in","z":"fa9b3c4d.e0031","name":"Local Resta","links":["3bd7906d.b0b47"],"x":335,"y":1180,"wires":[["5d94dcb9.bd2dc4"]]},{"id":"5d94dcb9.bd2dc4","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1180,"wires":[["fe645618.af2188"],[]]},{"id":"c5115ed0.2b5f4","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-1","payloadType":"num","x":190,"y":1180,"wires":[["fe645618.af2188"]]},{"id":"5c27fd89.e83f14","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":190,"y":1000,"wires":[["368f4488.8834cc"]]},{"id":"11ade912.245fc7","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":1060,"wires":[["2ecca3dd.3fe57c"]]},{"id":"7be62c6d.5c5634","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":1120,"wires":[["33be32a0.ddc82e"]]},{"id":"2510bc9f.9188f4","type":"link in","z":"fa9b3c4d.e0031","name":"% in","links":["f445fe6d.13fcc","fa52b803.f4e088"],"x":135,"y":480,"wires":[["2f4e9ae4.40fc26"]]},{"id":"2f4e9ae4.40fc26","type":"function","z":"fa9b3c4d.e0031","name":"Decision up/down","func":"var local=flow.get('data') || {};\n\n\nif (local.count===undefined)//test exists\n{\n  return [ msg, null, null ];\n}\n\n  msg.demand = msg.payload; \n  msg.initial = local.count;\n\nif (msg.payload > local.count)//test Subir\n{\n  msg.type =\"up\";\n  msg.payload=msg.payload - local.count;\n  if (msg.payload > 100)//test exists\n        {\n            msg.payload=100;\n        }\n\n  return [ null, msg, null ];\n}\n\n\nif (msg.payload < local.count)//test Bajar\n{\n      msg.type =\"down\";\n      msg.payload=local.count - msg.payload;\n      \n      if (msg.payload < 0)//test exists\n            {\n                msg.payload=0;\n            }\n      else {      \n          var i = parseInt(msg.payload);\n          i = i * -1;\n          msg.payload = i;\n       }\n    \n      return [ null, null, msg ];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":270,"y":480,"wires":[["a2587652.783fd8","937a81b6.543df","c2aab41.9933d48"],["f5de4fff.0afaf","c2aab41.9933d48"],["29648235.bb2f9e","c2aab41.9933d48"]]},{"id":"f5de4fff.0afaf","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["63b2bb59.a03e54"],"x":455,"y":540,"wires":[]},{"id":"29648235.bb2f9e","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["1254df1e.3a0fe1"],"x":455,"y":580,"wires":[]},{"id":"a19b3726.fb2fb8","type":"change","z":"fa9b3c4d.e0031","name":"Baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[["5058a9b1.fe5938"]]},{"id":"5058a9b1.fe5938","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["b27682da.71eec"],"x":1055,"y":460,"wires":[]},{"id":"db0dd655.c15288","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":710,"y":500,"wires":[["5058a9b1.fe5938","ebd10f25.1d563","e0141531.9f3b88"],[]]},{"id":"a2587652.783fd8","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":460,"wires":[["a19b3726.fb2fb8"]]},{"id":"ebd10f25.1d563","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ed7609c6.517498"],"x":1055,"y":500,"wires":[]},{"id":"937a81b6.543df","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"backup","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["db0dd655.c15288"]]},{"id":"e0141531.9f3b88","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"backup","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[["2aee56b3.d7091a"]]},{"id":"2aee56b3.d7091a","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["63b2bb59.a03e54"],"x":1055,"y":540,"wires":[]},{"id":"55c58d3f.299204","type":"comment","z":"fa9b3c4d.e0031","name":"%Directo","info":"","x":80,"y":440,"wires":[]},{"id":"9cdbd5ca.aee968","type":"comment","z":"fa9b3c4d.e0031","name":"Porcentajes","info":"Control de variable de estado de porcentaje de persiana.","x":90,"y":960,"wires":[]},{"id":"26823a59.717336","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"Test de persiana","env":[{"name":"move_time","value":"10","type":"num"}],"x":360,"y":160,"wires":[["cd8fed46.f6294"],["7fee1bc7.55cf74"],[]]},{"id":"459228ca.2171e8","type":"alexa-home","z":"f0ddc17c.4ba93","conf":"45adb211.c11d1c","device":"117695","acknoledge":true,"name":"tiesto","topic":"","x":150,"y":160,"wires":[["26823a59.717336"]]},{"id":"827ba467.222188","type":"debug","z":"f0ddc17c.4ba93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":340,"wires":[]},{"id":"7092d534.1f47dc","type":"function","z":"fa9b3c4d.e0031","name":"","func":"msg.payload = \"Persiana al \"+msg.payload+\"%\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1180,"wires":[[]]},{"id":"4277df20.fbbc","type":"comment","z":"fa9b3c4d.e0031","name":"% de persiana","info":"Salida para sabee el % de la persiana","x":1060,"y":1120,"wires":[]},{"id":"e0ec640c.5ce718","type":"comment","z":"fa9b3c4d.e0031","name":"Estado del nodo","info":"Saber que está trabajando dentro del nodo","x":1020,"y":1240,"wires":[]},{"id":"b058471b.a644f8","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ca3a8a2e.6f82d8"],"x":155,"y":740,"wires":[]},{"id":"1c8dee.e60ce212","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"% ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1280,"wires":[[]]},{"id":"811f1386.ec439","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Incremento ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1340,"wires":[[]]},{"id":"bf701251.cdbf3","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["eb654dc3.55cd5"],"x":155,"y":900,"wires":[]},{"id":"c2aab41.9933d48","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["fc8e422f.c6ac2"],"x":295,"y":560,"wires":[]},{"id":"ca4b9c61.aa042","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Decremento ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1400,"wires":[[]]},{"id":"fc8e422f.c6ac2","type":"link in","z":"fa9b3c4d.e0031","name":"","links":["c2aab41.9933d48"],"x":715,"y":1280,"wires":[["1c8dee.e60ce212"]]},{"id":"ca3a8a2e.6f82d8","type":"link in","z":"fa9b3c4d.e0031","name":"","links":["b058471b.a644f8"],"x":715,"y":1340,"wires":[["811f1386.ec439"]]},{"id":"eb654dc3.55cd5","type":"link in","z":"fa9b3c4d.e0031","name":"","links":["bf701251.cdbf3"],"x":715,"y":1400,"wires":[["ca4b9c61.aa042"]]},{"id":"7fee1bc7.55cf74","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"72cb428e.3c430c","type":"mqtt out","z":"fa9b3c4d.e0031","name":"persia/per4/order","topic":"${MQTT_Topic}","qos":"1","retain":"","broker":"cc03406e.951f78","x":1190,"y":100,"wires":[]},{"id":"61cc1390.a0768c","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"MQTT_ON","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":100,"wires":[["72cb428e.3c430c"]]},{"id":"87e20296.91045","type":"alexa-home","z":"f0ddc17c.4ba93","d":true,"conf":"45adb211.c11d1c","device":"117622","acknoledge":true,"name":"persiana","topic":"","x":160,"y":280,"wires":[["f0ba9981.8ffa78"]]},{"id":"38bb8661.ebd1aa","type":"alexa-home","z":"f0ddc17c.4ba93","d":true,"conf":"45adb211.c11d1c","device":"117626","acknoledge":true,"name":"persiana de estudio","topic":"","x":190,"y":340,"wires":[["e394640a.cc3d18"]]},{"id":"2603bd23.c14992","type":"alexa-home","z":"f0ddc17c.4ba93","d":true,"conf":"45adb211.c11d1c","device":"117629","acknoledge":true,"name":"persiana de comedor","topic":"","x":200,"y":400,"wires":[["1266d002.07163"]]},{"id":"f0ba9981.8ffa78","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"","env":[{"name":"MQTT_Topic","value":"persia/per3/order","type":"str"},{"name":"MQTT_ON","value":"false","type":"bool"}],"x":490,"y":280,"wires":[[],["827ba467.222188"],[]]},{"id":"e394640a.cc3d18","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"","env":[{"name":"MQTT_Topic","value":"persia/per2/order","type":"str"},{"name":"MQTT_ON","value":"false","type":"bool"}],"x":490,"y":340,"wires":[[],["827ba467.222188"],[]]},{"id":"1266d002.07163","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"","env":[{"name":"MQTT_Topic","value":"persia/per1/order","type":"str"},{"name":"MQTT_ON","value":"false","type":"bool"}],"x":490,"y":400,"wires":[[],["827ba467.222188"],[]]},{"id":"cd8fed46.f6294","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"94d6794c.7a8988","type":"mqtt in","z":"f0ddc17c.4ba93","name":"","topic":"persia/per4/order","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":220,"y":560,"wires":[["47093d8.b6e39c4"]]},{"id":"47093d8.b6e39c4","type":"debug","z":"f0ddc17c.4ba93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":560,"wires":[]},{"id":"80ea697.5024a98","type":"inject","z":"f3d60e61.2dd1f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"order\":\"getTemp\"}","payloadType":"json","x":190,"y":920,"wires":[["63681713.20aab8","e5a0f1e9.74716"]]},{"id":"63681713.20aab8","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/termo/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":490,"y":920,"wires":[]},{"id":"629c9c3f.e61024","type":"mqtt in","z":"f3d60e61.2dd1f8","name":"","topic":"persia/temp","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":290,"y":1380,"wires":[["c6d26d6d.32231"]]},{"id":"e5a0f1e9.74716","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/per2/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":490,"y":860,"wires":[]},{"id":"8f0c7729.355ca8","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"termo","vt":"str"},{"t":"eq","v":"per2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1380,"wires":[["305e06e9.762b6a"],["9653fe31.06c6f"]]},{"id":"c6d26d6d.32231","type":"json","z":"f3d60e61.2dd1f8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1380,"wires":[["8f0c7729.355ca8"]]},{"id":"9af63537.ae2bd8","type":"alexa-home","z":"f3d60e61.2dd1f8","conf":"45adb211.c11d1c","device":"118865","acknoledge":false,"name":"Interior","topic":"","x":170,"y":1040,"wires":[["9a7e9d01.ef0ac"]],"info":"https://alexa-node-red.bm.hardill.me.uk/docs"},{"id":"d79107f2.f24b48","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/termo/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":710,"y":1040,"wires":[]},{"id":"8b6ffd0d.53f8a","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"getTemp\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1040,"wires":[["d79107f2.f24b48"]]},{"id":"9a7e9d01.ef0ac","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1040,"wires":[["8b6ffd0d.53f8a","9f497572.d8efb8"]]},{"id":"37df3e8a.af48c2","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"interior","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1120,"wires":[["c5d5bb93.813cf8"]]},{"id":"9f497572.d8efb8","type":"delay","z":"f3d60e61.2dd1f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1120,"wires":[["37df3e8a.af48c2"]]},{"id":"305e06e9.762b6a","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"interior","pt":"flow","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1360,"wires":[["9e72d429.826738"]]},{"id":"c5d5bb93.813cf8","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":795,"y":1120,"wires":[]},{"id":"9653fe31.06c6f","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"exterior","pt":"flow","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1400,"wires":[[]]},{"id":"106bfa9c.e0f265","type":"alexa-home","z":"f3d60e61.2dd1f8","conf":"45adb211.c11d1c","device":"118864","acknoledge":false,"name":"Exterior","topic":"","x":170,"y":1180,"wires":[["8b0ceabb.de84d8"]],"info":"https://alexa-node-red.bm.hardill.me.uk/docs"},{"id":"67e38aa5.ab79f4","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/per2/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":710,"y":1180,"wires":[]},{"id":"b15bc38d.f5b51","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"getTemp\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1180,"wires":[["67e38aa5.ab79f4"]]},{"id":"8b0ceabb.de84d8","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1180,"wires":[["b15bc38d.f5b51","39c6f511.f17b1a"]]},{"id":"3a5fe600.d7448a","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"exterior","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1260,"wires":[["a492f08e.756cb"]]},{"id":"39c6f511.f17b1a","type":"delay","z":"f3d60e61.2dd1f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1260,"wires":[["3a5fe600.d7448a"]]},{"id":"a492f08e.756cb","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":795,"y":1260,"wires":[]},{"id":"4f145eb4.d223d","type":"comment","z":"f3d60e61.2dd1f8","name":"Temperatura","info":"# Responde con las temperaturas\n * temperatura de exterior\n * temperatura de interior\n# Pagina de test\n * https://developer.amazon.com/alexa/console/ask/test/amzn1.ask.skill.c1ce23b7-d6e2-46b0-82b3-ad6b2bacfbdd/development/es_ES/","x":160,"y":800,"wires":[]},{"id":"d1e6eaac.063d58","type":"ui_heater_controller","z":"f3d60e61.2dd1f8","name":"heater","group":"e0fcee29.3d10c8","unit":"C","order":2,"width":8,"height":3,"topic":"","title":"","logLengthType":"days","logLength":1,"sliderMinValue":"20","sliderMaxValue":"25","sliderStep":0.5,"thresholdRising":0.5,"thresholdFalling":0.5,"calendar":"{\n    \"Monday\": {\n        \"00:00\": 19,\n        \"06:20\": 22,\n        \"08:00\": 19,\n        \"16:40\": 22,\n        \"23:59\": 19\n    },\n    \"Tuesday\": {\n        \"00:00\": 19,\n        \"06:20\": 22,\n        \"08:00\": 19,\n        \"16:40\": 22,\n        \"23:59\": 19\n    },\n    \"Wednesday\": {\n        \"00:00\": 19,\n        \"06:20\": 22,\n        \"08:00\": 19,\n        \"16:40\": 22,\n        \"23:59\": 19\n    },\n    \"Thursday\": {\n        \"00:00\": 19,\n        \"06:20\": 22,\n        \"08:00\": 19,\n        \"16:40\": 22,\n        \"23:59\": 19\n    },\n    \"Friday\": {\n        \"00:00\": 19,\n        \"06:20\": 23,\n        \"08:00\": 19,\n        \"16:40\": 22,\n        \"23:59\": 19\n    },\n    \"Saturday\": {\n        \"00:00\": 19,\n        \"08:00\": 20,\n        \"20:00\": 22,\n        \"23:59\": 19\n    },\n    \"Sunday\": {\n        \"00:00\": 19,\n        \"08:00\": 20,\n        \"20:00\": 22,\n        \"23:59\": 19\n    }\n}","x":890,"y":1540,"wires":[["b5ca5bb1.fbb9e8"]]},{"id":"a1197aaa.fe8a88","type":"inject","z":"f3d60e61.2dd1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":1540,"wires":[["9e72d429.826738"]]},{"id":"9e72d429.826738","type":"change","z":"f3d60e61.2dd1f8","name":"TemperaturaActual","rules":[{"t":"set","p":"topic","pt":"msg","to":"currentTemp","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"interior","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1540,"wires":[["d1e6eaac.063d58"]]},{"id":"b5ca5bb1.fbb9e8","type":"debug","z":"f3d60e61.2dd1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":1540,"wires":[]}]