NodeRed/flows-7.json
[{"id":"80e7fcae.e60348","type":"tab","label":"Graficos 1","disabled":false,"info":""},{"id":"9fe9cc56.678888","type":"tab","label":"Graficos 2","disabled":false,"info":""},{"id":"6f26701.f6c739","type":"tab","label":"SQL_Temp","disabled":false,"info":""},{"id":"f0ddc17c.4ba93","type":"tab","label":"Control persianas","disabled":false,"info":""},{"id":"ccc70095.e8d18","type":"tab","label":"Control de servidores","disabled":false,"info":""},{"id":"f3d60e61.2dd1f8","type":"tab","label":"Calefacción","disabled":false,"info":""},{"id":"5ec721c6.6a6898","type":"tab","label":"test interparking","disabled":false,"info":""},{"id":"fa9b3c4d.e0031","type":"subflow","name":"Control-Persiana","info":"Dispone de Salida para Conectar a MQTT\n## Variables de entorno\n * MQTT_ON = True / False\n * MQTT_Topic = Topic de MQTT al que enviar mensajes\n * move_timer = Tiempo que tarda la Persiana en subir y bajar\n## Imput\n * Se puede mandar pauete con Topic = block para poder mandar mensaje de bloqueo directo a MQTT. Se comprueba de manera booleana. \n * Puedes crear un dispositivo alexa con nombre \"bloqueo de persiana\" para poder dar la orden\n## Imput2\n * Dipone de una entrada donde se puede conectar alexa a o botones para control\n *  * Alexa: https://alexa-node-red.bm.hardill.me.uk/docs\n *  *  Botones:\n *  *  *  true - Levanta al 100%\n *  *  *  false - Baja al 100%\n *  *  *  ","category":"","in":[{"x":20,"y":80,"wires":[{"id":"1b5adff0.3f3768"}]}],"out":[{"x":1160,"y":40,"wires":[{"id":"b27682da.71eec","port":0}]},{"x":1040,"y":1340,"wires":[{"id":"7092d534.1f47dc","port":0},{"id":"9ebd2d0e.11b35","port":0},{"id":"7f44b9a3.981f38","port":0}]},{"x":1040,"y":1440,"wires":[{"id":"1c8dee.e60ce212","port":0},{"id":"811f1386.ec439","port":0},{"id":"ca4b9c61.aa042","port":0}]},{"x":120,"y":40,"wires":[{"id":"fa9b3c4d.e0031","port":0}]},{"x":640,"y":560,"wires":[{"id":"2f4e9ae4.40fc26","port":0},{"id":"2f4e9ae4.40fc26","port":1},{"id":"2f4e9ae4.40fc26","port":2}]},{"x":1060,"y":800,"wires":[{"id":"ca4eeb59.eda1b8","port":0},{"id":"717ef713.35a63","port":0},{"id":"30ab0d4.8956ff2","port":0},{"id":"db35e674.a78f68","port":0},{"id":"eca93e8d.74a7e8","port":0},{"id":"401c0185.5d8008","port":0},{"id":"d22bf217.e22cb","port":0},{"id":"668c607f.5e43c","port":0},{"id":"810d022d.ab013","port":0},{"id":"63deb08e.b89d3","port":0}]}],"env":[{"name":"move_time","type":"num","value":"30"},{"name":"MQTT_Topic","type":"str","value":"persia/per4/order"},{"name":"MQTT_ON","type":"bool","value":"true"},{"name":"up_whit_correction","type":"num","value":"30"},{"name":"down_whit_correction","type":"str","value":"30"}],"meta":{},"color":"#F3B567","inputLabels":["Alexa"],"outputLabels":["MQTT Messages","Persiana %","Internal process ON","Paquete de entrada","Paquete de Decision up/down","Conversión porcentaje a tiempo"]},{"id":"63e478e.65faa88","type":"subflow","name":"Control-Persiana_SIn_correcion_de_Maximos","info":"Dispone de Salida para Conectar a MQTT\n## Variables de entorno\n * MQTT_ON = True / False\n * MQTT_Topic = Topic de MQTT al que enviar mensajes\n * move_timer = Tiempo que tarda la Persiana en subir y bajar\n## Imput\n * Se puede mandar pauete con Topic = block para poder mandar mensaje de bloqueo directo a MQTT. Se comprueba de manera booleana. \n * Puedes crear un dispositivo alexa con nombre \"bloqueo de persiana\" para poder dar la orden\n## Imput2\n * Dipone de una entrada donde se puede conectar alexa a o botones para control\n *  * Alexa: https://alexa-node-red.bm.hardill.me.uk/docs\n *  *  Botones:\n *  *  *  true - Levanta al 100%\n *  *  *  false - Baja al 100%\n *  *  *  ","category":"","in":[{"x":20,"y":80,"wires":[{"id":"d550f1c0.09d7b8"}]}],"out":[{"x":1160,"y":40,"wires":[{"id":"1c56dbfe.fe5d8c","port":0}]},{"x":1060,"y":1180,"wires":[{"id":"acac6149.291998","port":0},{"id":"a5e8f0d7.8f446","port":0},{"id":"83f1f426.b09f8","port":0}]},{"x":1060,"y":1280,"wires":[{"id":"4d50d76a.1133e","port":0},{"id":"550cce7d.c19bc","port":0},{"id":"a6e8d642.9e8678","port":0}]},{"x":120,"y":40,"wires":[{"id":"63e478e.65faa88","port":0}]}],"env":[{"name":"move_time","type":"num","value":"30"},{"name":"MQTT_Topic","type":"str","value":"persia/per4/order"},{"name":"MQTT_ON","type":"bool","value":"true"},{"name":"move_time_down","type":"num","value":"30"}],"meta":{},"color":"#F3B567","inputLabels":["Alexa"],"outputLabels":["MQTT Messages","Persiana %","Internal process ON","Paquete de entrada"]},{"id":"95ea86bf.d2cda","type":"group","z":"ccc70095.e8d18","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1ee0a562.b6651b"],"x":1484,"y":139,"w":152,"h":82},{"id":"cc03406e.951f78","type":"mqtt-broker","name":"Local_echao","broker":"192.168.3.181","port":"1883","clientid":"server","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"Hola!","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f9f94cb8.ee3658","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e17c708f.551c6","type":"ui_group","name":"Interna","tab":"f9f94cb8.ee3658","order":5,"disp":true,"width":6,"collapse":true},{"id":"f360b055.14aa98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Persia - Node-RED ","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bdcba475.3f451","type":"ui_group","name":"Externa","tab":"f9f94cb8.ee3658","order":6,"disp":true,"width":6,"collapse":true},{"id":"24ec8664.0046ea","type":"ui_group","name":"Config","tab":"f9f94cb8.ee3658","order":2,"disp":true,"width":"6","collapse":true},{"id":"dad8f1be.6eabc","type":"ui_tab","name":"Graficas","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"92bf5dd4.6916f8","type":"ui_group","name":"Humedad","tab":"dad8f1be.6eabc","order":1,"disp":true,"width":8,"collapse":false},{"id":"e0fcee29.3d10c8","type":"ui_group","name":"Temperatura","tab":"dad8f1be.6eabc","order":2,"disp":true,"width":8,"collapse":false},{"id":"75e718cb.2a237","type":"ui_group","name":"persiana","tab":"f9f94cb8.ee3658","order":1,"disp":true,"width":6,"collapse":true},{"id":"4cab9f17.1e3dc","type":"MySQLdatabase","name":"temperaturas","host":"192.168.3.181","port":"3306","db":"temperaturas","tz":""},{"id":"7e1201e0.3a026","type":"ui_group","name":"Default","tab":"","disp":true,"width":"6"},{"id":"1b64051d.e0c82b","type":"ui_group","name":"Default","tab":"3b3fa94a.563c0e","order":3,"disp":true,"width":"6","collapse":false},{"id":"1cc2ab22.16574d","type":"mqtt-broker","name":"paul_broker","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77e7a084.a7421","type":"ui_group","name":"Remote relay","tab":"","disp":true,"width":"4","collapse":false},{"id":"ebaa9ce8.097a38","type":"ui_group","name":"GAUGE INPUT SELECTOR","tab":"e4cdd3fd.dd9878","order":1,"disp":true,"width":8,"collapse":false},{"id":"e4cdd3fd.dd9878","type":"ui_tab","name":"Controls","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"a3c74eb.0c015b","type":"ui_group","name":"GAUGE INPUT SELECTOR","tab":"","disp":true,"width":8,"collapse":false},{"id":"1b2482ce.9d5025","type":"ui_group","name":"Test tab","tab":"","disp":true,"width":"6","collapse":false},{"id":"b84209ee.f4b318","type":"mqtt-broker","name":"Homey MQTT","broker":"192.168.1.22","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2db3afb4.5d879","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"45adb211.c11d1c","type":"alexa-home-conf","username":"_echao_"},{"id":"65deacaa.c1e404","type":"alexa-home-conf","username":"_echao_"},{"id":"d02bbcae.80504","type":"alexa-home-conf","username":"echao"},{"id":"60a199.33c71668","type":"ui_group","d":true,"name":"Server Status","tab":"f9f94cb8.ee3658","order":3,"disp":true,"width":6,"collapse":true},{"id":"d027ab97.3a492","type":"websocket-listener","path":"/socket","wholemsg":"false"},{"id":"6cef0b3c.fc1fa4","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cc1cead9.fbc8e","type":"ui_tab","name":"Servidor","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"80677e24.b1fa78","type":"ui_group","name":"Status","tab":"f9f94cb8.ee3658","order":4,"disp":true,"width":6,"collapse":true},{"id":"2007caa7.9dc636","type":"ui_group","name":"Server CPU","tab":"f9f94cb8.ee3658","order":8,"disp":true,"width":6,"collapse":true},{"id":"ad0e1f68.c10fd","type":"ui_tab","name":"Home","icon":"dashboard","order":6},{"id":"d8596899.c56458","type":"ui_group","name":"Default","tab":"e4cdd3fd.dd9878","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae47cffa.963c78","type":"ui_tab","name":"Home","icon":"dashboard","order":7},{"id":"763720f9.ddf278","type":"ui_link","name":"Torrent","link":"http://192.168.3.151:9091/transmission/web/","icon":"open_in_browser","target":"newtab","order":3},{"id":"4cc5f390.dd914c","type":"ui_group","name":"Taller","tab":"f9f94cb8.ee3658","order":7,"disp":true,"width":6,"collapse":true},{"id":"fa7adc1e.6f7dd","type":"ui_group","name":"Taller-Speed","tab":"f9f94cb8.ee3658","order":9,"disp":true,"width":6,"collapse":true},{"id":"c74f3b99.2071a8","type":"ui_spacer","name":"spacer","group":"75e718cb.2a237","order":2,"width":1,"height":1},{"id":"bb7e6d7b.ea72","type":"ui_spacer","name":"spacer","group":"75e718cb.2a237","order":4,"width":3,"height":1},{"id":"407d8879.5943c8","type":"ui_spacer","name":"spacer","group":"75e718cb.2a237","order":8,"width":3,"height":1},{"id":"211b15b5.0fff2a","type":"ui_spacer","name":"spacer","group":"75e718cb.2a237","order":10,"width":1,"height":1},{"id":"b35a7fa4.c64b2","type":"ui_spacer","name":"spacer","group":"75e718cb.2a237","order":12,"width":3,"height":1},{"id":"9d7b341e.d6b2c8","type":"ui_spacer","name":"spacer","group":"24ec8664.0046ea","order":6,"width":2,"height":1},{"id":"7e45dca1.4aba74","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":3,"width":3,"height":1},{"id":"edbd7a1d.1a08c8","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":5,"width":6,"height":1},{"id":"52aebd83.59f734","type":"ui_spacer","name":"spacer","group":"60a199.33c71668","order":7,"width":1,"height":1},{"id":"d2487eda.e5853","type":"ui_spacer","name":"spacer","group":"80677e24.b1fa78","order":5,"width":1,"height":1},{"id":"92d9eace.31b468","type":"mqtt in","z":"80e7fcae.e60348","name":"","topic":"persia/log","qos":"2","datatype":"auto","broker":"cc03406e.951f78","nl":false,"rap":false,"x":80,"y":100,"wires":[["810353fa.0006c"]]},{"id":"800599d8.6d94d8","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"","pretty":false,"x":430,"y":100,"wires":[["c56dd76c.1494a8","91ec9cf1.0bf7c"]]},{"id":"3154f2d2.dc045e","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":240,"wires":[["be9b2768.bdf06","accdcd79.dbfd"]]},{"id":"be9b2768.bdf06","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"e17c708f.551c6","order":2,"width":3,"height":3,"gtype":"gage","title":"Humedad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#0056d6","#00fa00","#ca3838"],"seg1":"40","seg2":"60","x":940,"y":240,"wires":[]},{"id":"e16c0157.66084","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"e17c708f.551c6","order":1,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#0432ff","#00b500","#ca3838"],"seg1":"19","seg2":"25","x":950,"y":480,"wires":[]},{"id":"43152bff.4dc4cc","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":480,"wires":[["e16c0157.66084","5fde254b.6a8ea4"]]},{"id":"311eee27.47d47a","type":"switch","z":"80e7fcae.e60348","name":"Interno","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"termo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["3154f2d2.dc045e","43152bff.4dc4cc","cb8acef8.b24c9"]]},{"id":"4ef218c9.ffca7","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":640,"wires":[["fe598516.9f46f","957272f.3a6511"]]},{"id":"fe598516.9f46f","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"bdcba475.3f451","order":2,"width":3,"height":3,"gtype":"gage","title":"Humedad","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#0056d6","#00fa00","#ca3838"],"seg1":"40","seg2":"60","x":940,"y":640,"wires":[]},{"id":"d951d1be.68b338","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"bdcba475.3f451","order":1,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#0432ff","#00b500","#ca3838"],"seg1":"19","seg2":"25","x":950,"y":860,"wires":[]},{"id":"60702cb1.fa1b94","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":860,"wires":[["d951d1be.68b338","deada7a5.2107a"]]},{"id":"8d3c8632.16bb88","type":"switch","z":"80e7fcae.e60348","name":"Externo","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"per2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":620,"wires":[["4ef218c9.ffca7","60702cb1.fa1b94","4181e94f.d75d18"]]},{"id":"2020d36.2d67aac","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"e0fcee29.3d10c8","order":2,"width":4,"height":4,"label":"T-Externa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"2","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1180,"y":900,"wires":[[]]},{"id":"b9f15ddd.ec8668","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"e0fcee29.3d10c8","order":1,"width":4,"height":4,"label":"T-Interna","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1200,"y":540,"wires":[[]]},{"id":"c1a0a94a.eafd1","type":"ui_toast","z":"80e7fcae.e60348","position":"bottom right","displayTime":"8","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1170,"y":60,"wires":[]},{"id":"c56dd76c.1494a8","type":"switch","z":"80e7fcae.e60348","name":"pop-up connecting","property":"payload.staus","propertyType":"msg","rules":[{"t":"eq","v":"connecting","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":60,"wires":[["652e8840.b1a618"]]},{"id":"652e8840.b1a618","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"str","pretty":false,"x":850,"y":60,"wires":[["c1a0a94a.eafd1"]]},{"id":"99e024d5.4f13e","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"92bf5dd4.6916f8","order":1,"width":"4","height":"4","label":"H-Interna","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1200,"y":280,"wires":[[]]},{"id":"d14a6faa.eb77c8","type":"ui_chart","z":"80e7fcae.e60348","name":"","group":"92bf5dd4.6916f8","order":2,"width":"4","height":"4","label":"H-Externa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1190,"y":680,"wires":[[]]},{"id":"91ec9cf1.0bf7c","type":"switch","z":"80e7fcae.e60348","name":"pop-up alive","property":"payload.staus","propertyType":"msg","rules":[{"t":"eq","v":"alive","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":120,"wires":[["7c1a2c46.daf224"]]},{"id":"7c1a2c46.daf224","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"str","pretty":false,"x":850,"y":120,"wires":[["f1ef9018.90abd8"]]},{"id":"f1ef9018.90abd8","type":"ui_toast","z":"80e7fcae.e60348","position":"bottom right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1170,"y":120,"wires":[]},{"id":"5fde254b.6a8ea4","type":"rbe","z":"80e7fcae.e60348","d":true,"name":"Filtro de banda 0,45","func":"deadbandEq","gap":"0.45","start":"","inout":"out","property":"payload","x":980,"y":540,"wires":[["b9f15ddd.ec8668","42e32504.f63874","bac50edd.b150e"]]},{"id":"deada7a5.2107a","type":"rbe","z":"80e7fcae.e60348","d":true,"name":"Filtro de banda 0,45","func":"deadbandEq","gap":"0.45","start":"","inout":"out","property":"payload","x":980,"y":900,"wires":[["2020d36.2d67aac","65a2736b.2ca8cc","4d51e19d.8f1f88"]]},{"id":"3126297a.d3bfce","type":"ui_switch","z":"9fe9cc56.678888","name":"","label":"Auto - Externo","tooltip":"","group":"24ec8664.0046ea","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"persia/per2/mode","style":"","onvalue":"{\"mode\":\"auto\",\"time\": 20000}","onvalueType":"json","onicon":"fa-power-off","oncolor":"green","offvalue":"{\"mode\":\"standard\",\"time\": 20000}","offvalueType":"json","officon":"fa-power-off","offcolor":"red","x":400,"y":180,"wires":[["8918d538.a95e8"]]},{"id":"8918d538.a95e8","type":"mqtt out","z":"9fe9cc56.678888","name":"MQTT - Retain payload","topic":"","qos":"2","retain":"true","broker":"cc03406e.951f78","x":830,"y":160,"wires":[]},{"id":"148d71d4.8a502e","type":"ui_switch","z":"9fe9cc56.678888","name":"","label":"Auto - Interior","tooltip":"","group":"24ec8664.0046ea","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"persia/termo/mode","style":"","onvalue":"{\"mode\":\"auto\",\"time\": 20000}","onvalueType":"json","onicon":"fa-power-off","oncolor":"green","offvalue":"{\"mode\":\"standard\",\"time\":20000}","offvalueType":"json","officon":"fa-power-off","offcolor":"red","x":400,"y":120,"wires":[["8918d538.a95e8"]]},{"id":"292b8cc6.4f5734","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"24ec8664.0046ea","order":5,"width":2,"height":1,"passthru":false,"label":"GetInfo","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-rss fa-x2","payload":"{\"order\":\"getInfo\"}","payloadType":"json","topic":"persia/general","x":380,"y":240,"wires":[["8918d538.a95e8"]]},{"id":"957272f.3a6511","type":"rbe","z":"80e7fcae.e60348","d":true,"name":"Filtro 0.9","func":"deadbandEq","gap":"0.9","start":"","inout":"out","property":"payload","x":940,"y":680,"wires":[["d14a6faa.eb77c8","66d50a46.b8c254","e64d7026.56855"]]},{"id":"accdcd79.dbfd","type":"rbe","z":"80e7fcae.e60348","d":true,"name":"Filtro 0.9","func":"deadbandEq","gap":"0.9","start":"","inout":"out","property":"payload","x":940,"y":280,"wires":[["99e024d5.4f13e","6ee2c9a6.bc00d8","c2f96f0a.a4806"]]},{"id":"fd3ea00.b91286","type":"mqtt in","z":"80e7fcae.e60348","name":"","topic":"persia/temp","qos":"2","datatype":"auto","broker":"cc03406e.951f78","nl":false,"rap":false,"x":90,"y":340,"wires":[["b67a30b5.5acff8"]]},{"id":"b67a30b5.5acff8","type":"json","z":"80e7fcae.e60348","name":"","property":"payload","action":"","pretty":false,"x":250,"y":340,"wires":[["311eee27.47d47a","8d3c8632.16bb88","e738cb12.e17a28"]]},{"id":"e678538.eba13b","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.disp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1140,"wires":[["9c98716c.0b63f"]]},{"id":"4eb24659.c0c95","type":"ui_led","z":"80e7fcae.e60348","order":4,"group":"24ec8664.0046ea","width":1,"height":1,"label":"I","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1050,"y":1200,"wires":[]},{"id":"9c98716c.0b63f","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1200,"wires":[["4eb24659.c0c95","2de83212.5291e6"]]},{"id":"2de83212.5291e6","type":"timeouttrigger","z":"80e7fcae.e60348","ontimeouttype":"str","ontimeoutval":"false","duration":"25","units":"s","name":"","x":910,"y":1240,"wires":[["4eb24659.c0c95","6619ef96.627b18"]]},{"id":"bdf62c04.c8b72","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.disp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1320,"wires":[["3b9c98d0.26fa7"]]},{"id":"f83fc919.9d6b","type":"ui_led","z":"80e7fcae.e60348","order":3,"group":"24ec8664.0046ea","width":1,"height":1,"label":"E","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1050,"y":1380,"wires":[]},{"id":"3b9c98d0.26fa7","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1380,"wires":[["f83fc919.9d6b","9e312430.265dc8"]]},{"id":"9e312430.265dc8","type":"timeouttrigger","z":"80e7fcae.e60348","ontimeouttype":"str","ontimeoutval":"false","duration":"25","units":"s","name":"","x":910,"y":1420,"wires":[["f83fc919.9d6b","887e27fa.9f2ab"]]},{"id":"cb8acef8.b24c9","type":"link out","z":"80e7fcae.e60348","name":"Interno","links":["6d2c26de.cac058","18fcaa4d.3c5296"],"x":595,"y":200,"wires":[]},{"id":"4181e94f.d75d18","type":"link out","z":"80e7fcae.e60348","name":"Externo","links":["7ce91e6b.697eb"],"x":615,"y":580,"wires":[]},{"id":"6d2c26de.cac058","type":"link in","z":"80e7fcae.e60348","name":"","links":["cb8acef8.b24c9"],"x":275,"y":1140,"wires":[["e678538.eba13b"]]},{"id":"7ce91e6b.697eb","type":"link in","z":"80e7fcae.e60348","name":"","links":["4181e94f.d75d18"],"x":275,"y":1320,"wires":[["bdf62c04.c8b72"]]},{"id":"2213ef3c.716398","type":"link out","z":"80e7fcae.e60348","name":"Int-Trigger-off","links":["5f06a566.cf81fc"],"x":1215,"y":1260,"wires":[]},{"id":"2bbe45ea.65e9f2","type":"link out","z":"80e7fcae.e60348","name":"Ext-Trigger-off","links":["6cf9283c.f1bb78"],"x":1235,"y":1460,"wires":[]},{"id":"5f06a566.cf81fc","type":"link in","z":"80e7fcae.e60348","name":"","links":["2213ef3c.716398"],"x":615,"y":360,"wires":[["a4c43b2f.9f1978"]]},{"id":"a4c43b2f.9f1978","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["e16c0157.66084","be9b2768.bdf06"]]},{"id":"6619ef96.627b18","type":"switch","z":"80e7fcae.e60348","name":"True / false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1260,"wires":[[],["2213ef3c.716398"]]},{"id":"6cf9283c.f1bb78","type":"link in","z":"80e7fcae.e60348","name":"","links":["2bbe45ea.65e9f2"],"x":615,"y":760,"wires":[["4921bf53.6d4128"]]},{"id":"4921bf53.6d4128","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":760,"wires":[["fe598516.9f46f","d951d1be.68b338"]]},{"id":"887e27fa.9f2ab","type":"switch","z":"80e7fcae.e60348","name":"True / false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1460,"wires":[[],["2bbe45ea.65e9f2"]]},{"id":"76f49e7.0dc616","type":"comment","z":"80e7fcae.e60348","name":"","info":"Comprobar que recibo Temp cada 25 segundos para encender y apagar led","x":300,"y":1080,"wires":[]},{"id":"9f4ab366.beaaa","type":"comment","z":"80e7fcae.e60348","name":"","info":"Si no mandan datos, pongo los relojes a 0","x":740,"y":720,"wires":[]},{"id":"91998572.096718","type":"comment","z":"80e7fcae.e60348","name":"","info":"Si no mandan datos, pongo los relojes a 0","x":740,"y":320,"wires":[]},{"id":"c6f76027.41e2a8","type":"comment","z":"80e7fcae.e60348","name":"","info":"Comprobar que recibo Temp cada 25 segundos para encender y apagar led","x":300,"y":1260,"wires":[]},{"id":"810353fa.0006c","type":"delay","z":"80e7fcae.e60348","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":100,"wires":[["800599d8.6d94d8"]]},{"id":"758d4dd2.615cdc","type":"comment","z":"9fe9cc56.678888","name":"Botones Control","info":"","x":200,"y":60,"wires":[]},{"id":"6ee2c9a6.bc00d8","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":360,"wires":[]},{"id":"42e32504.f63874","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":480,"wires":[]},{"id":"66d50a46.b8c254","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":740,"wires":[]},{"id":"65a2736b.2ca8cc","type":"debug","z":"80e7fcae.e60348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":820,"wires":[]},{"id":"c95b30d6.9880a8","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"","pretty":false,"x":250,"y":120,"wires":[["148d71d4.8a502e"]]},{"id":"3f02deb8.cfe0ba","type":"mqtt in","z":"9fe9cc56.678888","name":"","topic":"persia/termo/mode","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":90,"y":120,"wires":[["c95b30d6.9880a8"]]},{"id":"6a91ba02.8c4e94","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"","pretty":false,"x":250,"y":180,"wires":[["3126297a.d3bfce"]]},{"id":"c7240786.62402","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":5,"width":1,"height":1,"passthru":false,"label":"2","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-up fa-2x","payload":"{\"order\":\"up\"}","payloadType":"json","topic":"persia/per2/order","x":370,"y":540,"wires":[["63a17f94.e7c008","d7c8039d.1edc8"]]},{"id":"63a17f94.e7c008","type":"timeouttrigger","z":"9fe9cc56.678888","ontimeouttype":"str","ontimeoutval":"{\"order\":\"stop\"}","duration":"30","units":"s","name":"","x":530,"y":600,"wires":[["afa38489.758a68"]]},{"id":"d7c8039d.1edc8","type":"mqtt out","z":"9fe9cc56.678888","name":"","topic":"persia/per2/order","qos":"","retain":"","broker":"cc03406e.951f78","x":990,"y":600,"wires":[]},{"id":"afa38489.758a68","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":600,"wires":[["d7c8039d.1edc8"]]},{"id":"7968e9d.b523718","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":7,"width":1,"height":1,"passthru":false,"label":"2","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-down fa-2x","payload":"{\"order\":\"down\"}","payloadType":"json","topic":"persia/per2/order","x":370,"y":660,"wires":[["d7c8039d.1edc8","63a17f94.e7c008"]]},{"id":"97dcdd6d.2bd338","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":1,"width":1,"height":1,"passthru":false,"label":"1","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-up fa-2x","payload":"{\"order\":\"up\"}","payloadType":"json","topic":"persia/per1/order","x":370,"y":340,"wires":[["ff8c3161.5c247","846e045c.8d56f"]]},{"id":"ff8c3161.5c247","type":"timeouttrigger","z":"9fe9cc56.678888","ontimeouttype":"str","ontimeoutval":"{\"order\":\"stop\"}","duration":"30","units":"s","name":"","x":530,"y":400,"wires":[["a150fa1a.eda8b8"]]},{"id":"846e045c.8d56f","type":"mqtt out","z":"9fe9cc56.678888","name":"","topic":"persia/per1/order","qos":"","retain":"","broker":"cc03406e.951f78","x":990,"y":400,"wires":[]},{"id":"a150fa1a.eda8b8","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":400,"wires":[["846e045c.8d56f"]]},{"id":"7b6d8dbe.5d9f2c","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":3,"width":1,"height":1,"passthru":false,"label":"1","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-down fa-2x","payload":"{\"order\":\"down\"}","payloadType":"json","topic":"persia/per1/order","x":370,"y":460,"wires":[["846e045c.8d56f","ff8c3161.5c247"]]},{"id":"9b0190ea.a3f4","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":9,"width":1,"height":1,"passthru":false,"label":"3","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-up fa-2x","payload":"{\"order\":\"up\"}","payloadType":"json","topic":"persia/per3/order","x":370,"y":760,"wires":[["ac096909.030e58","9cd3aa3e.79fae8"]]},{"id":"ac096909.030e58","type":"timeouttrigger","z":"9fe9cc56.678888","ontimeouttype":"str","ontimeoutval":"{\"order\":\"stop\"}","duration":"30","units":"s","name":"","x":530,"y":820,"wires":[["224eb61a.fe41f2"]]},{"id":"9cd3aa3e.79fae8","type":"mqtt out","z":"9fe9cc56.678888","name":"","topic":"persia/per3/order","qos":"2","retain":"","broker":"cc03406e.951f78","x":990,"y":800,"wires":[]},{"id":"224eb61a.fe41f2","type":"json","z":"9fe9cc56.678888","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":820,"wires":[["9cd3aa3e.79fae8"]]},{"id":"a6c7cdf0.a792a","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":11,"width":1,"height":1,"passthru":false,"label":"3","tooltip":"","color":"#333333","bgcolor":"#FFFFFF","icon":"fa-caret-square-o-down fa-2x","payload":"{\"order\":\"down\"}","payloadType":"json","topic":"persia/per3/order","x":370,"y":880,"wires":[["9cd3aa3e.79fae8","ac096909.030e58"]]},{"id":"241b9f21.f063f8","type":"ui_button","z":"9fe9cc56.678888","name":"","group":"75e718cb.2a237","order":6,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"red","bgcolor":"#FFFFFF","icon":"fa-stop-circle fa-2x","payload":"{\"order\":\"stop\"}","payloadType":"json","topic":"persia/per3/order","x":750,"y":660,"wires":[["9cd3aa3e.79fae8","d7c8039d.1edc8","846e045c.8d56f"]]},{"id":"8474599f.d7ab2","type":"comment","z":"9fe9cc56.678888","name":"Botones Persianas","info":"","x":390,"y":300,"wires":[]},{"id":"4715a99d.e76258","type":"mqtt in","z":"9fe9cc56.678888","name":"","topic":"persia/per2/mode","qos":"1","datatype":"auto","broker":"cc03406e.951f78","x":90,"y":180,"wires":[["6a91ba02.8c4e94"]]},{"id":"22e784c8.f09d5c","type":"mysql","z":"6f26701.f6c739","d":true,"mydb":"4cab9f17.1e3dc","name":"","x":870,"y":280,"wires":[["c42aed8b.177c2"]]},{"id":"c42aed8b.177c2","type":"debug","z":"6f26701.f6c739","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"fe07c2bc.1f5638","type":"inject","z":"6f26701.f6c739","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from tempera","payload":"","payloadType":"str","x":200,"y":80,"wires":[["22e784c8.f09d5c"]]},{"id":"3b8cc3e.c9fe3bc","type":"inject","z":"6f26701.f6c739","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO `tempera`( `temp_int`, `hume_int`, `temp_out`, `hume_out`) VALUES (\"22\",\"60.5\",\"15.5\",\"70.5\")","payload":"","payloadType":"str","x":150,"y":140,"wires":[["22e784c8.f09d5c"]]},{"id":"bac50edd.b150e","type":"link out","z":"80e7fcae.e60348","name":"temp_int","links":["470bcc2b.20ead4"],"x":1200,"y":600,"wires":[]},{"id":"c2f96f0a.a4806","type":"link out","z":"80e7fcae.e60348","name":"hume_int","links":["5a5b112f.77977"],"x":1200,"y":420,"wires":[]},{"id":"e64d7026.56855","type":"link out","z":"80e7fcae.e60348","name":"hume_ext","links":["5b5ff363.5b4c7c"],"x":1235,"y":780,"wires":[]},{"id":"4d51e19d.8f1f88","type":"link out","z":"80e7fcae.e60348","name":"temp_out","links":["a409c06c.4c885"],"x":1180,"y":940,"wires":[]},{"id":"470bcc2b.20ead4","type":"link in","z":"6f26701.f6c739","name":"","links":["bac50edd.b150e"],"x":95,"y":260,"wires":[["9e1df719.ae1ad8"]]},{"id":"58e17682.ec9578","type":"debug","z":"6f26701.f6c739","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":500,"wires":[]},{"id":"1e23572f.0c4699","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `temp_int`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":260,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"9e1df719.ae1ad8","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":260,"wires":[["1e23572f.0c4699"]]},{"id":"5a5b112f.77977","type":"link in","z":"6f26701.f6c739","name":"","links":["c2f96f0a.a4806"],"x":95,"y":340,"wires":[["fbfc2c73.e56418"]]},{"id":"ca40153.6317f68","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `hume_int`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":340,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"fbfc2c73.e56418","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":340,"wires":[["ca40153.6317f68"]]},{"id":"a409c06c.4c885","type":"link in","z":"6f26701.f6c739","name":"","links":["4d51e19d.8f1f88"],"x":95,"y":440,"wires":[["15bccc56.f7ecec"]]},{"id":"d0332a15.807","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `temp_out`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":440,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"15bccc56.f7ecec","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":440,"wires":[["d0332a15.807"]]},{"id":"5b5ff363.5b4c7c","type":"link in","z":"6f26701.f6c739","name":"","links":["e64d7026.56855"],"x":95,"y":500,"wires":[["dcb63db5.f8a3e8"]]},{"id":"b9adc8f7.a82f2","type":"template","z":"6f26701.f6c739","name":"insert","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tempera`( `hume_out`) VALUES ('{{payload}}');\n","output":"str","x":410,"y":500,"wires":[["22e784c8.f09d5c","58e17682.ec9578"]]},{"id":"dcb63db5.f8a3e8","type":"delay","z":"6f26701.f6c739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":500,"wires":[["b9adc8f7.a82f2"]]},{"id":"fa48ecee.6ecca","type":"alexa-home","z":"f3d60e61.2dd1f8","conf":"45adb211.c11d1c","device":"100074","acknoledge":false,"name":"calefacción","topic":"","x":70,"y":40,"wires":[["66614344.de9284","7d16323e.5f56cc"]],"info":"https://alexa-node-red.bm.hardill.me.uk/docs"},{"id":"66614344.de9284","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":210,"y":200,"wires":[["36cefbd3.a6638c"],["e0fc3e7.6937b4"],["68d864b4.7177f4"],["33287194.4085ce"],["d1090891.a9a77"],["62d98263.88643c"]]},{"id":"56999b3d.568334","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/calefaccion","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc03406e.951f78","x":970,"y":120,"wires":[]},{"id":"36cefbd3.a6638c","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion - ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"on\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":120,"wires":[["e09e5867.c95ec8","c6f15747.847d88","63db398e.11cda8"]]},{"id":"68d864b4.7177f4","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion - OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["e09e5867.c95ec8","a281ebef.37dbc8","c6f15747.847d88"]]},{"id":"d2ffc55.cdb19b8","type":"alexa-home-resp","z":"f3d60e61.2dd1f8","x":1400,"y":60,"wires":[]},{"id":"d2698afc.ed878","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":60,"wires":[["d2ffc55.cdb19b8","922ba635.635788"]]},{"id":"3d99a0ef.9cdd08","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":500,"wires":[["a23c9705.c1fce"]]},{"id":"33287194.4085ce","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion -setTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"targetTemperature\":{\"value\":24}}","tot":"json"},{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["e09e5867.c95ec8","f72adcdb.ac9d1","1961083e.de253"]]},{"id":"50b587c9.845bd","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":650,"y":500,"wires":[["ff92baaa.cf2318"]]},{"id":"ff92baaa.cf2318","type":"function","z":"f3d60e61.2dd1f8","name":"ASCII to String","func":"msg.payload = msg.payload.toString()\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":500,"wires":[["3d99a0ef.9cdd08","4a79f5be.68fed4"]]},{"id":"820884ed.8ba2c","type":"function","z":"f3d60e61.2dd1f8","name":"hlocalTemp","func":"msg.payload = \"hlocalTemp\"\nreturn msg;\n//Temperatura actual en interior","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":500,"wires":[["50b587c9.845bd"]]},{"id":"a23c9705.c1fce","type":"link out","z":"f3d60e61.2dd1f8","name":"Alexa-out","links":["6b4d1f6f.e0182"],"x":1215,"y":500,"wires":[]},{"id":"6b4d1f6f.e0182","type":"link in","z":"f3d60e61.2dd1f8","name":"Alexa-out","links":["14c46a14.cf7666","a23c9705.c1fce","e09e5867.c95ec8","c5d5bb93.813cf8","a492f08e.756cb"],"x":815,"y":60,"wires":[["d2698afc.ed878"]]},{"id":"e09e5867.c95ec8","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":735,"y":200,"wires":[]},{"id":"e0fc3e7.6937b4","type":"change","z":"f3d60e61.2dd1f8","name":"Calefaccion -decreTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"decre\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["e09e5867.c95ec8","c6f15747.847d88"]]},{"id":"f72adcdb.ac9d1","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-Temp","func":"msg.payload = \"hStay,\"+msg.extra.targetTemperature.value;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["89d4212b.820c"]]},{"id":"89d4212b.820c","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":1050,"y":380,"wires":[["790f814b.cfcff"]]},{"id":"790f814b.cfcff","type":"function","z":"f3d60e61.2dd1f8","name":"ASCII to String","func":"msg.payload = msg.payload.toString()\nreturn msg","outputs":1,"noerr":0,"x":1300,"y":380,"wires":[[]]},{"id":"a281ebef.37dbc8","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-OFF","func":"msg.payload = \"hOff,5\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["89d4212b.820c","c79c0012.4aa438"]]},{"id":"b79fdd4e.357d7","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-Sube 1 temp actual","func":"msg.payload = \"hRaise,1\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["69dcd264.d2bb3c"]]},{"id":"7d16323e.5f56cc","type":"debug","z":"f3d60e61.2dd1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":40,"wires":[]},{"id":"62d98263.88643c","type":"change","z":"f3d60e61.2dd1f8","name":"Clefa- Incremento","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"targetTemperature\":{\"value\":24}}","tot":"json"},{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":580,"wires":[["b79fdd4e.357d7","f9bb68f5.fe3db8"]]},{"id":"14c46a14.cf7666","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":1515,"y":700,"wires":[]},{"id":"69dcd264.d2bb3c","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":1050,"y":580,"wires":[["790f814b.cfcff"]]},{"id":"d1775f.167ac8a","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":700,"wires":[["151604ed.3e4e9b"]]},{"id":"2b6246ee.1ea0ea","type":"tcp request","z":"f3d60e61.2dd1f8","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":830,"y":700,"wires":[["a8229307.7b4c3"]]},{"id":"a8229307.7b4c3","type":"function","z":"f3d60e61.2dd1f8","name":"ASCII to String","func":"msg.payload = msg.payload.toString()\nreturn msg","outputs":1,"noerr":0,"x":1060,"y":700,"wires":[["d1775f.167ac8a"]]},{"id":"f9bb68f5.fe3db8","type":"function","z":"f3d60e61.2dd1f8","name":"hlocalTemp","func":"msg.payload = \"hlocalTemp\"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":700,"wires":[["2b6246ee.1ea0ea"]]},{"id":"151604ed.3e4e9b","type":"function","z":"f3d60e61.2dd1f8","name":"Suma","func":"var i = parseInt(msg.extra.temperatureReading.value);\ni = i +1;\n\nmsg.extra.targetTemperature.value = i;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":700,"wires":[["14c46a14.cf7666","b2303033.4088b"]]},{"id":"c6f15747.847d88","type":"link out","z":"f3d60e61.2dd1f8","name":"mqtt","links":["68c5c419.a1b3f4"],"x":735,"y":120,"wires":[]},{"id":"68c5c419.a1b3f4","type":"link in","z":"f3d60e61.2dd1f8","name":"","links":["c6f15747.847d88","4a79f5be.68fed4","44922194.426228","97c5fd39.7b0048","4103b6d8.3783e8"],"x":815,"y":120,"wires":[["56999b3d.568334","c79c0012.4aa438"]]},{"id":"4a79f5be.68fed4","type":"link out","z":"f3d60e61.2dd1f8","name":"mqtt","links":["68c5c419.a1b3f4"],"x":1015,"y":440,"wires":[]},{"id":"63db398e.11cda8","type":"function","z":"f3d60e61.2dd1f8","name":"Cale-20 - 21.5","func":"msg.payload = \"hStay,20\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":260,"wires":[["89d4212b.820c","c79c0012.4aa438"]]},{"id":"4103b6d8.3783e8","type":"link out","z":"f3d60e61.2dd1f8","name":"mqtt","links":["68c5c419.a1b3f4"],"x":1415,"y":640,"wires":[]},{"id":"7d1f67fd.26abe8","type":"comment","z":"f3d60e61.2dd1f8","name":"","info":"Comprobar que recibo Temp cada 25 segundos para encender y apagar led","x":940,"y":180,"wires":[]},{"id":"fe4670fb.01fee","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1320,"y":560,"wires":[]},{"id":"1681904f.b38dc","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1320,"y":380,"wires":[]},{"id":"d8235e89.ca801","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1320,"y":740,"wires":[]},{"id":"f9c93c6e.dd625","type":"comment","z":"80e7fcae.e60348","name":"","info":"Conectar a los filtros para grabar SQL","x":1300,"y":940,"wires":[]},{"id":"685c25e9.0b067c","type":"ssh-client","z":"ccc70095.e8d18","d":true,"debug":false,"ssh":"","hostname":"192.168.3.151","name":"servidor","x":540,"y":560,"wires":[[]]},{"id":"8babaf97.76475","type":"function","z":"ccc70095.e8d18","name":"Sudo Shutdown -r","func":"msg.payload = \"sudo /sbin/shutdown -r now\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["685c25e9.0b067c"]]},{"id":"9dbaa87d.2e50d8","type":"inject","z":"ccc70095.e8d18","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":560,"wires":[["8babaf97.76475"]]},{"id":"54b39485.f07cec","type":"function","z":"ccc70095.e8d18","name":"RPI-server","func":"msg.payload = \"server,1\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["77856d7d.a0e4b4"]]},{"id":"77856d7d.a0e4b4","type":"tcp request","z":"ccc70095.e8d18","server":"192.168.3.181","port":"2000","out":"time","splitc":"0","name":"","x":490,"y":620,"wires":[[]]},{"id":"b8bc7737.5c8218","type":"inject","z":"ccc70095.e8d18","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":620,"wires":[["54b39485.f07cec"]]},{"id":"7df6a766.21be88","type":"comment","z":"ccc70095.e8d18","name":"","info":"Sirve para poder apagar el server.\nEl primero conectando directamente por ssh\nEl segundo manda el comando server al Servidor python de Rpi","x":97.14285278320312,"y":510,"wires":[]},{"id":"5f419ecf.4ce1e","type":"ui_led","z":"ccc70095.e8d18","order":2,"group":"60a199.33c71668","width":3,"height":1,"label":"Server","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"str"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":710,"y":100,"wires":[]},{"id":"c5a4468a.7c2f3","type":"tcp in","z":"ccc70095.e8d18","name":"","server":"server","host":"","port":"1881","datamode":"stream","datatype":"buffer","newline":"","topic":"payload","base64":false,"x":100,"y":100,"wires":[["3388c60e.477312","22650dd9.e210ba"]]},{"id":"612492e7.a0821c","type":"inject","z":"ccc70095.e8d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":180,"wires":[["a09cb5f4.215cb8","1fe763fd.6df044"]]},{"id":"a09cb5f4.215cb8","type":"timeouttrigger","z":"ccc70095.e8d18","ontimeouttype":"bool","ontimeoutval":"false","duration":"5","units":"s","name":"","x":450,"y":160,"wires":[["5f419ecf.4ce1e","fec08578.dd151"]]},{"id":"d6870f1b.da06e","type":"comment","z":"ccc70095.e8d18","name":"","info":"Control de estado de encendido del server","x":100,"y":40,"wires":[]},{"id":"1454438a.d58284","type":"switch","z":"ccc70095.e8d18","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"core_1","vt":"str"},{"t":"eq","v":"core_2","vt":"str"},{"t":"eq","v":"core_3","vt":"str"},{"t":"eq","v":"core_4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1150,"y":260,"wires":[["14e96d43.812503"],["6ea32bc1.5e4a2c"],["fbfb53eb.1be5c"],["f40731b3.4e592"]]},{"id":"1983e55d.3c2d53","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = \"true\";\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[["5f419ecf.4ce1e","fec08578.dd151"]]},{"id":"1fe763fd.6df044","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.toString();\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["cd8eefc9.ab146"]]},{"id":"20ef86bf.1c515a","type":"json","z":"ccc70095.e8d18","name":"","property":"payload","action":"","pretty":false,"x":850,"y":260,"wires":[["d5e1fddb.b426c8"]]},{"id":"d5e1fddb.b426c8","type":"split","z":"ccc70095.e8d18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":260,"wires":[["1454438a.d58284","98c329f6.2b0fc"]]},{"id":"14e96d43.812503","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":180,"wires":[["1ee0a562.b6651b"]]},{"id":"894036cf.c84a1","type":"ui_gauge","z":"ccc70095.e8d18","name":"","group":"2007caa7.9dc636","order":2,"width":3,"height":3,"gtype":"gage","title":"CPU-2","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":240,"wires":[]},{"id":"6ea32bc1.5e4a2c","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":240,"wires":[["894036cf.c84a1"]]},{"id":"fc0eee9e.2f9988","type":"ui_gauge","z":"ccc70095.e8d18","name":"","group":"2007caa7.9dc636","order":3,"width":3,"height":3,"gtype":"gage","title":"CPU-3","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":300,"wires":[]},{"id":"fbfb53eb.1be5c","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":300,"wires":[["fc0eee9e.2f9988"]]},{"id":"966bb08c.a0ce38","type":"ui_gauge","z":"ccc70095.e8d18","name":"","group":"2007caa7.9dc636","order":4,"width":3,"height":3,"gtype":"gage","title":"CPU-4","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":360,"wires":[]},{"id":"f40731b3.4e592","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.usage;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":360,"wires":[["966bb08c.a0ce38"]]},{"id":"98c329f6.2b0fc","type":"timeouttrigger","z":"ccc70095.e8d18","ontimeouttype":"num","ontimeoutval":"0","duration":"4","units":"s","name":"","x":1230,"y":440,"wires":[["e1b74c19.e4b6c"]]},{"id":"ca29897e.c22a58","type":"comment","z":"ccc70095.e8d18","name":"","info":"Resetear los contadores\n","x":780,"y":640,"wires":[]},{"id":"e1b74c19.e4b6c","type":"switch","z":"ccc70095.e8d18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":440,"wires":[["894036cf.c84a1","fc0eee9e.2f9988","966bb08c.a0ce38","1ee0a562.b6651b"]]},{"id":"86125c3d.2b6c3","type":"link out","z":"fa9b3c4d.e0031","name":"Control_Persia_Ordenador","links":["989eb1ab.13533"],"x":495,"y":140,"wires":[]},{"id":"cbd933b2.d095f","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":280,"wires":[["8c96d5c0.166568","63deb08e.b89d3"],["752a7994.a26658","810d022d.ab013"],["7d523ed3.374f8"],["63deb08e.b89d3","810d022d.ab013"]]},{"id":"989eb1ab.13533","type":"link in","z":"fa9b3c4d.e0031","name":"decision total","links":["86125c3d.2b6c3","fa52b803.f4e088","91ad1bf6.ca80c8","16747088.6b6eaf"],"x":595,"y":280,"wires":[["cbd933b2.d095f"]]},{"id":"8c96d5c0.166568","type":"change","z":"fa9b3c4d.e0031","name":"Sube","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"up\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[["30b1ea54.fc8306"]]},{"id":"7d523ed3.374f8","type":"change","z":"fa9b3c4d.e0031","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["30b1ea54.fc8306"]]},{"id":"b4ed1e8a.9e2d1","type":"json","z":"fa9b3c4d.e0031","name":"","property":"payload","action":"obj","pretty":false,"x":1030,"y":200,"wires":[["30b1ea54.fc8306"]]},{"id":"b27682da.71eec","type":"link in","z":"fa9b3c4d.e0031","name":"persia/per3/order","links":["c89d7483.38f288","5058a9b1.fe5938","30b1ea54.fc8306","4d8441a.98b09c"],"x":895,"y":40,"wires":[["61cc1390.a0768c"]]},{"id":"30b1ea54.fc8306","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["b27682da.71eec"],"x":1155,"y":280,"wires":[]},{"id":"752a7994.a26658","type":"change","z":"fa9b3c4d.e0031","name":"baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["30b1ea54.fc8306"]]},{"id":"13bf59d2.f6f2d6","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":80,"wires":[["f445fe6d.13fcc"],["ff401842.c44608"],["d0956143.15e68"]]},{"id":"ca4eeb59.eda1b8","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${move_time}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":530,"y":720,"wires":[["9ebd2d0e.11b35"]]},{"id":"d22bf217.e22cb","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":910,"y":680,"wires":[["91ad1bf6.ca80c8","a1aaf6fb.7f1a38"],[]]},{"id":"9ebd2d0e.11b35","type":"template","z":"fa9b3c4d.e0031","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":740,"y":720,"wires":[["d22bf217.e22cb"]]},{"id":"f43e1571.5d99e8","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":640,"wires":[["91ad1bf6.ca80c8"]]},{"id":"91ad1bf6.ca80c8","type":"link out","z":"fa9b3c4d.e0031","name":"Control_Persia_Ordenador","links":["989eb1ab.13533"],"x":1095,"y":640,"wires":[]},{"id":"668c607f.5e43c","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":910,"y":920,"wires":[["16747088.6b6eaf","53981b22.80f064"],[]]},{"id":"7f44b9a3.981f38","type":"template","z":"fa9b3c4d.e0031","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":740,"y":960,"wires":[["668c607f.5e43c"]]},{"id":"2af01267.469e6e","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["16747088.6b6eaf"]]},{"id":"16747088.6b6eaf","type":"link out","z":"fa9b3c4d.e0031","name":"Control_Persia_Ordenador","links":["989eb1ab.13533"],"x":1095,"y":880,"wires":[]},{"id":"c4b0adf0.a4f1f","type":"function","z":"fa9b3c4d.e0031","name":"","func":"var i = parseInt(msg.payload);\ni = i * -1;\n\nmsg.payload = i.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1040,"wires":[["7f44b9a3.981f38"]]},{"id":"ee528879.3e2628","type":"comment","z":"fa9b3c4d.e0031","name":"Incremento","info":"Rama para el incremento del 25%\n\nSube persiana","x":90,"y":620,"wires":[]},{"id":"30733c35.f1a6a4","type":"comment","z":"fa9b3c4d.e0031","name":"Decremento","info":"Rama para el Decremento del 25%.\n\nBaja persiana","x":90,"y":880,"wires":[]},{"id":"ff401842.c44608","type":"link out","z":"fa9b3c4d.e0031","name":"Incrementa out","links":["63b2bb59.a03e54"],"x":815,"y":80,"wires":[]},{"id":"63b2bb59.a03e54","type":"link in","z":"fa9b3c4d.e0031","name":"Incrementa-in","links":["fa52b803.f4e088","ff401842.c44608","2aee56b3.d7091a","f5de4fff.0afaf"],"x":135,"y":660,"wires":[["805bc423.e4fe68","da9fc3be.d4c69","b3395f62.8419b"]]},{"id":"1254df1e.3a0fe1","type":"link in","z":"fa9b3c4d.e0031","name":"Decrementa in","links":["fa52b803.f4e088","d0956143.15e68","29648235.bb2f9e"],"x":135,"y":920,"wires":[["9db1f41a.7f0548","3bd7906d.b0b47","83906244.912c58"]]},{"id":"d0956143.15e68","type":"link out","z":"fa9b3c4d.e0031","name":"Incrementa out","links":["1254df1e.3a0fe1"],"x":815,"y":120,"wires":[]},{"id":"f445fe6d.13fcc","type":"link out","z":"fa9b3c4d.e0031","name":"% out","links":["2510bc9f.9188f4"],"x":815,"y":40,"wires":[]},{"id":"63deb08e.b89d3","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":870,"y":200,"wires":[["b4ed1e8a.9e2d1","583a91e.7b94b7"],[]]},{"id":"810d022d.ab013","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":890,"y":340,"wires":[["30b1ea54.fc8306","66356958.6786f8"],[]]},{"id":"10e423e5.5edbec","type":"change","z":"fa9b3c4d.e0031","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["fa52b803.f4e088"]]},{"id":"805bc423.e4fe68","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":660,"wires":[["f43e1571.5d99e8","b058471b.a644f8"],["d22bf217.e22cb"]]},{"id":"9db1f41a.7f0548","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":900,"wires":[["2af01267.469e6e","bf701251.cdbf3"],["668c607f.5e43c"]]},{"id":"14ac0c13.77b9e4","type":"change","z":"fa9b3c4d.e0031","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["c89d7483.38f288"]]},{"id":"c89d7483.38f288","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["b27682da.71eec"],"x":495,"y":180,"wires":[]},{"id":"d15e2c1b.0d171","type":"link in","z":"fa9b3c4d.e0031","name":"Reset","links":["6a9e4975.0534a8","a1aaf6fb.7f1a38","53981b22.80f064"],"x":275,"y":180,"wires":[["10e423e5.5edbec","14ac0c13.77b9e4"]]},{"id":"2afb7067.454ce","type":"delay","z":"fa9b3c4d.e0031","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["13bf59d2.f6f2d6","86125c3d.2b6c3"]]},{"id":"fa52b803.f4e088","type":"link out","z":"fa9b3c4d.e0031","name":"reset OUT","links":["989eb1ab.13533","2510bc9f.9188f4","63b2bb59.a03e54","1254df1e.3a0fe1"],"x":495,"y":220,"wires":[]},{"id":"6a9e4975.0534a8","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["d15e2c1b.0d171"],"x":275,"y":140,"wires":[]},{"id":"8324c228.4dd19","type":"comment","z":"fa9b3c4d.e0031","name":"reset - previo","info":"Reseteo todos los contadores y espero 1 segundo para mandar la nueva orden","x":390,"y":40,"wires":[]},{"id":"f674de3f.a5ce4","type":"comment","z":"fa9b3c4d.e0031","name":"Selector Principal","info":"Aquí se seleccionan todas las ordenes y se envían a MQTT","x":680,"y":220,"wires":[]},{"id":"368f4488.8834cc","type":"function","z":"fa9b3c4d.e0031","name":"Local - 100%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=100;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1160,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"2ecca3dd.3fe57c","type":"function","z":"fa9b3c4d.e0031","name":"Local - 0%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=0;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1220,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"20a5d872.abc028","type":"link in","z":"fa9b3c4d.e0031","name":"Local 100%","links":["583a91e.7b94b7"],"x":315,"y":1160,"wires":[["658bd69e.83f128"]]},{"id":"ed7609c6.517498","type":"link in","z":"fa9b3c4d.e0031","name":"Local 0%","links":["66356958.6786f8","ebd10f25.1d563"],"x":315,"y":1220,"wires":[["4cd0dfb2.2b296"]]},{"id":"66356958.6786f8","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ed7609c6.517498"],"x":1075,"y":380,"wires":[]},{"id":"583a91e.7b94b7","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["20a5d872.abc028"],"x":995,"y":160,"wires":[]},{"id":"33be32a0.ddc82e","type":"function","z":"fa9b3c4d.e0031","name":"Local Suma","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\n\nlocal.count +=i;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1280,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"3e1fe211.06a58e","type":"link in","z":"fa9b3c4d.e0031","name":"Local Suma","links":["da9fc3be.d4c69"],"x":315,"y":1280,"wires":[["8fa2e14e.6456d"]]},{"id":"3bd7906d.b0b47","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ff7deb41.674b08"],"x":275,"y":960,"wires":[]},{"id":"da9fc3be.d4c69","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["3e1fe211.06a58e"],"x":235,"y":760,"wires":[]},{"id":"f1e0be21.5f5a","type":"debug","z":"fa9b3c4d.e0031","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":1220,"wires":[]},{"id":"658bd69e.83f128","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":1160,"wires":[["368f4488.8834cc"],[]]},{"id":"4cd0dfb2.2b296","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":1220,"wires":[["2ecca3dd.3fe57c"],[]]},{"id":"8fa2e14e.6456d","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":1280,"wires":[["33be32a0.ddc82e"],[]]},{"id":"53981b22.80f064","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["d15e2c1b.0d171"],"x":1095,"y":920,"wires":[]},{"id":"a1aaf6fb.7f1a38","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["d15e2c1b.0d171"],"x":1095,"y":680,"wires":[]},{"id":"fe645618.af2188","type":"function","z":"fa9b3c4d.e0031","name":"Local Resta","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\ni = i * -1;\n\nlocal.count -=i;\n\nif (local.count < 0)//test exists\n{\n  local.count=0;\n}\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1340,"wires":[["f1e0be21.5f5a","7092d534.1f47dc"]]},{"id":"ff7deb41.674b08","type":"link in","z":"fa9b3c4d.e0031","name":"Local Resta","links":["3bd7906d.b0b47"],"x":315,"y":1340,"wires":[["5d94dcb9.bd2dc4"]]},{"id":"5d94dcb9.bd2dc4","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":1340,"wires":[["fe645618.af2188"],[]]},{"id":"c5115ed0.2b5f4","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-1","payloadType":"num","x":170,"y":1340,"wires":[["fe645618.af2188"]]},{"id":"5c27fd89.e83f14","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":170,"y":1160,"wires":[["368f4488.8834cc"]]},{"id":"11ade912.245fc7","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":1220,"wires":[["2ecca3dd.3fe57c"]]},{"id":"7be62c6d.5c5634","type":"inject","z":"fa9b3c4d.e0031","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":1280,"wires":[["33be32a0.ddc82e"]]},{"id":"2510bc9f.9188f4","type":"link in","z":"fa9b3c4d.e0031","name":"% in","links":["f445fe6d.13fcc","fa52b803.f4e088"],"x":135,"y":480,"wires":[["2f4e9ae4.40fc26"]]},{"id":"2f4e9ae4.40fc26","type":"function","z":"fa9b3c4d.e0031","name":"Decision up/down","func":"var local=flow.get('data') || {};\n\n\nif (local.count===undefined)//test exists\n{\n  return [ msg, null, null ];\n}\n\n  msg.demand = msg.payload; \n  msg.initial = local.count;\n  \n//Saber si la ventana esta en maximos para decidir que tiempo usar\n\nmsg.time_to_use = \"standar\";\n \nif (local.count===100)//test exists\n{\n    msg.time_to_use = \"up_whit_correction\";\n  //return [ msg, null, null ];\n}\n\nif (local.count===0)\n{\n    msg.time_to_use = \"down_whit_correction\";\n    \n    //var user_move_time = env.get(\"move_time\");\n    //var correction_up = env.get(\"Up_correction\");\n    \n    //user_move_time = user_move_time+correction_up;\n    //global.set(\"move_time_set\",user_move_time);\n    \n    //msg.time_to_use = user_move_time;\n  \n  //return [ msg, null, null ];\n} \n//-----------------------------------------\n\n\nif (msg.payload > local.count)//test Subir\n{\n  msg.type =\"up\";\n  msg.payload=msg.payload - local.count;\n  if (msg.payload > 100)//test exists\n        {\n            msg.payload=100;\n        }\n\n  return [ null, msg, null ];\n}\n\n\nif (msg.payload < local.count)//test Bajar\n{\n      msg.type =\"down\";\n      msg.payload=local.count - msg.payload;\n      \n      if (msg.payload < 0)//test exists\n            {\n                msg.payload=0;\n            }\n      else {      \n          var i = parseInt(msg.payload);\n          i = i * -1;\n          msg.payload = i;\n       }\n      \n      return [ null, null, msg ];\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":480,"wires":[["a2587652.783fd8","937a81b6.543df","c2aab41.9933d48"],["f5de4fff.0afaf","c2aab41.9933d48"],["29648235.bb2f9e","c2aab41.9933d48"]]},{"id":"f5de4fff.0afaf","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["63b2bb59.a03e54"],"x":455,"y":540,"wires":[]},{"id":"29648235.bb2f9e","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["1254df1e.3a0fe1"],"x":455,"y":580,"wires":[]},{"id":"a19b3726.fb2fb8","type":"change","z":"fa9b3c4d.e0031","name":"Baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[["5058a9b1.fe5938"]]},{"id":"5058a9b1.fe5938","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["b27682da.71eec"],"x":1055,"y":460,"wires":[]},{"id":"db0dd655.c15288","type":"mytimeout","z":"fa9b3c4d.e0031","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":710,"y":500,"wires":[["5058a9b1.fe5938","ebd10f25.1d563","e0141531.9f3b88"],[]]},{"id":"a2587652.783fd8","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":460,"wires":[["a19b3726.fb2fb8"]]},{"id":"ebd10f25.1d563","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ed7609c6.517498"],"x":1055,"y":500,"wires":[]},{"id":"937a81b6.543df","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"backup","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["db0dd655.c15288"]]},{"id":"e0141531.9f3b88","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"backup","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[["2aee56b3.d7091a"]]},{"id":"2aee56b3.d7091a","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["63b2bb59.a03e54"],"x":1055,"y":540,"wires":[]},{"id":"55c58d3f.299204","type":"comment","z":"fa9b3c4d.e0031","name":"%Directo","info":"","x":80,"y":440,"wires":[]},{"id":"9cdbd5ca.aee968","type":"comment","z":"fa9b3c4d.e0031","name":"Porcentajes","info":"Control de variable de estado de porcentaje de persiana.","x":90,"y":1120,"wires":[]},{"id":"26823a59.717336","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"Test de persiana","env":[{"name":"move_time","value":"10","type":"num"}],"x":360,"y":160,"wires":[["cd8fed46.f6294"],["7fee1bc7.55cf74"],[],[],[],[]]},{"id":"459228ca.2171e8","type":"alexa-home","z":"f0ddc17c.4ba93","conf":"45adb211.c11d1c","device":"117695","acknoledge":true,"name":"tiesto","topic":"","x":150,"y":160,"wires":[["26823a59.717336"]],"info":"https://alexa-node-red.bm.hardill.me.uk/devices"},{"id":"827ba467.222188","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"7092d534.1f47dc","type":"function","z":"fa9b3c4d.e0031","name":"","func":"msg.payload = \"Persiana al \"+msg.payload+\"%\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1340,"wires":[[]]},{"id":"4277df20.fbbc","type":"comment","z":"fa9b3c4d.e0031","name":"% de persiana","info":"Salida para sabee el % de la persiana","x":1040,"y":1280,"wires":[]},{"id":"e0ec640c.5ce718","type":"comment","z":"fa9b3c4d.e0031","name":"Estado del nodo","info":"Saber que está trabajando dentro del nodo","x":1000,"y":1400,"wires":[]},{"id":"b058471b.a644f8","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["ca3a8a2e.6f82d8"],"x":155,"y":740,"wires":[]},{"id":"1c8dee.e60ce212","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"% ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1440,"wires":[[]]},{"id":"811f1386.ec439","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Incremento ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1500,"wires":[[]]},{"id":"bf701251.cdbf3","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["eb654dc3.55cd5"],"x":155,"y":980,"wires":[]},{"id":"c2aab41.9933d48","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["fc8e422f.c6ac2"],"x":295,"y":560,"wires":[]},{"id":"ca4b9c61.aa042","type":"change","z":"fa9b3c4d.e0031","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Decremento ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1560,"wires":[[]]},{"id":"fc8e422f.c6ac2","type":"link in","z":"fa9b3c4d.e0031","name":"","links":["c2aab41.9933d48"],"x":695,"y":1440,"wires":[["1c8dee.e60ce212"]]},{"id":"ca3a8a2e.6f82d8","type":"link in","z":"fa9b3c4d.e0031","name":"","links":["b058471b.a644f8"],"x":695,"y":1500,"wires":[["811f1386.ec439"]]},{"id":"eb654dc3.55cd5","type":"link in","z":"fa9b3c4d.e0031","name":"","links":["bf701251.cdbf3"],"x":695,"y":1560,"wires":[["ca4b9c61.aa042"]]},{"id":"7fee1bc7.55cf74","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"72cb428e.3c430c","type":"mqtt out","z":"fa9b3c4d.e0031","name":"MQTT","topic":"${MQTT_Topic}","qos":"1","retain":"","broker":"cc03406e.951f78","x":1150,"y":100,"wires":[]},{"id":"61cc1390.a0768c","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"MQTT_ON","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":100,"wires":[["72cb428e.3c430c"]]},{"id":"87e20296.91045","type":"alexa-home","z":"f0ddc17c.4ba93","conf":"45adb211.c11d1c","device":"117622","acknoledge":true,"name":"persiana","topic":"principal","x":160,"y":280,"wires":[["f0ba9981.8ffa78"]],"info":"https://alexa-node-red.bm.hardill.me.uk/devices"},{"id":"38bb8661.ebd1aa","type":"alexa-home","z":"f0ddc17c.4ba93","conf":"45adb211.c11d1c","device":"117626","acknoledge":true,"name":"persiana de estudio","topic":"principal","x":190,"y":400,"wires":[["e394640a.cc3d18"]],"info":"https://alexa-node-red.bm.hardill.me.uk/devices"},{"id":"2603bd23.c14992","type":"alexa-home","z":"f0ddc17c.4ba93","conf":"45adb211.c11d1c","device":"135911","acknoledge":true,"name":"Persiana de comedor 2","topic":"principal","x":200,"y":520,"wires":[["1266d002.07163","5a0b9304.cfb92c"]],"info":"https://alexa-node-red.bm.hardill.me.uk/devices"},{"id":"f0ba9981.8ffa78","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"","env":[{"name":"move_time","value":"25","type":"num"},{"name":"MQTT_Topic","value":"persia/per3/order","type":"str"},{"name":"up_whit_correction","value":"16","type":"num"},{"name":"down_whit_correction","value":"31","type":"str"}],"x":490,"y":280,"wires":[["977f3eec.f3d9b"],[],[],["827ba467.222188"],[],["8be55b70.cc5e9"]]},{"id":"e394640a.cc3d18","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"","env":[{"name":"move_time","value":"24","type":"num"},{"name":"MQTT_Topic","value":"persia/per2/order","type":"str"},{"name":"up_whit_correction","value":"18","type":"num"},{"name":"down_whit_correction","value":"27","type":"str"},{"name":"Up_correction","value":"0","type":"num"}],"x":490,"y":400,"wires":[["977f3eec.f3d9b"],[],[],["827ba467.222188"],[],["8be55b70.cc5e9"]]},{"id":"1266d002.07163","type":"subflow:fa9b3c4d.e0031","z":"f0ddc17c.4ba93","name":"","env":[{"name":"move_time","value":"24","type":"num"},{"name":"MQTT_Topic","value":"persia/per1/order","type":"str"},{"name":"up_whit_correction","value":"18","type":"num"},{"name":"down_whit_correction","value":"28","type":"str"}],"x":490,"y":520,"wires":[["977f3eec.f3d9b"],[],[],["827ba467.222188"],[],["8be55b70.cc5e9"]]},{"id":"cd8fed46.f6294","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"94d6794c.7a8988","type":"mqtt in","z":"f0ddc17c.4ba93","name":"","topic":"persia/#","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":160,"y":680,"wires":[["47093d8.b6e39c4"]]},{"id":"47093d8.b6e39c4","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":680,"wires":[]},{"id":"629c9c3f.e61024","type":"mqtt in","z":"f3d60e61.2dd1f8","name":"","topic":"persia/temp","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":290,"y":1200,"wires":[["c6d26d6d.32231","ff4d1aa3.e52cf8"]]},{"id":"8f0c7729.355ca8","type":"switch","z":"f3d60e61.2dd1f8","name":"Interior-Exterior","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"termo","vt":"str"},{"t":"eq","v":"per2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":1260,"wires":[["9e72d429.826738"],[]]},{"id":"c6d26d6d.32231","type":"json","z":"f3d60e61.2dd1f8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1260,"wires":[["8f0c7729.355ca8"]]},{"id":"9af63537.ae2bd8","type":"alexa-home","z":"f3d60e61.2dd1f8","conf":"45adb211.c11d1c","device":"118865","acknoledge":false,"name":"Interior","topic":"","x":150,"y":860,"wires":[["9a7e9d01.ef0ac"]],"info":"https://alexa-node-red.bm.hardill.me.uk/docs"},{"id":"d79107f2.f24b48","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/termo/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":710,"y":860,"wires":[]},{"id":"8b6ffd0d.53f8a","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"getTemp\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":860,"wires":[["d79107f2.f24b48"]]},{"id":"9a7e9d01.ef0ac","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":860,"wires":[["8b6ffd0d.53f8a","9f497572.d8efb8","4ab18c54.ebf91c"]]},{"id":"37df3e8a.af48c2","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"interior","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":940,"wires":[["c5d5bb93.813cf8"]]},{"id":"9f497572.d8efb8","type":"delay","z":"f3d60e61.2dd1f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":940,"wires":[["37df3e8a.af48c2"]]},{"id":"c5d5bb93.813cf8","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":795,"y":940,"wires":[]},{"id":"106bfa9c.e0f265","type":"alexa-home","z":"f3d60e61.2dd1f8","conf":"45adb211.c11d1c","device":"118864","acknoledge":false,"name":"Exterior","topic":"","x":160,"y":1000,"wires":[["8b0ceabb.de84d8"]],"info":"https://alexa-node-red.bm.hardill.me.uk/docs"},{"id":"67e38aa5.ab79f4","type":"mqtt out","z":"f3d60e61.2dd1f8","name":"","topic":"persia/per2/order","qos":"1","retain":"","broker":"cc03406e.951f78","x":710,"y":1000,"wires":[]},{"id":"b15bc38d.f5b51","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"getTemp\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1000,"wires":[["67e38aa5.ab79f4"]]},{"id":"8b0ceabb.de84d8","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"GetTemperatureReadingRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1000,"wires":[["b15bc38d.f5b51","39c6f511.f17b1a","4ab18c54.ebf91c"]]},{"id":"3a5fe600.d7448a","type":"change","z":"f3d60e61.2dd1f8","name":"Termo - geTemp","rules":[{"t":"set","p":"extra","pt":"msg","to":"{\"temperatureReading\": {\"value\": 20}}","tot":"json"},{"t":"set","p":"extra.temperatureReading.value","pt":"msg","to":"exterior","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1080,"wires":[["a492f08e.756cb"]]},{"id":"39c6f511.f17b1a","type":"delay","z":"f3d60e61.2dd1f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1080,"wires":[["3a5fe600.d7448a"]]},{"id":"a492f08e.756cb","type":"link out","z":"f3d60e61.2dd1f8","name":"","links":["6b4d1f6f.e0182"],"x":1035,"y":1080,"wires":[]},{"id":"4f145eb4.d223d","type":"comment","z":"f3d60e61.2dd1f8","name":"Temperatura","info":"# Responde con las temperaturas\n * temperatura de exterior\n * temperatura de interior\n# Pagina de test\n * https://developer.amazon.com/alexa/console/ask/test/amzn1.ask.skill.c1ce23b7-d6e2-46b0-82b3-ad6b2bacfbdd/development/es_ES/","x":160,"y":800,"wires":[]},{"id":"9e72d429.826738","type":"change","z":"f3d60e61.2dd1f8","name":"Actu-Temp-Actual-Interior","rules":[{"t":"set","p":"topic","pt":"msg","to":"currentTemp","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1340,"wires":[[]]},{"id":"ff4d1aa3.e52cf8","type":"gate","z":"f3d60e61.2dd1f8","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":830,"y":1200,"wires":[["5f695a59.7a2dac"]]},{"id":"4ab18c54.ebf91c","type":"change","z":"f3d60e61.2dd1f8","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1140,"wires":[["ff4d1aa3.e52cf8"]]},{"id":"f608c800.af2d2","type":"change","z":"f3d60e61.2dd1f8","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1140,"wires":[["ff4d1aa3.e52cf8"]]},{"id":"1e6be1ad.17f856","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"termo","vt":"str"},{"t":"eq","v":"per2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1200,"wires":[["ea03b3b5.46995"],["b6aa2e9e.ac2ac8"]]},{"id":"ea03b3b5.46995","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"interior","pt":"flow","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1140,"wires":[["f608c800.af2d2"]]},{"id":"5f695a59.7a2dac","type":"json","z":"f3d60e61.2dd1f8","name":"","property":"payload","action":"","pretty":false,"x":950,"y":1200,"wires":[["1e6be1ad.17f856"]]},{"id":"b6aa2e9e.ac2ac8","type":"change","z":"f3d60e61.2dd1f8","name":"","rules":[{"t":"set","p":"exterior","pt":"flow","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1200,"wires":[["f608c800.af2d2"]]},{"id":"99010d64.874ff","type":"comment","z":"f3d60e61.2dd1f8","name":"Displ-Calefa-ActualTemp","info":"Extrae la temperatura interior que envía los ESP de manera constante para poder tener un display o actualizar la temperatura.\n\n# Pagina de test\n * https://developer.amazon.com/alexa/console/ask/test/amzn1.ask.skill.c1ce23b7-d6e2-46b0-82b3-ad6b2bacfbdd/development/es_ES/","x":890,"y":1300,"wires":[]},{"id":"2e03c4f0.8deff4","type":"comment","z":"f3d60e61.2dd1f8","name":"Actualizar Valor de Variable","info":"Cambia el valor de la variable para poder pasar la temperatura a Alexa desde Termo-getemp\n\n# Pagina de test\n * https://developer.amazon.com/alexa/console/ask/test/amzn1.ask.skill.c1ce23b7-d6e2-46b0-82b3-ad6b2bacfbdd/development/es_ES/","x":1320,"y":1080,"wires":[]},{"id":"d1090891.a9a77","type":"function","z":"f3d60e61.2dd1f8","name":"htrigger","func":"msg.payload = \"htrigger\"\nreturn msg;\n//Temperatura trigger de calefaccion","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["50b587c9.845bd"]]},{"id":"fec153f7.498318","type":"change","z":"f3d60e61.2dd1f8","name":"Crear paquete","rules":[{"t":"set","p":"topic","pt":"msg","to":"userConfig","tot":"str"},{"t":"set","p":"mqtt","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"isUserCustomLocked\":true,\"userTargetValue\":\"userConfig\",\"isUserCustom\":true,\"mqtt\":true}","tot":"json"},{"t":"set","p":"payload.mqtt","pt":"msg","to":"mqtt","tot":"msg"},{"t":"set","p":"payload.userTargetValue","pt":"msg","to":"payload.mqtt.order","tot":"msg"},{"t":"delete","p":"payload.mqtt","pt":"msg"},{"t":"delete","p":"mqtt","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1460,"wires":[[]]},{"id":"bd5c7459.f1852","type":"mqtt in","z":"f3d60e61.2dd1f8","name":"","topic":"persia/calefaccion","qos":"2","datatype":"auto","broker":"cc03406e.951f78","x":290,"y":1460,"wires":[["c191bbb7.5c9188","bf3cdade.c5447"]]},{"id":"c191bbb7.5c9188","type":"json","z":"f3d60e61.2dd1f8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1460,"wires":[["2f541f15.d6e1"]]},{"id":"1961083e.de253","type":"change","z":"f3d60e61.2dd1f8","name":"Mqtt-SetTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"grados\"}","tot":"json"},{"t":"set","p":"payload.order","pt":"msg","to":"extra.targetTemperature.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":440,"wires":[["4a79f5be.68fed4"]]},{"id":"2f541f15.d6e1","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"payload.order","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"istype","v":"number","vt":"number"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":1460,"wires":[["baec5259.40fb3"],["fec153f7.498318"],["2d6d72a1.07bf9e"]]},{"id":"baec5259.40fb3","type":"change","z":"f3d60e61.2dd1f8","name":"On-21.5","rules":[{"t":"set","p":"payload.order","pt":"msg","to":"21.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1420,"wires":[["fec153f7.498318"]]},{"id":"2d6d72a1.07bf9e","type":"change","z":"f3d60e61.2dd1f8","name":"Off-21.5","rules":[{"t":"set","p":"payload.order","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1500,"wires":[["fec153f7.498318"]]},{"id":"9596ef8c.11df7","type":"comment","z":"f3d60e61.2dd1f8","name":"Actualizar Display de calefacción","info":"\n\n# Pagina de test\n * https://developer.amazon.com/alexa/console/ask/test/amzn1.ask.skill.c1ce23b7-d6e2-46b0-82b3-ad6b2bacfbdd/development/es_ES/","x":340,"y":1400,"wires":[]},{"id":"b2303033.4088b","type":"change","z":"f3d60e61.2dd1f8","name":"Mqtt-Incremento","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"grados\"}","tot":"json"},{"t":"set","p":"payload.order","pt":"msg","to":"extra.targetTemperature.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":640,"wires":[["4103b6d8.3783e8"]]},{"id":"e070fc0c.2a4568","type":"debug","z":"f3d60e61.2dd1f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":1320,"wires":[]},{"id":"c58166ef.c4d7d","type":"switch","z":"f3d60e61.2dd1f8","name":"","property":"payload.targetValue","propertyType":"msg","rules":[{"t":"gte","v":"21","vt":"num"},{"t":"lt","v":"21","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":1340,"wires":[["e070fc0c.2a4568"],[]]},{"id":"bf3cdade.c5447","type":"debug","z":"f3d60e61.2dd1f8","name":"MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":1560,"wires":[]},{"id":"f9de5dbb.a6c4e8","type":"comment","z":"f0ddc17c.4ba93","name":"Dirección de configuración Alexa","info":"https://alexa-node-red.bm.hardill.me.uk/devices\n\nSecundaria_\n\nhttps://red.cb-net.co.uk/devices","x":240,"y":80,"wires":[]},{"id":"87e9e40d.c6feb8","type":"alexa-home","z":"f0ddc17c.4ba93","d":true,"conf":"45adb211.c11d1c","device":"120328","acknoledge":true,"name":"","topic":"block","x":170,"y":340,"wires":[["f0ba9981.8ffa78"]],"info":"https://alexa-node-red.bm.hardill.me.uk/devices"},{"id":"4d7648b1.80bdc8","type":"alexa-home","z":"f0ddc17c.4ba93","d":true,"conf":"45adb211.c11d1c","device":"120327","acknoledge":true,"name":"","topic":"block","x":170,"y":460,"wires":[["e394640a.cc3d18"]],"info":"https://alexa-node-red.bm.hardill.me.uk/devices"},{"id":"1b5adff0.3f3768","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"block","vt":"str"},{"t":"eq","v":"block","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":120,"wires":[["6a9e4975.0534a8","2afb7067.454ce"],["ebe64c6a.dc3f9"]]},{"id":"254b1cca.8a1f4c","type":"link out","z":"fa9b3c4d.e0031","name":"","links":["65f9a03b.8bb04"],"x":495,"y":260,"wires":[]},{"id":"1dc98c81.26ed7b","type":"change","z":"fa9b3c4d.e0031","name":"Block","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"block\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":260,"wires":[["254b1cca.8a1f4c"]]},{"id":"ebe64c6a.dc3f9","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["1dc98c81.26ed7b"],["f898a9f3.801fb"]]},{"id":"f898a9f3.801fb","type":"change","z":"fa9b3c4d.e0031","name":"unlock","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"unlock\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["254b1cca.8a1f4c"]]},{"id":"bca27a09.49e82","type":"mqtt out","z":"ccc70095.e8d18","name":"","topic":"persia/server","qos":"","retain":"","broker":"cc03406e.951f78","x":690,"y":720,"wires":[]},{"id":"fec08578.dd151","type":"ui_led","z":"ccc70095.e8d18","order":2,"group":"80677e24.b1fa78","width":6,"height":1,"label":"Server","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"str"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"server","x":710,"y":140,"wires":[]},{"id":"cd8eefc9.ab146","type":"switch","z":"ccc70095.e8d18","name":"Torrent","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"transmision","vt":"str"},{"t":"eq","v":"transmision","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":260,"wires":[["20ef86bf.1c515a"],["28286aa6.e8ffb6"]]},{"id":"6fa98e50.b0cd","type":"inject","z":"ccc70095.e8d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"torrent\":\"on\"}","payloadType":"json","x":140,"y":720,"wires":[["ebb2386f.a5bad8"]]},{"id":"ebb2386f.a5bad8","type":"ui_switch","z":"ccc70095.e8d18","name":"","label":"Torrent_Switch","tooltip":"","group":"80677e24.b1fa78","order":4,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"torrent\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"torrent\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","x":520,"y":720,"wires":[["bca27a09.49e82"]]},{"id":"8027a7b7.c21258","type":"inject","z":"ccc70095.e8d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"torrent\":\"off\"}","payloadType":"json","x":140,"y":760,"wires":[["ebb2386f.a5bad8"]]},{"id":"adf666ae.f104b8","type":"link in","z":"ccc70095.e8d18","name":"","links":["28286aa6.e8ffb6"],"x":75,"y":1040,"wires":[["f8544dc3.58718","801ab894.b4a26"]]},{"id":"28286aa6.e8ffb6","type":"link out","z":"ccc70095.e8d18","name":"","links":["adf666ae.f104b8"],"x":815,"y":320,"wires":[]},{"id":"f8544dc3.58718","type":"timeouttrigger","z":"ccc70095.e8d18","ontimeouttype":"bool","ontimeoutval":"false","duration":"32","units":"s","name":"","x":250,"y":1080,"wires":[["12c88c55.fcaebc","8a2dc34e.99fc48"]]},{"id":"12c88c55.fcaebc","type":"ui_led","z":"ccc70095.e8d18","order":3,"group":"80677e24.b1fa78","width":6,"height":1,"label":"Torrent","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Torrent","x":520,"y":1040,"wires":[]},{"id":"2a35ebf9.4027ec","type":"debug","z":"ccc70095.e8d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1100,"wires":[]},{"id":"801ab894.b4a26","type":"function","z":"ccc70095.e8d18","name":"","func":"msg.payload = \"true\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1000,"wires":[["12c88c55.fcaebc","2a35ebf9.4027ec","8a2dc34e.99fc48"]]},{"id":"8a2dc34e.99fc48","type":"ui_led","z":"ccc70095.e8d18","order":4,"group":"60a199.33c71668","width":6,"height":1,"label":"Torrent","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Torrent","x":520,"y":1000,"wires":[]},{"id":"2864672d.240d08","type":"comment","z":"ccc70095.e8d18","name":"torrent Status","info":"Leds para indicar como está torrent\nRecibe paquede desde servidor","x":110,"y":960,"wires":[]},{"id":"f707f6a9.87ae08","type":"mqtt out","z":"fa9b3c4d.e0031","name":"MQTT Retain","topic":"${MQTT_Topic}","qos":"1","retain":"true","broker":"cc03406e.951f78","x":620,"y":380,"wires":[]},{"id":"deacf464.c832f","type":"switch","z":"fa9b3c4d.e0031","name":"Cancel","property":"MQTT_ON","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":380,"wires":[["f707f6a9.87ae08"]]},{"id":"65f9a03b.8bb04","type":"link in","z":"fa9b3c4d.e0031","name":"","links":["254b1cca.8a1f4c"],"x":335,"y":380,"wires":[["deacf464.c832f"]]},{"id":"555a5332.142444","type":"alexa-home","z":"f0ddc17c.4ba93","d":true,"conf":"45adb211.c11d1c","device":"120512","acknoledge":true,"name":"","topic":"block","x":170,"y":580,"wires":[["1266d002.07163"]],"info":"https://alexa-node-red.bm.hardill.me.uk/devices"},{"id":"bb74091a.2f0a18","type":"debug","z":"ccc70095.e8d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":520,"wires":[]},{"id":"da03f0dd.5c2a78","type":"switch","z":"ccc70095.e8d18","name":"FromRpiEstudio","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Taller","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":340,"wires":[["7637ee6c.45d87"]]},{"id":"3388c60e.477312","type":"switch","z":"ccc70095.e8d18","name":"FromServer","property":"ip","propertyType":"msg","rules":[{"t":"cont","v":"192.168.3.151","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":100,"wires":[["1fe763fd.6df044","a09cb5f4.215cb8","1983e55d.3c2d53"]]},{"id":"7637ee6c.45d87","type":"link out","z":"ccc70095.e8d18","name":"","links":["2068cf3a.45a42"],"x":635,"y":340,"wires":[]},{"id":"39340efd.8e29d2","type":"function","z":"ccc70095.e8d18","name":"","func":"msg.payload = \"true\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1180,"wires":[["6b9425a0.43e72c","88cf75a4.2a0868"]]},{"id":"6b9425a0.43e72c","type":"ui_led","z":"ccc70095.e8d18","order":1,"group":"60a199.33c71668","width":6,"height":1,"label":"Estudio","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Estudio","x":530,"y":1180,"wires":[]},{"id":"2068cf3a.45a42","type":"link in","z":"ccc70095.e8d18","name":"","links":["7637ee6c.45d87"],"x":75,"y":1180,"wires":[["39340efd.8e29d2","d4777532.19591"]]},{"id":"d4777532.19591","type":"timeouttrigger","z":"ccc70095.e8d18","ontimeouttype":"bool","ontimeoutval":"false","duration":"7","units":"s","name":"","x":250,"y":1220,"wires":[["6b9425a0.43e72c","88cf75a4.2a0868"]]},{"id":"88cf75a4.2a0868","type":"ui_led","z":"ccc70095.e8d18","order":1,"group":"80677e24.b1fa78","width":6,"height":1,"label":"Estudio","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"str"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Estudio","x":520,"y":1220,"wires":[]},{"id":"a1b414bc.a48b28","type":"ui_button","z":"ccc70095.e8d18","name":"","group":"60a199.33c71668","order":6,"width":5,"height":1,"passthru":false,"label":"Trans-Web","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":880,"wires":[["20d9075.7eee778"]]},{"id":"6a7118f.50e6ce8","type":"ui_toast","z":"ccc70095.e8d18","position":"dialog","displayTime":"6","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":450,"y":880,"wires":[[]]},{"id":"20d9075.7eee778","type":"template","z":"ccc70095.e8d18","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p style=\"text-align: center\">Unfortunately Node Red cannot solve this for you. Click on link below to find the one who does</p>\n<p style=\"text-align:center\"><a href=\"http://192.168.3.151:9091/transmission/web/\"  target=\"_blank\" style=\"color:red;font-size:300%\">Open Transmission</a></p>","output":"str","x":280,"y":880,"wires":[["6a7118f.50e6ce8"]]},{"id":"6a7a912d.11ebe","type":"comment","z":"ccc70095.e8d18","name":"Abrir la web de torrent","info":"","x":140,"y":840,"wires":[]},{"id":"1ee0a562.b6651b","type":"ui_gauge","z":"ccc70095.e8d18","g":"95ea86bf.d2cda","name":"","group":"2007caa7.9dc636","order":1,"width":3,"height":3,"gtype":"gage","title":"CPU-1","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":180,"wires":[]},{"id":"22650dd9.e210ba","type":"function","z":"ccc70095.e8d18","name":"ASCII to String","func":"msg.payload = msg.payload.toString();\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":340,"wires":[["da03f0dd.5c2a78","2b1313dc.cd923c"]]},{"id":"1aa3b80c.9bcb78","type":"json","z":"ccc70095.e8d18","name":"","property":"payload","action":"","pretty":false,"x":470,"y":440,"wires":[["628b3329.e2338c","101e8bd6.dad8bc"]]},{"id":"5cebd892.78bbb8","type":"comment","z":"ccc70095.e8d18","name":"Speed Taller","info":"Control de estado de encendido del server","x":490,"y":400,"wires":[]},{"id":"2b1313dc.cd923c","type":"switch","z":"ccc70095.e8d18","name":"Talller-Speed","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Taller","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":440,"wires":[["1aa3b80c.9bcb78"]]},{"id":"f21d7f5f.ec8e2","type":"ui_chart","z":"ccc70095.e8d18","name":"","group":"fa7adc1e.6f7dd","order":1,"width":6,"height":3,"label":"Upload","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":960,"y":420,"wires":[[]]},{"id":"c740e364.bfb448","type":"ui_chart","z":"ccc70095.e8d18","name":"","group":"fa7adc1e.6f7dd","order":2,"width":6,"height":3,"label":"Download","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":960,"y":460,"wires":[[]]},{"id":"628b3329.e2338c","type":"change","z":"ccc70095.e8d18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speeds.upload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":420,"wires":[["f21d7f5f.ec8e2"]]},{"id":"101e8bd6.dad8bc","type":"change","z":"ccc70095.e8d18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speeds.download","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["c740e364.bfb448"]]},{"id":"e738cb12.e17a28","type":"switch","z":"80e7fcae.e60348","name":"Taller","property":"payload.disp","propertyType":"msg","rules":[{"t":"eq","v":"taller","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":980,"wires":[["c1f26fcd.d7a33","3cc45b8e.9990c4"]]},{"id":"c1f26fcd.d7a33","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":980,"wires":[["29a97b21.4b51c4"]]},{"id":"3cc45b8e.9990c4","type":"change","z":"80e7fcae.e60348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1040,"wires":[["137b998e.b1b886"]]},{"id":"29a97b21.4b51c4","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"4cc5f390.dd914c","order":2,"width":3,"height":3,"gtype":"gage","title":"Humedad-Taller","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":900,"y":980,"wires":[]},{"id":"137b998e.b1b886","type":"ui_gauge","z":"80e7fcae.e60348","name":"","group":"4cc5f390.dd914c","order":1,"width":3,"height":3,"gtype":"gage","title":"Temp-Taller","label":"units","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"19","seg2":"25","x":890,"y":1040,"wires":[]},{"id":"2b08d48f.de1a14","type":"link out","z":"63e478e.65faa88","name":"Control_Persia_Ordenador","links":["f4ead960.53dca"],"x":495,"y":140,"wires":[]},{"id":"d8042dcb.478f2","type":"switch","z":"63e478e.65faa88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":280,"wires":[["6df32469.afea7c","40ef8de1.08f02c"],["375113bc.e5c3dc","9ac3f56a.2bbf68"],["c7ad9b07.5b112"],["40ef8de1.08f02c","9ac3f56a.2bbf68"]]},{"id":"f4ead960.53dca","type":"link in","z":"63e478e.65faa88","name":"decision total","links":["2b08d48f.de1a14","2120248f.394364","c28704a9.6cbda","23f553bc.f50dfc"],"x":595,"y":280,"wires":[["d8042dcb.478f2"]]},{"id":"6df32469.afea7c","type":"change","z":"63e478e.65faa88","name":"Sube","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"up\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[["823239b1.9f04b8"]]},{"id":"c7ad9b07.5b112","type":"change","z":"63e478e.65faa88","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["823239b1.9f04b8"]]},{"id":"fe903789.00201","type":"json","z":"63e478e.65faa88","name":"","property":"payload","action":"obj","pretty":false,"x":1030,"y":200,"wires":[["823239b1.9f04b8"]]},{"id":"1c56dbfe.fe5d8c","type":"link in","z":"63e478e.65faa88","name":"persia/per3/order","links":["543204a3.208374","fae2d57d.c1ab08","823239b1.9f04b8","4d8441a.98b09c"],"x":895,"y":40,"wires":[["a5e77256.120518"]]},{"id":"823239b1.9f04b8","type":"link out","z":"63e478e.65faa88","name":"","links":["1c56dbfe.fe5d8c"],"x":1155,"y":280,"wires":[]},{"id":"375113bc.e5c3dc","type":"change","z":"63e478e.65faa88","name":"baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["823239b1.9f04b8"]]},{"id":"b730613e.c64d1","type":"switch","z":"63e478e.65faa88","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":80,"wires":[["1dc26d15.ca55bb"],["f7103b37.fb18a8"],["1729ad6d.47716b"]]},{"id":"7bdcb2df.ff105c","type":"range","z":"63e478e.65faa88","minin":"0","maxin":"100","minout":"0","maxout":"${move_time}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":350,"y":720,"wires":[["a5e8f0d7.8f446"]]},{"id":"f7056922.6e654","type":"mytimeout","z":"63e478e.65faa88","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":770,"y":680,"wires":[["c28704a9.6cbda","8dd5f536.fa7298"],[]]},{"id":"a5e8f0d7.8f446","type":"template","z":"63e478e.65faa88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":520,"y":720,"wires":[["f7056922.6e654"]]},{"id":"40a731f.7ffddd","type":"change","z":"63e478e.65faa88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":640,"wires":[["c28704a9.6cbda"]]},{"id":"c28704a9.6cbda","type":"link out","z":"63e478e.65faa88","name":"Control_Persia_Ordenador","links":["f4ead960.53dca"],"x":975,"y":640,"wires":[]},{"id":"4ebcee6b.a5791","type":"range","z":"63e478e.65faa88","minin":"0","maxin":"100","minout":"0","maxout":"${move_time}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":350,"y":880,"wires":[["7e73c1a2.e6d6e8"]]},{"id":"6564b3b0.bfc76c","type":"mytimeout","z":"63e478e.65faa88","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"off","warning":"","timer":"25","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":850,"y":840,"wires":[["23f553bc.f50dfc","9e4cb586.3df51"],[]]},{"id":"83f1f426.b09f8","type":"template","z":"63e478e.65faa88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{ \n\"payload\": \"on\", \n\"timeout\": {{payload}}, \n\"warning\": true }","output":"json","x":660,"y":880,"wires":[["6564b3b0.bfc76c"]]},{"id":"36ec314f.5c0a0e","type":"change","z":"63e478e.65faa88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":800,"wires":[["23f553bc.f50dfc"]]},{"id":"23f553bc.f50dfc","type":"link out","z":"63e478e.65faa88","name":"Control_Persia_Ordenador","links":["f4ead960.53dca"],"x":975,"y":800,"wires":[]},{"id":"7e73c1a2.e6d6e8","type":"function","z":"63e478e.65faa88","name":"","func":"var i = parseInt(msg.payload);\ni = i * -1;\n\nmsg.payload = i.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":880,"wires":[["83f1f426.b09f8"]]},{"id":"7bdec9b3.6075a","type":"comment","z":"63e478e.65faa88","name":"Incremento","info":"Rama para el incremento del 25%\n\nSube persiana","x":90,"y":620,"wires":[]},{"id":"2f355a8b.81a7ae","type":"comment","z":"63e478e.65faa88","name":"Decremento","info":"Rama para el Decremento del 25%.\n\nBaja persiana","x":90,"y":800,"wires":[]},{"id":"f7103b37.fb18a8","type":"link out","z":"63e478e.65faa88","name":"Incrementa out","links":["92065079.5969b"],"x":815,"y":80,"wires":[]},{"id":"92065079.5969b","type":"link in","z":"63e478e.65faa88","name":"Incrementa-in","links":["2120248f.394364","f7103b37.fb18a8","6daf4d9c.8250cc","e52c1604.f796e8"],"x":135,"y":660,"wires":[["7bdcb2df.ff105c","17a2a440.7a132c","52d86f34.c1ca"]]},{"id":"e4d596a1.2e7","type":"link in","z":"63e478e.65faa88","name":"Decrementa in","links":["2120248f.394364","1729ad6d.47716b","3012823f.c8026e"],"x":135,"y":840,"wires":[["4ebcee6b.a5791","7d01983b.9d9e8","15ddc316.a93395"]]},{"id":"1729ad6d.47716b","type":"link out","z":"63e478e.65faa88","name":"Incrementa out","links":["e4d596a1.2e7"],"x":815,"y":120,"wires":[]},{"id":"1dc26d15.ca55bb","type":"link out","z":"63e478e.65faa88","name":"% out","links":["d9fbcedb.10074"],"x":815,"y":40,"wires":[]},{"id":"40ef8de1.08f02c","type":"mytimeout","z":"63e478e.65faa88","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":870,"y":200,"wires":[["fe903789.00201","d0fe6eff.7be808"],[]]},{"id":"9ac3f56a.2bbf68","type":"mytimeout","z":"63e478e.65faa88","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":890,"y":340,"wires":[["823239b1.9f04b8","b37f3fbc.49541"],[]]},{"id":"3d20e0b.76deca","type":"change","z":"63e478e.65faa88","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["2120248f.394364"]]},{"id":"17a2a440.7a132c","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":660,"wires":[["40a731f.7ffddd","ad6fafc4.0a3ee8"],["f7056922.6e654"]]},{"id":"7d01983b.9d9e8","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":820,"wires":[["36ec314f.5c0a0e","559409c3.c40fa"],["6564b3b0.bfc76c"]]},{"id":"1de505f8.4cc8da","type":"change","z":"63e478e.65faa88","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["543204a3.208374"]]},{"id":"543204a3.208374","type":"link out","z":"63e478e.65faa88","name":"","links":["1c56dbfe.fe5d8c"],"x":495,"y":180,"wires":[]},{"id":"a48c24ca.ba67d","type":"link in","z":"63e478e.65faa88","name":"Reset","links":["3f606e56.86ad72","8dd5f536.fa7298","9e4cb586.3df51"],"x":275,"y":180,"wires":[["3d20e0b.76deca","1de505f8.4cc8da"]]},{"id":"98f540f0.db2f18","type":"delay","z":"63e478e.65faa88","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["b730613e.c64d1","2b08d48f.de1a14"]]},{"id":"2120248f.394364","type":"link out","z":"63e478e.65faa88","name":"reset OUT","links":["f4ead960.53dca","d9fbcedb.10074","92065079.5969b","e4d596a1.2e7"],"x":495,"y":220,"wires":[]},{"id":"3f606e56.86ad72","type":"link out","z":"63e478e.65faa88","name":"","links":["a48c24ca.ba67d"],"x":275,"y":140,"wires":[]},{"id":"102a3d2d.edc7b3","type":"comment","z":"63e478e.65faa88","name":"reset - previo","info":"Reseteo todos los contadores y espero 1 segundo para mandar la nueva orden","x":390,"y":40,"wires":[]},{"id":"a5fc5771.552e98","type":"comment","z":"63e478e.65faa88","name":"Selector Principal","info":"Aquí se seleccionan todas las ordenes y se envían a MQTT","x":680,"y":220,"wires":[]},{"id":"6e2ccb.e8cd8334","type":"function","z":"63e478e.65faa88","name":"Local - 100%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=100;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1000,"wires":[["5c54683a.a8d6a","acac6149.291998"]]},{"id":"11e1f130.dac757","type":"function","z":"63e478e.65faa88","name":"Local - 0%","func":"//var local=context.get('data') || {};\n\nvar local=flow.get('data') || {};\n\nlocal.count=0;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1060,"wires":[["5c54683a.a8d6a","acac6149.291998"]]},{"id":"b14b290f.432de","type":"link in","z":"63e478e.65faa88","name":"Local 100%","links":["d0fe6eff.7be808"],"x":335,"y":1000,"wires":[["5b072c5e.88dbf4"]]},{"id":"87910d13.bcccc8","type":"link in","z":"63e478e.65faa88","name":"Local 0%","links":["b37f3fbc.49541","8454bdfc.54bb98"],"x":335,"y":1060,"wires":[["244945ee.7596aa"]]},{"id":"b37f3fbc.49541","type":"link out","z":"63e478e.65faa88","name":"","links":["87910d13.bcccc8"],"x":1075,"y":380,"wires":[]},{"id":"d0fe6eff.7be808","type":"link out","z":"63e478e.65faa88","name":"","links":["b14b290f.432de"],"x":995,"y":160,"wires":[]},{"id":"3e02e078.acce6","type":"function","z":"63e478e.65faa88","name":"Local Suma","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\n\nlocal.count +=i;\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1120,"wires":[["5c54683a.a8d6a","acac6149.291998"]]},{"id":"ecfea5b0.41846","type":"link in","z":"63e478e.65faa88","name":"Local Suma","links":["52d86f34.c1ca"],"x":335,"y":1120,"wires":[["b915c24e.0f6f"]]},{"id":"15ddc316.a93395","type":"link out","z":"63e478e.65faa88","name":"","links":["bb763427.0b1498"],"x":275,"y":920,"wires":[]},{"id":"52d86f34.c1ca","type":"link out","z":"63e478e.65faa88","name":"","links":["ecfea5b0.41846"],"x":275,"y":760,"wires":[]},{"id":"5c54683a.a8d6a","type":"debug","z":"63e478e.65faa88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1060,"wires":[]},{"id":"5b072c5e.88dbf4","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1000,"wires":[["6e2ccb.e8cd8334"],[]]},{"id":"244945ee.7596aa","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1060,"wires":[["11e1f130.dac757"],[]]},{"id":"b915c24e.0f6f","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1120,"wires":[["3e02e078.acce6"],[]]},{"id":"9e4cb586.3df51","type":"link out","z":"63e478e.65faa88","name":"","links":["a48c24ca.ba67d"],"x":975,"y":840,"wires":[]},{"id":"8dd5f536.fa7298","type":"link out","z":"63e478e.65faa88","name":"","links":["a48c24ca.ba67d"],"x":975,"y":680,"wires":[]},{"id":"d533c3c8.dadaa","type":"function","z":"63e478e.65faa88","name":"Local Resta","func":"var local=flow.get('data') || {};\n\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\n\nvar i = parseInt(msg.payload);\ni = i * -1;\n\nlocal.count -=i;\n\nif (local.count < 0)//test exists\n{\n  local.count=0;\n}\n\nflow.set('data',local);\n\nmsg.payload=local.count;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1180,"wires":[["5c54683a.a8d6a","acac6149.291998"]]},{"id":"bb763427.0b1498","type":"link in","z":"63e478e.65faa88","name":"Local Resta","links":["15ddc316.a93395"],"x":335,"y":1180,"wires":[["4bfe5198.0e423"]]},{"id":"4bfe5198.0e423","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1180,"wires":[["d533c3c8.dadaa"],[]]},{"id":"7923d13f.510dc8","type":"inject","z":"63e478e.65faa88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-1","payloadType":"num","x":190,"y":1180,"wires":[["d533c3c8.dadaa"]]},{"id":"3f14029a.4f7b66","type":"inject","z":"63e478e.65faa88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":190,"y":1000,"wires":[["6e2ccb.e8cd8334"]]},{"id":"a7c96619.f361f8","type":"inject","z":"63e478e.65faa88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":1060,"wires":[["11e1f130.dac757"]]},{"id":"2dd83b4c.c1a11c","type":"inject","z":"63e478e.65faa88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":1120,"wires":[["3e02e078.acce6"]]},{"id":"d9fbcedb.10074","type":"link in","z":"63e478e.65faa88","name":"% in","links":["1dc26d15.ca55bb","2120248f.394364"],"x":135,"y":480,"wires":[["5223a068.a5d2b8"]]},{"id":"5223a068.a5d2b8","type":"function","z":"63e478e.65faa88","name":"Decision up/down","func":"var local=flow.get('data') || {};\n\n\nif (local.count===undefined)//test exists\n{\n  return [ msg, null, null ];\n}\n\n  msg.demand = msg.payload; \n  msg.initial = local.count;\n\nif (msg.payload > local.count)//test Subir\n{\n  msg.type =\"up\";\n  msg.payload=msg.payload - local.count;\n  if (msg.payload > 100)//test exists\n        {\n            msg.payload=100;\n        }\n\n  return [ null, msg, null ];\n}\n\n\nif (msg.payload < local.count)//test Bajar\n{\n      msg.type =\"down\";\n      msg.payload=local.count - msg.payload;\n      \n      if (msg.payload < 0)//test exists\n            {\n                msg.payload=0;\n            }\n      else {      \n          var i = parseInt(msg.payload);\n          i = i * -1;    //invierto el signo negativo del valor\n          msg.payload = i;\n       }\n    \n      return [ null, null, msg ];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":480,"wires":[["384bdf78.228fc","10ef7bd1.7223cc","43d90a74.c7f6b4"],["e52c1604.f796e8","43d90a74.c7f6b4"],["3012823f.c8026e","43d90a74.c7f6b4"]]},{"id":"e52c1604.f796e8","type":"link out","z":"63e478e.65faa88","name":"","links":["92065079.5969b"],"x":455,"y":540,"wires":[]},{"id":"3012823f.c8026e","type":"link out","z":"63e478e.65faa88","name":"","links":["e4d596a1.2e7"],"x":455,"y":580,"wires":[]},{"id":"4954a37e.de9c7c","type":"change","z":"63e478e.65faa88","name":"Baja","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"down\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[["fae2d57d.c1ab08"]]},{"id":"fae2d57d.c1ab08","type":"link out","z":"63e478e.65faa88","name":"","links":["1c56dbfe.fe5d8c"],"x":1055,"y":460,"wires":[]},{"id":"f13f6196.6b1ea8","type":"mytimeout","z":"63e478e.65faa88","name":"","outtopic":"","outsafe":"","outwarning":"","outunsafe":"{\"order\":\"stop\"}","warning":"","timer":"${move_time}","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":710,"y":500,"wires":[["fae2d57d.c1ab08","8454bdfc.54bb98","60d22480.b7eaac"],[]]},{"id":"384bdf78.228fc","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":460,"wires":[["4954a37e.de9c7c"]]},{"id":"8454bdfc.54bb98","type":"link out","z":"63e478e.65faa88","name":"","links":["87910d13.bcccc8"],"x":1055,"y":500,"wires":[]},{"id":"10ef7bd1.7223cc","type":"change","z":"63e478e.65faa88","name":"","rules":[{"t":"set","p":"backup","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["f13f6196.6b1ea8"]]},{"id":"60d22480.b7eaac","type":"change","z":"63e478e.65faa88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"backup","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[["6daf4d9c.8250cc"]]},{"id":"6daf4d9c.8250cc","type":"link out","z":"63e478e.65faa88","name":"","links":["92065079.5969b"],"x":1055,"y":540,"wires":[]},{"id":"4cc933e4.acb3ec","type":"comment","z":"63e478e.65faa88","name":"%Directo","info":"","x":80,"y":440,"wires":[]},{"id":"389c374.a3669c8","type":"comment","z":"63e478e.65faa88","name":"Porcentajes","info":"Control de variable de estado de porcentaje de persiana.","x":90,"y":960,"wires":[]},{"id":"acac6149.291998","type":"function","z":"63e478e.65faa88","name":"","func":"msg.payload = \"Persiana al \"+msg.payload+\"%\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1180,"wires":[[]]},{"id":"e6c45224.e16c38","type":"comment","z":"63e478e.65faa88","name":"% de persiana","info":"Salida para sabee el % de la persiana","x":1060,"y":1120,"wires":[]},{"id":"de9a2f0b.21ded","type":"comment","z":"63e478e.65faa88","name":"Estado del nodo","info":"Saber que está trabajando dentro del nodo","x":1020,"y":1240,"wires":[]},{"id":"ad6fafc4.0a3ee8","type":"link out","z":"63e478e.65faa88","name":"","links":["a539e644.e0e88"],"x":155,"y":740,"wires":[]},{"id":"4d50d76a.1133e","type":"change","z":"63e478e.65faa88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"% ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1280,"wires":[[]]},{"id":"550cce7d.c19bc","type":"change","z":"63e478e.65faa88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Incremento ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1340,"wires":[[]]},{"id":"559409c3.c40fa","type":"link out","z":"63e478e.65faa88","name":"","links":["7f5afe65.6cec68"],"x":155,"y":900,"wires":[]},{"id":"43d90a74.c7f6b4","type":"link out","z":"63e478e.65faa88","name":"","links":["2b5fd8f3.bd8208"],"x":295,"y":560,"wires":[]},{"id":"a6e8d642.9e8678","type":"change","z":"63e478e.65faa88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Decremento ON\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1400,"wires":[[]]},{"id":"2b5fd8f3.bd8208","type":"link in","z":"63e478e.65faa88","name":"","links":["43d90a74.c7f6b4"],"x":715,"y":1280,"wires":[["4d50d76a.1133e"]]},{"id":"a539e644.e0e88","type":"link in","z":"63e478e.65faa88","name":"","links":["ad6fafc4.0a3ee8"],"x":715,"y":1340,"wires":[["550cce7d.c19bc"]]},{"id":"7f5afe65.6cec68","type":"link in","z":"63e478e.65faa88","name":"","links":["559409c3.c40fa"],"x":715,"y":1400,"wires":[["a6e8d642.9e8678"]]},{"id":"fa6de207.a77b08","type":"mqtt out","z":"63e478e.65faa88","name":"MQTT","topic":"${MQTT_Topic}","qos":"1","retain":"","broker":"cc03406e.951f78","x":1150,"y":100,"wires":[]},{"id":"a5e77256.120518","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"MQTT_ON","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":100,"wires":[["fa6de207.a77b08"]]},{"id":"d550f1c0.09d7b8","type":"switch","z":"63e478e.65faa88","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"block","vt":"str"},{"t":"eq","v":"block","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":120,"wires":[["3f606e56.86ad72","98f540f0.db2f18"],["30c0f600.875d8a"]]},{"id":"3a7a17c5.851db","type":"link out","z":"63e478e.65faa88","name":"","links":["68113946.401818"],"x":495,"y":260,"wires":[]},{"id":"48c3290f.6cc2f8","type":"change","z":"63e478e.65faa88","name":"Block","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"block\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":260,"wires":[["3a7a17c5.851db"]]},{"id":"30c0f600.875d8a","type":"switch","z":"63e478e.65faa88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["48c3290f.6cc2f8"],["cd43b78a.f9782"]]},{"id":"cd43b78a.f9782","type":"change","z":"63e478e.65faa88","name":"unlock","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"order\":\"unlock\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["3a7a17c5.851db"]]},{"id":"df350fbe.84ace","type":"mqtt out","z":"63e478e.65faa88","name":"MQTT Retain","topic":"${MQTT_Topic}","qos":"1","retain":"true","broker":"cc03406e.951f78","x":620,"y":380,"wires":[]},{"id":"ec4eb5d7.afcf5","type":"switch","z":"63e478e.65faa88","name":"Cancel","property":"MQTT_ON","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":380,"wires":[["df350fbe.84ace"]]},{"id":"68113946.401818","type":"link in","z":"63e478e.65faa88","name":"","links":["3a7a17c5.851db"],"x":335,"y":380,"wires":[["ec4eb5d7.afcf5"]]},{"id":"977f3eec.f3d9b","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":260,"wires":[]},{"id":"b3395f62.8419b","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"time_to_use","propertyType":"msg","rules":[{"t":"eq","v":"standar","vt":"str"},{"t":"null"},{"t":"eq","v":"up_whit_correction","vt":"str"},{"t":"eq","v":"down_whit_correction","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":760,"wires":[["ca4eeb59.eda1b8"],["ca4eeb59.eda1b8"],["717ef713.35a63"],["30ab0d4.8956ff2"]]},{"id":"717ef713.35a63","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${up_whit_correction}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":530,"y":760,"wires":[["9ebd2d0e.11b35"]]},{"id":"30ab0d4.8956ff2","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${down_whit_correction}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":530,"y":800,"wires":[["9ebd2d0e.11b35"]]},{"id":"8be55b70.cc5e9","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"eca93e8d.74a7e8","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${move_time}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":490,"y":980,"wires":[["c4b0adf0.a4f1f"]]},{"id":"83906244.912c58","type":"switch","z":"fa9b3c4d.e0031","name":"","property":"time_to_use","propertyType":"msg","rules":[{"t":"eq","v":"standar","vt":"str"},{"t":"null"},{"t":"eq","v":"up_whit_correction","vt":"str"},{"t":"eq","v":"down_whit_correction","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":1020,"wires":[["eca93e8d.74a7e8"],["eca93e8d.74a7e8"],["db35e674.a78f68"],["401c0185.5d8008"]]},{"id":"db35e674.a78f68","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${up_whit_correction}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":490,"y":1020,"wires":[["c4b0adf0.a4f1f"]]},{"id":"401c0185.5d8008","type":"range","z":"fa9b3c4d.e0031","minin":"0","maxin":"100","minout":"0","maxout":"${down_whit_correction}","action":"scale","round":false,"property":"payload","name":"conversor tiempo","x":490,"y":1060,"wires":[["c4b0adf0.a4f1f"]]},{"id":"71b26012.8fa7e","type":"comment","z":"f0ddc17c.4ba93","name":"Paquete de entrada","info":"","x":800,"y":340,"wires":[]},{"id":"1f965254.935f5e","type":"comment","z":"f0ddc17c.4ba93","name":"Mensajes MQTT","info":"","x":780,"y":220,"wires":[]},{"id":"1c00f273.4a4ab6","type":"comment","z":"f0ddc17c.4ba93","name":"Porcentaje en tiempo + Stop","info":"","x":820,"y":480,"wires":[]},{"id":"3f6f4cfc.f2a8ac","type":"inject","z":"f3d60e61.2dd1f8","name":"Temp configurado","props":[{"p":"command","v":"GetTemperatureReadingRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":520,"wires":[["66614344.de9284"]]},{"id":"e5c5f837.9ec65","type":"inject","z":"f3d60e61.2dd1f8","name":"OFF","props":[{"p":"command","v":"TurnOffRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":480,"wires":[["66614344.de9284"]]},{"id":"73a970a5.12a03","type":"inject","z":"f3d60e61.2dd1f8","name":"ON","props":[{"p":"command","v":"TurnOnRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":440,"wires":[["66614344.de9284"]]},{"id":"c79c0012.4aa438","type":"debug","z":"f3d60e61.2dd1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":260,"wires":[]},{"id":"3161d726.e3ea08","type":"tcp in","z":"5ec721c6.6a6898","d":true,"name":"","server":"server","host":"","port":"1881","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":230,"y":140,"wires":[["8f86581e.6e0fa8"]]},{"id":"b63db6e4.31db5","type":"debug","z":"5ec721c6.6a6898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":140,"wires":[]},{"id":"8f86581e.6e0fa8","type":"function","z":"5ec721c6.6a6898","name":"ASCII to String","func":"msg.payload = msg.payload.toString();\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":140,"wires":[["b63db6e4.31db5"]]},{"id":"922ba635.635788","type":"debug","z":"f3d60e61.2dd1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":140,"wires":[]},{"id":"5a0b9304.cfb92c","type":"debug","z":"f0ddc17c.4ba93","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":620,"wires":[]}]